Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

[6.6.x] fix: store release (#614)
  .github/workflows/store-release.yml
Due: none

fix: store release (#615)
  .github/workflows/store-release.yml
Due: none

fix: refund button on declined payments (#547)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/swag-paypal-payment-action-v2-refund.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-order-consts.js
Due: validate openapi typescript, eslint (administration)

fix: eslint
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: refund button on declined payments in 6.6.x (#547)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/swag-paypal-payment-action-v2-refund.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-order-consts.js
Due: validate openapi typescript, eslint (administration)

fix: refund button on declined payments in 6.5.x (#547)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/swag-paypal-payment-action-v2-refund.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-order-consts.js
Due: validate openapi typescript, eslint (administration)

feat: Retry after rate limit error
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  src/RestApi/Exception/PayPalApiException.php
  src/RestApi/RequestService.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
  tests/RestApi/RequestServiceTest.php
Due: validate openapi typescript

fix: handle PayPal retry-after rate limits
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  src/RestApi/Exception/PayPalApiException.php
  src/RestApi/Exception/RetryAfterPayPalApiException.php
  src/RestApi/RequestService.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
  tests/RestApi/RequestServiceTest.php
Due: validate openapi typescript

fix: resolve SwagPayPal pipeline errors
  src/Checkout/Cart/Service/ExcludedProductValidator.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/DevOps/OpenApi/RequireNonOptionalPropertiesProcessor.php
  src/Pos/MessageQueue/Handler/SyncManagerHandler.php
  src/Pos/MessageQueue/Manager/InventorySyncManager.php
  src/Pos/Run/Administration/LogCleaner.php
  src/Pos/Run/Administration/SyncResetter.php
  src/Pos/Sync/ImageSyncer.php
  src/Pos/Sync/Inventory/StockSubscriber.php
  src/Pos/Webhook/WebhookController.php
  src/Resources/app/storefront/src/scss/components/pui.scss
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  src/Webhook/WebhookController.php
  tests/Checkout/Document/Zugferd/ZugferdSubscriberTest.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: validate openapi typescript, eslint (storefront)

fix: resolve SwagPayPal pipeline errors (#625)
  src/Checkout/Cart/Service/ExcludedProductValidator.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/DevOps/OpenApi/RequireNonOptionalPropertiesProcessor.php
  src/Pos/MessageQueue/Handler/SyncManagerHandler.php
  src/Pos/MessageQueue/Manager/InventorySyncManager.php
  src/Pos/Run/Administration/LogCleaner.php
  src/Pos/Run/Administration/SyncResetter.php
  src/Pos/Sync/ImageSyncer.php
  src/Pos/Sync/Inventory/StockSubscriber.php
  src/Pos/Webhook/WebhookController.php
  src/Resources/app/storefront/src/scss/components/pui.scss
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  src/Webhook/WebhookController.php
  tests/Checkout/Document/Zugferd/ZugferdSubscriberTest.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: validate openapi typescript, eslint (storefront)

refactor: remove const helper
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-order-consts.js
Due: validate openapi typescript, eslint (administration)

[6.5.x] fix: refund button on declined payments (#623)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/swag-paypal-payment-action-v2-refund.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-order-consts.js
Due: validate openapi typescript, eslint (administration)

fix: refund button on declined payments (#621)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/swag-paypal-payment-action-v2-refund.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-order-consts.js
Due: validate openapi typescript, eslint (administration)

fix: ecs lint
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  src/Checkout/PUI/Service/PUICustomerDataService.php
  src/DevOps/Command/LocaleScraperCommand.php
  src/Pos/Sync/Context/InventoryContextFactory.php
  src/Pos/Sync/Context/ProductContextFactory.php
  src/Pos/Sync/Product/Util/ProductGroupingCollection.php
  src/Util/Lifecycle/Method/PaymentMethodDataRegistry.php
  src/Util/Lifecycle/State/PosStateService.php
  src/Webhook/Handler/VaultPaymentTokenDeleted.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
  tests/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandlerTest.php
  tests/Checkout/PUI/SalesChannel/PUIPaymentInstructionsRouteTest.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Checkout/Plus/PlusSubscriberTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
  tests/OpenAPISchemaTest.php
  tests/PHPStanBootstrap.php
  tests/Pos/Mock/Repositories/PosInventoryRepoMock.php
  tests/Pos/Mock/Repositories/ProductVisibilityRepoMock.php
  tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php
  tests/Pos/Sync/ImageSyncerTest.php
  tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php
  tests/RestApi/OpenAPISchemaTest.php
  tests/RestApi/PayPalApiCollectionTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Util/Lifecycle/State/PaymentMethodStateServiceTest.php
  tests/Util/Lifecycle/UpdateTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

[6.6.x] Fix broken pipeline (#629)
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  src/Checkout/PUI/Service/PUICustomerDataService.php
  src/DevOps/Command/LocaleScraperCommand.php
  src/Pos/Sync/Context/InventoryContextFactory.php
  src/Pos/Sync/Context/ProductContextFactory.php
  src/Pos/Sync/Product/Util/ProductGroupingCollection.php
  src/Util/Lifecycle/Method/PaymentMethodDataRegistry.php
  src/Util/Lifecycle/State/PosStateService.php
  src/Webhook/Handler/VaultPaymentTokenDeleted.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
  tests/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandlerTest.php
  tests/Checkout/PUI/SalesChannel/PUIPaymentInstructionsRouteTest.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Checkout/Plus/PlusSubscriberTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
  tests/OpenAPISchemaTest.php
  tests/PHPStanBootstrap.php
  tests/Pos/Mock/Repositories/PosInventoryRepoMock.php
  tests/Pos/Mock/Repositories/ProductVisibilityRepoMock.php
  tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php
  tests/Pos/Sync/ImageSyncerTest.php
  tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php
  tests/RestApi/OpenAPISchemaTest.php
  tests/RestApi/PayPalApiCollectionTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Util/Lifecycle/State/PaymentMethodStateServiceTest.php
  tests/Util/Lifecycle/UpdateTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

[6.6.x] fix: refund button on declined payments (#622)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/swag-paypal-payment-action-v2-refund.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-order-consts.js
Due: validate openapi typescript, eslint (administration)

fix: correct broken Rufus
  src/Pos/Api/Authentication/OAuthCredentials.php
  src/Pos/Resource/TokenResource.php
  tests/Pos/Resource/TokenResourceTest.php
Due: validate openapi typescript

fix: correct broken Rufus (#635)
  src/Pos/Api/Authentication/OAuthCredentials.php
  src/Pos/Resource/TokenResource.php
  tests/Pos/Resource/TokenResourceTest.php
Due: validate openapi typescript

fix: inventory stock deprecations
  src/Pos/Sync/Inventory/Calculator/RemoteCalculator.php
  src/Pos/Sync/Inventory/ProductStockAccessor.php
  src/Pos/Sync/Inventory/RemoteUpdater.php
  tests/Pos/Mock/Repositories/ProductRepoMock.php
  tests/Pos/Sync/Inventory/InventoryContextFactoryTest.php
  tests/Pos/Sync/Inventory/InventoryTrait.php
  tests/Pos/Sync/Inventory/RemoteUpdaterTest.php
  tests/Pos/Sync/Inventory/UpdaterTrait.php
Due: validate openapi typescript

fix: ignore POS inventory stock deprecations in phpstan
  phpstan.neon.dist
Due: none

fix: shipping callback payload
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

fix: phpstan deprecations (POS inventory) (#639)
  phpstan.neon.dist
Due: none

[6.5.x] fix: shipping callback payload (#641)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

[6.6.x] fix: shipping callback payload (#640)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

fix: shipping callback payload (#630)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

ci: drop run/acceptance label from dependabot PRs
  .github/dependabot.yaml
Due: none

fix: keep admin tooling on compatible versions
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
  src/Resources/app/administration/src/core/service/api/swag-paypal-settings.service.ts
Due: validate openapi typescript, eslint (administration)

fix: keep vue lint plugin compatible
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
Due: validate openapi typescript, eslint (administration)

fix: sync acceptance lockfile with ci npm
  tests/acceptance/package-lock.json
Due: none

refactor: token usage in Checkout domain
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/sw-first-run-wizard-paypal-credentials.scss
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/sw-settings-shipping-detail/sw-settings-shipping-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-disputes/index.ts
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-detail/swag-paypal-disputes-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-list/swag-paypal-disputes-list.html.twig
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-list/swag-paypal-disputes-list.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.scss
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-pui-details/swag-paypal-pui-details.scss
  src/Resources/app/administration/src/module/swag-paypal-payment/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/page/swag-paypal-payment-detail/swag-paypal-payment-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-account/swag-paypal-pos-account.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-boolean-radio/swag-paypal-pos-boolean-radio.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-continue-setup/swag-paypal-pos-continue-setup.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-status/swag-paypal-pos-status.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-overview/swag-paypal-pos-detail-overview.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-settings/swag-paypal-pos-detail-settings.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos/swag-paypal-pos.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/swag-paypal-pos-wizard-connection-disconnect.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/swag-paypal-pos-wizard-connection-disconnect.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/swag-paypal-pos-wizard-connection-success.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/swag-paypal-pos-wizard-connection-success.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-customization/swag-paypal-pos-wizard-customization.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-finish/swag-paypal-pos-wizard-finish.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-finish/swag-paypal-pos-wizard-finish.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-sync-library/swag-paypal-pos-wizard-sync-library.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-sync-prices/swag-paypal-pos-wizard-sync-prices.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/swag-paypal-pos-wizard.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-locale-select/swag-paypal-settings-locale-select.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/swag-paypal-settings-general.scss
Due: validate openapi typescript, eslint (administration)

fix: use subscription cart service for subscription route
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/Resources/config/services/checkout.xml
  src/Util/Lifecycle/Method/ACDCMethodData.php
  tests/Checkout/SalesChannel/CreateOrderRouteCartServiceTest.php
  tests/Util/Lifecycle/Method/ACDCMethodDataTest.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
