Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix(checkout): mock the cart load route in the taxed cart tests
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: none

fix(checkout): mock the cart load route in the taxed cart tests (#812)
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: none

chore: update version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

feat(administration): add PayPal Businesskredit partner offer banner (#811)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
Due: validate openapi typescript, eslint (administration)

fix(snippets): Fix german snippets in english translations
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
Due: validate openapi typescript, eslint (administration)

fix(snippets): Fix german snippets in english translations (#814)
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
Due: validate openapi typescript, eslint (administration)

chore(phpstan): enable future compatibility rules
  .github/workflows/lint.yml
  composer.json
  phpstan.neon.dist
Due: none

fix(ci): install future rules after strict PHPStan
  .github/workflows/lint.yml
Due: none

chore(phpstan): report unmatched ignored errors
  bin/phpstan-config-generator.php
Due: none

fix(phpstan): remove stale ignores and fix config mock
  bin/phpstan-config-generator.php
  phpstan.neon.dist
  tests/Mock/Setting/Service/SystemConfigServiceMock.php
Due: none

fix: cr
  src/Resources/app/storefront/package-lock.json
  src/Resources/app/storefront/package.json
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Setting/Settings.php
Due: validate openapi typescript, eslint (storefront)

chore(phpstan): enable future compatibility rules (#815)
  .github/workflows/lint.yml
  composer.json
  phpstan.neon.dist
  tests/Mock/Setting/Service/SystemConfigServiceMock.php
Due: none

fix: phpunit
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
Due: none

fix(tests): use PHPUnit 9 compatible data providers
  tests/Util/Lifecycle/UpdateTest.php
Due: none

fix(lifecycle): preserve settings during custom version updates (#802)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Setting/Settings.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

[6.6.x] fix(lifecycle): preserve settings during custom version updates (#806)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Setting/Settings.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

[6.5.x] fix(lifecycle): preserve settings during custom version updates (#807)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Setting/Settings.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

feat: only allow v6 when eligible
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/app/store/merchant-information.fixture.ts
  src/Resources/app/administration/src/app/store/swag-paypal-merchant-information.store.spec.ts
  src/Resources/app/administration/src/app/store/swag-paypal-merchant-information.store.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/config/services/setting.xml
  src/RestApi/Context/UncachedOAuthContext.php
  src/Setting/Service/MerchantIntegrationsService.php
  src/Setting/Service/SdkV6EligibilityService.php
  src/Setting/Service/SettingsSaver.php
  src/Setting/Struct/MerchantInformationStruct.php
  tests/Mock/PayPal/Client/_fixtures/V1/CreateTokenResponseFixture.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
  tests/Setting/Service/MerchantIntegrationsServiceTest.php
  tests/Setting/Service/SdkV6EligibilityServiceTest.php
  tests/Setting/Service/SettingsSaverTest.php
  tests/Setting/SettingsControllerTest.php
Due: validate openapi typescript, eslint (administration)

fix: cr
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Setting/Service/SettingsSaver.php
  tests/Setting/Service/SettingsSaverTest.php
Due: validate openapi typescript, eslint (storefront)

fix: google pay 3ds deadlock
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix: cr
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
Due: validate openapi typescript, eslint (administration)

[6.6.x] fix: google pay 3ds deadlock (#822)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix: google pay 3ds deadlock (#820)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

[6.5.x] fix: google pay 3ds deadlock (#821)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix(checkout): request complete PayPal order response
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  tests/Checkout/Method/ACDCHandlerTest.php
Due: validate openapi typescript

docs(checkout): document authorize payment fix
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix(checkout): request complete ACDC order responses
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/ACDCHandler.php
  tests/Checkout/Method/ACDCHandlerTest.php
Due: validate openapi typescript

docs(checkout): align ACDC changelog wording
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: acdc intent response (#819)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  tests/Checkout/Method/ACDCHandlerTest.php
Due: validate openapi typescript

[6.6.x] fix(checkout): request complete ACDC order responses (#823)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/ACDCHandler.php
  tests/Checkout/Method/ACDCHandlerTest.php
Due: validate openapi typescript

[6.5.x] fix(checkout): request complete ACDC order responses (#824)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/ACDCHandler.php
  tests/Checkout/Method/ACDCHandlerTest.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
