Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: ci
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
  tests/TestBootstrap.php
Due: validate openapi typescript

fix: ci
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: none

fix: add hint for contact phone number transmission for Express (#450) (#461)
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-locale-field/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-locale-field/swag-paypal-locale-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal/index.ts
Due: validate openapi typescript, eslint (administration)

fix: add hint for contact phone number transmission for Express (#450)
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/index.ts
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

fix: cherry-pick mistake
  src/Resources/app/administration/src/module/swag-paypal/index.ts
Due: validate openapi typescript, eslint (administration)

[6.5.x] fix: add hint for contact phone number transmission for Express (#450) (#462)
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

[6.6.x] feat: express checkout shipping callback (#452)
  .github/workflows/integration.yml
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-6.6.0.0.neon.dist
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/ExpressShippingCallbackException.php
  src/Checkout/ExpressCheckout/SalesChannel/AbstractExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/orders_api.xml
  src/RestApi/V2/Api/Order/PaymentSource/Common/Attributes/OrderUpdateCallbackConfig.php
  src/RestApi/V2/Api/Order/PaymentSource/Common/ExperienceContext.php
  src/RestApi/V2/Api/Order/PurchaseUnit.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOption.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOptionCollection.php
  src/RestApi/V2/Api/OrderShippingCallback.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript, eslint (administration)

[6.5.x] feat: express checkout shipping callback (#456)
  .github/workflows/integration.yml
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/ExpressShippingCallbackException.php
  src/Checkout/ExpressCheckout/SalesChannel/AbstractExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/orders_api.xml
  src/RestApi/V2/Api/Order/PaymentSource/Common/Attributes/OrderUpdateCallbackConfig.php
  src/RestApi/V2/Api/Order/PaymentSource/Common/ExperienceContext.php
  src/RestApi/V2/Api/Order/PurchaseUnit.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOption.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOptionCollection.php
  src/RestApi/V2/Api/OrderShippingCallback.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
  tests/TestBootstrap.php
Due: validate openapi typescript, eslint (administration)

feat: add paypal callback toggle
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.scss
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/express_checkout.xml
  src/Setting/Settings.php
  src/Util/Lifecycle/Update.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript, eslint (administration)

fix: ci
  .bc-exclude.php
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript, eslint (administration)

fix: phpstan
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: none

fix: ci min version install
  .github/actions/setup-paypal/action.yml
Due: none

fix: update
  .github/actions/setup-paypal/action.yml
Due: none

fix: ci min version install (#464)
  .github/actions/setup-paypal/action.yml
Due: none

fix: filter cookie provider by active sales channel payment method (#457)
  phpstan-6.7.0.0.neon.dist
  phpstan-baseline.neon
  src/Resources/config/services/storefront.xml
  src/Storefront/Framework/Cookie/CookieProviderSubscriber.php
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: validate openapi typescript

feat: tax status net
  src/AgentCommerce/Tax/AgenticTaxDetector.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

use net for product export prices
  src/AgentCommerce/Subscriber/ProductFilterSubscriber.php
Due: validate openapi typescript

feat: tax status net (#466)
  src/AgentCommerce/Subscriber/ProductFilterSubscriber.php
  src/AgentCommerce/Tax/AgenticTaxDetector.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

feat google pay web component
  src/Resources/app/storefront/package-lock.json
  src/Resources/app/storefront/package.json
  src/Resources/app/storefront/src/base/swag-paypal.express.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/scss/core-js.scss
  src/Resources/views/storefront/paypal/checkout-button.html.twig
  src/Resources/views/storefront/paypal/express-button.html.twig
Due: validate openapi typescript, eslint (storefront)

feat: improve loader
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/helper/paypal-loader.helper.ts
  src/Resources/app/storefront/src/helper/paypal-sdk-loader.helper.ts
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Resources/app/storefront/src/page/swag-paypal.messages.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/types/paypal-core-js.ts
Due: validate openapi typescript, eslint (storefront)

feat: script loading and preloading
  src/Resources/app/storefront/build/webpack.config.js
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/helper/paypal-loader.helper.ts
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Resources/app/storefront/src/page/swag-paypal.messages.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.acdc.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.venmo.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.venmo.ts
  src/Resources/views/storefront/layout/meta.html.twig
  src/Resources/views/storefront/paypal/script-preload.html.twig
Due: validate openapi typescript, eslint (storefront)

feat: eslint
  src/Resources/app/storefront/eslint.config.mjs
  src/Resources/app/storefront/package-lock.json
  src/Resources/app/storefront/package.json
  src/Resources/app/storefront/src/base/paypal-plugin.error.ts
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
  src/Resources/app/storefront/src/base/swag-paypal.express.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
  src/Resources/app/storefront/src/helper/paypal-loader.helper.ts
  src/Resources/app/storefront/src/main.js
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Resources/app/storefront/src/page/swag-paypal.messages.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.acdc.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.venmo.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.venmo.ts
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/app/storefront/src/types/global.types.ts
  src/Resources/app/storefront/src/types/paypal-core-js.ts
  src/Resources/app/storefront/tsconfig.json
  src/Resources/views/storefront/paypal/installment-banner.html.twig
Due: validate openapi typescript, eslint (storefront)

fix: update
  composer.json
  src/Resources/views/storefront/paypal/checkout-button.html.twig
Due: validate openapi typescript

fix: ci
  .bc-exclude.php
  src/Resources/app/storefront/src/base/paypal-plugin.error.ts
  src/RestApi/V1/Resource/TokenResource.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
  tests/Storefront/Data/Service/ApplePayCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: validate openapi typescript, eslint (storefront)

fix: update
  src/Resources/app/storefront/src/base/paypal-plugin.error.ts
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.express.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/helper/paypal-loader.helper.ts
  src/Storefront/Controller/PayPalController.php
Due: validate openapi typescript, eslint (storefront)

feat: page type
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Storefront/Data/Struct/AbstractCheckoutData.php
  src/Storefront/Data/Struct/AbstractScriptData.php
Due: validate openapi typescript

Add associations for billing and shipping address states
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
Due: validate openapi typescript

fix: update
  src/Installment/Banner/BannerData.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/page/swag-paypal.messages.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.venmo.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.venmo.ts
  src/Resources/app/storefront/src/scss/core-js.scss
  src/Resources/app/storefront/src/types/paypal-core-js.ts
  src/Resources/views/storefront/page/checkout/cart/index.html.twig
  src/Resources/views/storefront/paypal/checkout-button.html.twig
  src/Resources/views/storefront/paypal/installment-banner.html.twig
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Storefront/Data/Struct/AbstractScriptData.php
Due: validate openapi typescript, eslint (storefront)

fix: update
  src/Installment/Banner/BannerData.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.scss
  src/Setting/Settings.php
Due: validate openapi typescript, eslint (administration)

fix: update
  phpstan.neon.dist
  src/Checkout/ExpressCheckout/ExpressCheckoutButtonData.php
  src/Installment/Banner/BannerData.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Storefront/Data/Struct/AbstractScriptData.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript

fix: missing country state
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
Due: validate openapi typescript

added changelog entry
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

[6.6.x] fix: filter cookie provider by active sales channel payment method
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/config/services/storefront.xml
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: validate openapi typescript

feat: update
  src/Resources/app/storefront/src/base/paypal-plugin.error.ts
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
  src/Resources/app/storefront/src/base/swag-paypal.express.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/helper/paypal-loader.helper.ts
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Resources/app/storefront/src/page/swag-paypal.messages.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.acdc.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.venmo.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.venmo.ts
  src/Resources/views/storefront/paypal/acdc-form.html.twig
  src/Storefront/Controller/PayPalController.php
Due: validate openapi typescript, eslint (storefront)

[6.5.x] fix: filter cookie provider by active sales channel payment method
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/config/services/storefront.xml
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: validate openapi typescript

feat: admin banner
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sdk-v6-banner/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sdk-v6-banner/swag-paypal-settings-sdk-v6-banner.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sdk-v6-banner/swag-paypal-settings-sdk-v6-banner.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/page/swag-paypal-settings/swag-paypal-settings.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.scss
Due: validate openapi typescript, eslint (administration)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
