Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix(webhook): preserve partial payment and refund states
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/AbstractWebhookHandler.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
  tests/Webhook/Handler/AuthorizationVoidedTest.php
  tests/Webhook/Handler/AuthorizationVoidedV2Test.php
  tests/Webhook/Handler/CaptureDeniedTest.php
  tests/Webhook/Handler/SaleDeniedTest.php
Due: validate openapi typescript

fix: recover payments from PAYER_ACTION_REQUIRED capture rejections (#773)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Exception/PayerActionRequiredException.php
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Method/PayLaterHandler.php
  src/Checkout/Payment/PayPalPaymentHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Resources/config/services/checkout.xml
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
  src/RestApi/Exception/PayPalApiException.php
  src/RestApi/V2/Resource/OrderResource.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Method/PayLaterHandlerTest.php
  tests/Checkout/Payment/Exception/PayerActionRequiredExceptionTest.php
  tests/Checkout/Payment/Method/AbstractPaymentMethodHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/RestApi/Exception/PayPalApiExceptionTest.php
Due: validate openapi typescript

fix(checkout): preserve paid transactions from stale cancellations (#798)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Webhook/Handler/AbstractWebhookHandler.php
  src/Webhook/Handler/AuthorizationVoided.php
  src/Webhook/Handler/CaptureDenied.php
  src/Webhook/Handler/SaleDenied.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
  tests/Webhook/Handler/AuthorizationVoidedTest.php
  tests/Webhook/Handler/AuthorizationVoidedV2Test.php
  tests/Webhook/Handler/CaptureDeniedTest.php
  tests/Webhook/Handler/SaleDeniedTest.php
Due: validate openapi typescript

fix: sort changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

[6.6.x] fix: add PayPal Agentic Commerce sales channel type on update (#855)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/SwagPayPal.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix: add PayPal Agentic Commerce sales channel type on update (#854)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/SwagPayPal.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix(administration): add UTM tracking parameters to the Businesskredit offer link
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.spec.ts
Due: validate openapi typescript, eslint (administration)

fix(administration): add UTM tracking parameters to the Businesskredit offer link (#859)
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: cr
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
Due: validate openapi typescript

fix: stan
  phpstan-6.7.0.0.neon.dist
Due: none

fix: handle pending payments (#771)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Migration/Migration1789983699AddProcessTransitionFromUnconfirmed.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Migration/Migration1789983699AddProcessTransitionFromUnconfirmedTest.php
  tests/Mock/PayPal/Client/_fixtures/V2/CaptureOrderPending.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
Due: validate openapi typescript

fix: payment method availability inside subscription context (#830)
  CHANGELOG_de-DE.md
  phpstan-6.7.0.0.neon.dist
  src/Resources/config/services/checkout.xml
  src/Util/Availability/AvailabilityContextBuilder.php
  tests/Util/Availability/AvailabilityContextBuilderTest.php
Due: validate openapi typescript

fix: handle pending payments (#771)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Migration/Migration1789983699AddProcessTransitionFromUnconfirmed.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Migration/Migration1789983699AddProcessTransitionFromUnconfirmedTest.php
  tests/Mock/PayPal/Client/GuzzleClientMock.php
  tests/Mock/PayPal/Client/_fixtures/V2/CaptureOrderPending.php
Due: validate openapi typescript

fix: ci
  src/Migration/Migration1789983699AddProcessTransitionFromUnconfirmed.php
Due: validate openapi typescript

fix: cr
  tests/Migration/Migration1789983699AddProcessTransitionFromUnconfirmedTest.php
Due: none

fix: cr
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

[6.6.x] fix: handle pending payments (#861)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Migration/Migration1789983699AddProcessTransitionFromUnconfirmed.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Migration/Migration1789983699AddProcessTransitionFromUnconfirmedTest.php
  tests/Mock/PayPal/Client/GuzzleClientMock.php
  tests/Mock/PayPal/Client/_fixtures/V2/CaptureOrderPending.php
Due: validate openapi typescript

[6.5.x] fix: handle pending payments (#862)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Migration/Migration1789983699AddProcessTransitionFromUnconfirmed.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Migration/Migration1789983699AddProcessTransitionFromUnconfirmedTest.php
  tests/Mock/PayPal/Client/GuzzleClientMock.php
  tests/Mock/PayPal/Client/_fixtures/V2/CaptureOrderPending.php
Due: validate openapi typescript

fix: store PUI phone number on the order's billing address (#857)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/PUI/Service/PUICustomerDataService.php
  src/Resources/config/services/pui.xml
  tests/Checkout/PUI/Service/PUICustomerDataServiceTest.php
Due: validate openapi typescript

test: avoid deprecated EntitySearchResult::get()
  tests/Checkout/PUI/Service/PUICustomerDataServiceTest.php
Due: none

refactor: type repositories in PUICustomerDataService
  src/Checkout/PUI/Service/PUICustomerDataService.php
  tests/Checkout/PUI/Service/PUICustomerDataServiceTest.php
Due: validate openapi typescript

test: use a fixed shipping address id
  tests/Checkout/PUI/Service/PUICustomerDataServiceTest.php
Due: none

fix: add eligibility service interface
  src/Setting/Service/SdkV6EligibilityService.php
  src/Setting/Service/SdkV6EligibilityServiceInterface.php
Due: validate openapi typescript

fix: use interface
  src/Setting/Service/MerchantIntegrationsService.php
  src/Setting/Service/SettingsSaver.php
Due: validate openapi typescript

fix: align pay later and p24 availability with paypal
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Method/P24MethodData.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/P24MethodDataTest.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript

fix: list austria and canada in the pay later availability hint
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
Due: validate openapi typescript, eslint (administration)

chore: prepare release
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

chore: prepare release
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: prepare release (#865)
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

[6.6.x] chore: prepare release (#866)
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

[6.5.x] chore: prepare release (#867)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: merge the changelog entries into one
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: align pay later and p24 availability with paypal (#864)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
  src/Util/Lifecycle/Method/P24MethodData.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/P24MethodDataTest.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript, eslint (administration)

fix: store PUI phone number on the order's billing address (#863)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/PUI/Service/PUICustomerDataService.php
  src/Resources/config/services/pui.xml
  tests/Checkout/PUI/Service/PUICustomerDataServiceTest.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
