Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix(deps): correct labels (#370)
  .github/dependabot.yaml
Due: none

chore(phpstan): upstream update
  phpstan.neon.dist
  src/Pos/Sync/Inventory/Calculator/LocalCalculator.php
  src/Pos/Sync/Inventory/Calculator/RemoteCalculator.php
  src/Pos/Sync/Inventory/RemoteUpdater.php
  src/Pos/Sync/InventorySyncer.php
  tests/Checkout/Document/Zugferd/ZugferdSubscriberTest.php
  tests/Pos/Sync/Inventory/InventoryContextFactoryTest.php
Due: validate openapi typescript

fix: phpstan
  src/Pos/Sync/Inventory/Calculator/RemoteCalculator.php
Due: validate openapi typescript

chore(phpstan): upstream update (#374)
  phpstan.neon.dist
  src/Pos/Sync/Inventory/Calculator/LocalCalculator.php
  src/Pos/Sync/Inventory/Calculator/RemoteCalculator.php
  src/Pos/Sync/Inventory/RemoteUpdater.php
  src/Pos/Sync/InventorySyncer.php
  tests/Checkout/Document/Zugferd/ZugferdSubscriberTest.php
  tests/Pos/Sync/Inventory/InventoryContextFactoryTest.php
Due: validate openapi typescript

feat: save/show webhook status
  src/AgentCommerce/HoneyWebhookController.php
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/app/administration/src/core/service/api/swag-paypal-honey-webhook.service.ts
  src/Resources/app/administration/src/global.types.ts
  src/Resources/app/administration/src/init/api-service.init.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.scss
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/routes.xml
  src/Resources/config/services/agent_commerce.xml
  src/Setting/Settings.php
  src/Util/Lifecycle/Update.php
Due: validate openapi typescript, eslint (administration)

Nullsafe
  src/AgentCommerce/HoneyWebhookService.php
Due: validate openapi typescript

Unit tests
  src/AgentCommerce/Util/PayPalCartFactory.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  tests/AgentCommerce/Util/PayPalCartFactoryTest.php
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

fix: ci
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/SalesChannel/CheckoutRouteTest.php
Due: validate openapi typescript

wip
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/Util/Lifecycle/Update.php
Due: validate openapi typescript

optinal price
  src/AgentCommerce/Util/PayPalCartTransformer.php
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
Due: validate openapi typescript

Unit tests (#378)
  src/AgentCommerce/Util/PayPalCartFactory.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  tests/AgentCommerce/Util/PayPalCartFactoryTest.php
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

change HoneyWebhookService response
  src/AgentCommerce/HoneyWebhookController.php
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
Due: validate openapi typescript

change response to JsonResponse
  src/AgentCommerce/HoneyWebhookController.php
Due: validate openapi typescript

Uniform request handling
  src/AgentCommerce/HoneyWebhookService.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

feat: Move the funding eligibility check script out of footer
  src/Resources/views/storefront/base.html.twig
  src/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Data/FundingSubscriber.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

CR and tests
  src/AgentCommerce/Exception/HoneyWebhookExceptions.php
  src/AgentCommerce/HoneyWebhookController.php
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  tests/AgentCommerce/HoneyWebhookServiceMock.php
  tests/AgentCommerce/HoneyWebhookServiceTest.php
Due: validate openapi typescript

generate openapi
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

changed logging
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  tests/AgentCommerce/HoneyClientMock.php
  tests/AgentCommerce/HoneyWebhookServiceTest.php
Due: validate openapi typescript

fix: Update phpstan deprecation ignore
  phpstan-baseline-deprecations.neon
  phpstan.neon.dist
Due: none

Add deprecation comments
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
Due: validate openapi typescript

Update review
  src/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Data/FundingSubscriber.php
Due: validate openapi typescript

Update version
  phpstan-baseline-deprecations.neon
Due: none

Inject client | more logging + exceptions
  src/AgentCommerce/Exception/HoneyWebhookExceptions.php
  src/AgentCommerce/HoneyWebhookController.php
  src/AgentCommerce/HoneyWebhookResult.php
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/HoneyWebhookServiceMock.php
  tests/AgentCommerce/HoneyWebhookServiceTest.php
Due: validate openapi typescript

ecs-fi
  src/AgentCommerce/HoneyWebhookService.php
Due: validate openapi typescript

cr
  src/AgentCommerce/Exception/HoneyWebhookException.php
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  tests/AgentCommerce/HoneyWebhookServiceTest.php
Due: validate openapi typescript

refactor try catch
  src/AgentCommerce/HoneyWebhookService.php
Due: validate openapi typescript

fix: order suffix margin
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
Due: validate openapi typescript, eslint (administration)

fix
  src/AgentCommerce/HoneyWebhookService.php
  tests/AgentCommerce/HoneyWebhookServiceTest.php
Due: validate openapi typescript

fix: order suffix margin (#384)
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
Due: validate openapi typescript, eslint (administration)

Update review
  phpstan-baseline-deprecations.neon
  phpstan.neon.dist
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: validate openapi typescript

Remove swagPayPalFundingEligibility from checkout register and confirm pages
  src/Storefront/Data/FundingSubscriber.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

fix: deactivation with pos sales channel
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/SwagPayPal.php
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/PosStateService.php
Due: validate openapi typescript

fix: phpstan deprecation errors (#382)
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: validate openapi typescript

Update review
  src/Storefront/Data/FundingSubscriber.php
Due: validate openapi typescript

Fix phpstan issues
  phpstan.neon.dist
  src/Storefront/Data/FundingSubscriber.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

feat: save paypal webhook status (#367)
  src/AgentCommerce/Exception/HoneyWebhookException.php
  src/AgentCommerce/HoneyWebhookController.php
  src/AgentCommerce/HoneyWebhookResult.php
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  src/AgentCommerce/WebhookService.php
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/app/administration/src/core/service/api/swag-paypal-honey-webhook.service.ts
  src/Resources/app/administration/src/global.types.ts
  src/Resources/app/administration/src/init/api-service.init.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.scss
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/routes.xml
  src/Resources/config/services/agent_commerce.xml
  src/Setting/Settings.php
  tests/AgentCommerce/HoneyClientMock.php
  tests/AgentCommerce/HoneyWebhookServiceTest.php
Due: validate openapi typescript, eslint (administration)

fix: deactivation with pos sales channel (#366)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/SwagPayPal.php
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/PosStateService.php
Due: validate openapi typescript
