Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

use sales channel repository + added filter
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

use or filter
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

feat: format country state (#517)
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

fix: call setPayment to latest transaction
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/Resources/config/services/checkout.xml
  tests/Checkout/SalesChannel/CreateOrderRouteTest.php
Due: validate openapi typescript

fix pipeline
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/Util/ItemListProvider.php
  src/Pos/MessageQueue/Handler/Sync/ImageSyncHandler.php
  src/Util/Availability/AvailabilityContextBuilder.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
  tests/Pos/Mock/Repositories/RepoTrait.php
Due: validate openapi typescript

feat: Added country state (#518)
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

fix pipeline
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/Util/ItemListProvider.php
  src/Util/Availability/AvailabilityContextBuilder.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
  tests/Pos/Mock/Repositories/AbstractRepoMock.php
  tests/Pos/Mock/Repositories/RepoTrait.php
Due: validate openapi typescript

fix pipeline (#520)
  src/OrdersApi/Builder/Util/ItemListProvider.php
  src/Pos/MessageQueue/Handler/Sync/ImageSyncHandler.php
  src/Util/Availability/AvailabilityContextBuilder.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
  tests/Pos/Mock/Repositories/AbstractRepoMock.php
  tests/Pos/Mock/Repositories/RepoTrait.php
Due: validate openapi typescript

added changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: call setPayment on getOrderFromOrder (#519)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/Resources/config/services/checkout.xml
  tests/Checkout/SalesChannel/CreateOrderRouteTest.php
Due: validate openapi typescript

fix: Shipping can be nullable
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
Due: validate openapi typescript

fix: external id validation
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix pipeline
  src/DevOps/Command/CrawlWebhookEventNames.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript

fix pipeline
  .github/workflows/lint.yml
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

added testcase
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: none

fix pipeline
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

ecs-fix
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

fix violation code
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

fix: array contains violation
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Validation/Constraint/PayPalExternalId.php
  src/AgentCommerce/Validation/Constraint/PayPalExternalIdValidator.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: array contains violation (#526)
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Validation/Constraint/PayPalExternalId.php
  src/AgentCommerce/Validation/Constraint/PayPalExternalIdValidator.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix phpstan errors
  phpstan-6.7.0.0.neon.dist
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: none

feat: new PayPalExternalId constraint
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Validation/Constraint/PayPalExternalId.php
  src/AgentCommerce/Validation/Constraint/PayPalExternalIdValidator.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: public key mismatch
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

fix: bearer auth header + update cart route scope
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: array contains violation
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

fix: remove available shipping methods which do not have calculated prices
  src/AgentCommerce/Util/PayPalCartTransformer.php
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
Due: validate openapi typescript

fix: route scope + shipping address response format
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  tests/AgentCommerce/SalesChannel/DefaultRouteScopeTest.php
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

fix: address line and admin area normalization
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Struct/V1/Address.php
Due: validate openapi typescript

added phpstan ignore
  src/Migration/Migration1626082072AddStatusAndMessageCountToRun.php
  src/Migration/Migration1675420139AddManagerDataToRun.php
  src/Migration/Migration1706111604AddCustomerIdToVault.php
Due: validate openapi typescript

fix: Shipping can be nullable (#523)
  .github/workflows/lint.yml
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  src/DevOps/Command/CrawlWebhookEventNames.php
  src/Migration/Migration1626082072AddStatusAndMessageCountToRun.php
  src/Migration/Migration1675420139AddManagerDataToRun.php
  src/Migration/Migration1706111604AddCustomerIdToVault.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript, eslint (administration)

fix phpstan issues
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/Subscriber/WebhookSubscriberTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: none

move inline phpstan into neon.dist
  phpstan.neon.dist
  src/AgentCommerce/Util/FaviconLoader.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Migration/Migration1626082072AddStatusAndMessageCountToRun.php
  src/Migration/Migration1675420139AddManagerDataToRun.php
  src/Migration/Migration1706111604AddCustomerIdToVault.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/AgentCommerce/SalesChannel/DefaultRouteScopeTest.php
  tests/AgentCommerce/Subscriber/WebhookSubscriberTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: validate openapi typescript, eslint (administration)

fix unit tests
  composer.json
  phpstan-baseline.neon
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript
