Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: ci
  tests/Storefront/Controller/PayPalControllerTest.php
Due: none

feat: pl button
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/storefront/src/scss/core-js.scss
  src/Resources/views/storefront/paypal/checkout-button.html.twig
Due: validate openapi typescript, eslint (administration), eslint (storefront)

feat: acdc style
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.acdc.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.paypal.ts
  src/Resources/app/storefront/src/scss/core-js.scss
  src/Resources/views/storefront/paypal/acdc-form.html.twig
Due: validate openapi typescript, eslint (storefront)

fix: ci
  src/Resources/config/services/paypal_sdk.xml
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRouteTest.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
Due: validate openapi typescript

fix: update
  src/Resources/app/storefront/src/base/paypal-plugin.error.ts
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Resources/app/storefront/src/scss/core-js.scss
  src/Resources/config/services_test.xml
  src/Resources/views/storefront/page/checkout/cart/index.html.twig
Due: validate openapi typescript, eslint (storefront)

fix: acdc loader
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.acdc.ts
Due: validate openapi typescript, eslint (storefront)

fix: ci
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
Due: none

fix: add changelog entry (#474)
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: missing country state
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
Due: validate openapi typescript

fix: add associations for billing and shipping address states (#470)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
Due: validate openapi typescript

Added missing throw on new exception
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
Due: validate openapi typescript

feat(v6): find eligible methods endpoint
  src/Resources/config/services/resource_v1.xml
  src/Resources/config/services/resource_v2.xml
  src/Resources/config/services/util.xml
  src/RestApi/Exception/PayPalApiException.php
  src/RestApi/V1/Resource/TokenResource.php
  src/RestApi/V2/Resource/EligibleMethodsResource.php
  src/Util/Availability/AvailabilityContext.php
  src/Util/Lifecycle/Method/ACDCMethodData.php
  src/Util/Lifecycle/Method/ApplePayMethodData.php
  src/Util/Lifecycle/Method/BancontactMethodData.php
  src/Util/Lifecycle/Method/BlikMethodData.php
  src/Util/Lifecycle/Method/EpsMethodData.php
  src/Util/Lifecycle/Method/GooglePayMethodData.php
  src/Util/Lifecycle/Method/IdealMethodData.php
  src/Util/Lifecycle/Method/P24MethodData.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  src/Util/Lifecycle/Method/PayPalMethodData.php
  src/Util/Lifecycle/Method/PaymentMethodDataRegistry.php
Due: validate openapi typescript

fix: token resource
  src/RestApi/V1/Resource/TokenResource.php
  src/Storefront/Data/Service/AbstractScriptDataService.php
Due: validate openapi typescript

refactor(v6): availability context
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/installment.xml
  src/Util/Availability/AvailabilityContextBuilder.php
  src/Util/Availability/AvailabilityService.php
Due: validate openapi typescript

fix: ci
  src/Resources/config/services/util.xml
  tests/Util/Availability/AvailabilityContextBuilderTest.php
Due: validate openapi typescript

feat(v6): fetch client token
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Checkout/SalesChannel/AbstractClientTokenRoute.php
  src/Checkout/SalesChannel/ClientTokenRoute.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/installment.xml
  src/Resources/config/services/storefront.xml
  src/Storefront/Controller/PayPalController.php
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  src/Storefront/Data/Struct/AbstractScriptData.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript, eslint (storefront)

fix: ci
  tests/OpenAPISchemaTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: none

fix: add deprecations
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
  src/Resources/app/storefront/src/checkout/swag-paypal.pay-later.js
  src/Resources/app/storefront/src/checkout/swag-paypal.sepa.js
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
  src/Resources/app/storefront/src/checkout/swag-paypal.venmo.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
  src/Resources/app/storefront/src/page/swag-paypal.installment-banner.js
  src/Resources/app/storefront/src/scss/base.scss
  src/Resources/app/storefront/src/scss/components/express.scss
  src/Resources/app/storefront/src/scss/components/google-pay.scss
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Resources/app/storefront/tsconfig.json
Due: validate openapi typescript, eslint (storefront)

fix: rename acdc to card fields
  src/Resources/app/storefront/src/main.js
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.card-fields.ts
  src/Resources/app/storefront/src/scss/core-js.scss
  src/Resources/views/storefront/component/payment/payment-method.html.twig
  src/Resources/views/storefront/paypal/acdc-form.html.twig
  src/Resources/views/storefront/paypal/card-fields-form.html.twig
  src/Resources/views/storefront/paypal/checkout-button.html.twig
Due: validate openapi typescript, eslint (storefront)

Added missing throw on new exception (#477)
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
Due: validate openapi typescript

fix: script load
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/helper/paypal-loader.helper.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/types/global.types.ts
  src/Resources/views/storefront/layout/meta.html.twig
  src/Resources/views/storefront/paypal/checkout-button.html.twig
  src/Resources/views/storefront/paypal/meta-tags.html.twig
  src/Resources/views/storefront/paypal/script-preload.html.twig
Due: validate openapi typescript, eslint (storefront)

fix: invert toggle
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Setting/Settings.php
  src/Util/Lifecycle/Update.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript, eslint (administration)

fix: log
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
Due: validate openapi typescript

fix: lint
  src/Resources/app/storefront/src/types/global.types.ts
Due: validate openapi typescript, eslint (storefront)

fix: snippets
  composer.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
Due: validate openapi typescript, eslint (administration)

fix: finalize transaction
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/Struct/V1/Link.php
Due: validate openapi typescript

feat(v6): fetch client token
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Checkout/SalesChannel/AbstractClientTokenRoute.php
  src/Checkout/SalesChannel/ClientTokenRoute.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/installment.xml
  src/Resources/config/services/storefront.xml
  src/Storefront/Controller/PayPalController.php
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  src/Storefront/Data/Struct/AbstractScriptData.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
  tests/OpenAPISchemaTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript, eslint (storefront)

fix tests
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  tests/AgentCommerce/SalesChannel/CheckoutRouteTest.php
Due: validate openapi typescript

fix: express checkout sales channel country fixes #479
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript

fix: dot
  CHANGELOG_de-DE.md
Due: none

fix: finalize transaction (#483)
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/Struct/V1/Link.php
  tests/AgentCommerce/SalesChannel/CheckoutRouteTest.php
Due: validate openapi typescript

fix: cr
  src/Checkout/SalesChannel/ClientTokenRoute.php
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/views/storefront/page/account/order/index.html.twig
  src/Resources/views/storefront/paypal/checkout-button.html.twig
  src/RestApi/V1/Resource/TokenResourceInterface.php
  src/Setting/Service/MerchantIntegrationsService.php
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
  src/Storefront/Data/Struct/AbstractScriptData.php
Due: validate openapi typescript, eslint (administration)

fix: dev dep
  src/Resources/app/storefront/package-lock.json
  src/Resources/app/storefront/package.json
Due: validate openapi typescript, eslint (storefront)

fix: token
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
Due: validate openapi typescript, eslint (storefront)

fix: submit naming
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
Due: validate openapi typescript, eslint (storefront)

fix: google pay tiotal price translation
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/views/storefront/paypal/checkout-button.html.twig
Due: validate openapi typescript, eslint (storefront)

fix pipeline
  .github/actions/setup-paypal/action.yml
Due: none

Update action.yml
  .github/actions/setup-paypal/action.yml
Due: none

[6.5.x] fix: filter cookie provider by active sales channel payment method (#475)
  .github/actions/setup-paypal/action.yml
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/config/services/storefront.xml
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: validate openapi typescript

fix test
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
