Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix: google and apple pay availability
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Method/ApplePayMethodData.php
  src/Util/Lifecycle/Method/GooglePayMethodData.php
Due: validate openapi typescript

fix: google and apple pay availability (#133)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Method/ApplePayMethodData.php
  src/Util/Lifecycle/Method/GooglePayMethodData.php
Due: validate openapi typescript

fix: google and apple pay availability (#134)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Method/ApplePayMethodData.php
  src/Util/Lifecycle/Method/GooglePayMethodData.php
Due: validate openapi typescript

fix: google and apple pay availability (#135)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Method/ApplePayMethodData.php
  src/Util/Lifecycle/Method/GooglePayMethodData.php
Due: validate openapi typescript

chore: review changes
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-customization/swag-paypal-pos-wizard-customization.html.twig
Due: validate openapi typescript, eslint (administration)

feat: change logging behaviour of storefront errors
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

feat: add git attributes
  .eslintignore
  .gitattributes
  package-lock.json
  src/Resources/app/administration/static/img/campaign/2022-10_de.png
  src/Resources/app/administration/static/img/campaign/2022-10_en.png
Due: validate openapi typescript, eslint (administration)

fix: phpunit v11 update
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: none

fix: phpstan update
  phpstan.neon.dist
Due: none

fix: phpunit v11 update (#139)
  phpstan.neon.dist
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: none

feat: change logging behaviour of storefront errors (#128)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

feat: change logging behaviour of storefront errors (#136)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

feat: add git attributes (#137)
  .eslintignore
  .gitattributes
  package-lock.json
  src/Resources/app/administration/static/img/campaign/2022-10_de.png
  src/Resources/app/administration/static/img/campaign/2022-10_en.png
Due: validate openapi typescript, eslint (administration)

fix: phpunit v11 update
  tests/Dispute/Administration/DisputeControllerTest.php
  tests/Pos/Run/SyncManagerTest.php
  tests/RestApi/OpenAPISchemaTest.php
Due: none

fix: update openapi types
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: pipeline (#143)
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/Dispute/Administration/DisputeControllerTest.php
  tests/Pos/Run/SyncManagerTest.php
  tests/RestApi/OpenAPISchemaTest.php
Due: validate openapi typescript, eslint (administration)

feat: add git attributes (#140)
  .eslintignore
  .gitattributes
  package-lock.json
  src/Resources/app/administration/static/img/campaign/2022-10_de.png
  src/Resources/app/administration/static/img/campaign/2022-10_en.png
Due: validate openapi typescript, eslint (administration)

feat: add git attributes (#142)
  .eslintignore
  .gitattributes
  package-lock.json
  src/Resources/app/administration/static/img/campaign/2022-10_de.png
  src/Resources/app/administration/static/img/campaign/2022-10_en.png
Due: validate openapi typescript, eslint (administration)

feat: change logging behaviour of storefront errors (#141)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

refactor: crawl command to devops
  src/DevOps/Command/CrawlWebhookEventNames.php
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/config/services/dev_ops.xml
  src/Resources/config/services/webhook.xml
Due: validate openapi typescript

fix: pipeline
  src/Pos/Payment/PosPayment.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Pos/Payment/PosPaymentTest.php
Due: validate openapi typescript

fix: fallback to supported locale
  .github/workflows/weekly.yml
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Resources/config/services/util.xml
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Util/Command/PaypalLocaleScraperCommand.php
  src/Util/LocaleCodeProvider.php
  src/Util/PaypalLocales.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Util/LocaleCodeProviderTest.php
Due: validate openapi typescript

fix: review changes
  .github/workflows/weekly.yml
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/DevOps/Command/LocaleScraperCommand.php
  src/Resources/config/services/dev_ops.xml
  src/Resources/config/services/util.xml
  src/Util/LocaleCodeProvider.php
  src/Util/PaypalLocales.php
  src/Util/SupportedLocales.php
  tests/Pos/Payment/PosPaymentTest.php
Due: validate openapi typescript

fix: linter cleanup
  src/Util/LocaleCodeProvider.php
  src/Util/SupportedLocales.php
  tests/Pos/Payment/PosPaymentTest.php
Due: validate openapi typescript

fix: changed weekly workflow
  .github/workflows/weekly.yml
Due: none

fix: fixed template issues
  src/DevOps/Command/LocaleScraperCommand.php
Due: validate openapi typescript

fix: test commit
  .github/workflows/admin.yml
  src/Util/SupportedLocales.php
Due: validate openapi typescript

chore: auto update of paypal locales
  src/Util/SupportedLocales.php
Due: validate openapi typescript

fix: fixed template issues
  .github/workflows/weekly.yml
  src/DevOps/Command/LocaleScraperCommand.php
  src/Util/SupportedLocales.php
Due: validate openapi typescript

fix: updated logger type in test
  tests/Util/LocaleCodeProviderTest.php
Due: none

ci: fix auth in weekly workflow
  .github/workflows/weekly.yml
Due: none

ci: fix auth in weekly workflow (#150)
  .github/workflows/weekly.yml
Due: none
