Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: specific Sales Channel hint
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
Due: validate openapi typescript, eslint (administration)

chore(phpstan): upstream IdSearchResult
  src/Pos/Run/Administration/LogCleaner.php
  src/Pos/Run/Administration/SyncResetter.php
  src/Pos/Sync/ImageSyncer.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Mock/Repositories/AbstractRepoMock.php
  tests/Mock/Repositories/PaymentMethodRepoMock.php
  tests/Pos/Mock/Repositories/RepoTrait.php
  tests/Pos/Run/Administration/SyncResetterTest.php
  tests/Pos/Sync/ImageSyncerTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Util/Lifecycle/State/PaymentMethodStateServiceTest.php
  tests/Webhook/Handler/VaultPaymentTokenDeletedTest.php
Due: validate openapi typescript

fix: phpunit
  .github/workflows/integration.yml
Due: none

fix: phpunit
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: none

fix: phpstan
  phpstan-6.7.0.0.neon.dist
  src/Pos/Sync/ImageSyncer.php
  tests/Pos/Run/Administration/SyncResetterTest.php
Due: validate openapi typescript

fix: class alias?
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: none

fix: phpstan
  phpstan-6.7.0.0.neon.dist
Due: none

fix: phpstan 6.6.0
  phpstan-6.6.0.0.neon.dist
Due: none

fix: phpstan
  phpstan.neon.dist
Due: none

fix: phpstan
  phpstan.neon.dist
  src/Pos/Sync/ImageSyncer.php
Due: validate openapi typescript

fix: ci
  .github/workflows/integration.yml
  .github/workflows/lint.yml
Due: none

chore(phpstan): upstream IdSearchResult (#453)
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  phpstan-6.7.0.0.neon.dist
  phpstan.neon.dist
  src/Pos/Run/Administration/LogCleaner.php
  src/Pos/Run/Administration/SyncResetter.php
  src/Pos/Sync/ImageSyncer.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Mock/Repositories/AbstractRepoMock.php
  tests/Mock/Repositories/PaymentMethodRepoMock.php
  tests/Pos/Mock/Repositories/RepoTrait.php
  tests/Pos/Run/Administration/SyncResetterTest.php
  tests/Pos/Sync/ImageSyncerTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Util/Lifecycle/State/PaymentMethodStateServiceTest.php
  tests/Webhook/Handler/VaultPaymentTokenDeletedTest.php
Due: validate openapi typescript

feat: add subscription mixed cart support (#448)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-6.7.0.0.neon.dist
  phpstan-baseline.commercial.neon
  phpstan.neon.dist
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Service/VaultTokenService.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Resources/views/storefront/component/payment/payment-method.html.twig
  src/Resources/views/storefront/page/checkout/confirm/index.html.twig
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
Due: validate openapi typescript

ci: use self-hosted octo-sts
  .github/actions/setup-paypal/action.yml
  .github/workflows/weekly.yml
Due: none

ci: use self-hosted octo-sts (#444)
  .github/actions/setup-paypal/action.yml
  .github/workflows/weekly.yml
Due: none

fix: config inheritance
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
Due: validate openapi typescript, eslint (administration)

ci: use self-hosted octo-sts
  .github/actions/setup-paypal/action.yml
Due: none

ci: use self-hosted octo-sts (#454)
  .github/actions/setup-paypal/action.yml
Due: none

ci: use self-hosted octo-sts (#455)
  .github/actions/setup-paypal/action.yml
Due: none

feat: express checkout shipping callback
  .github/workflows/integration.yml
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/ExpressShippingCallbackException.php
  src/Checkout/ExpressCheckout/SalesChannel/AbstractExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/orders_api.xml
  src/RestApi/V2/Api/Order/PaymentSource/Common/Attributes/OrderUpdateCallbackConfig.php
  src/RestApi/V2/Api/Order/PaymentSource/Common/ExperienceContext.php
  src/RestApi/V2/Api/Order/PurchaseUnit.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOption.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOptionCollection.php
  src/RestApi/V2/Api/OrderShippingCallback.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript, eslint (administration)

fix: ci
  .github/workflows/integration.yml
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
Due: none

fix: save vault token to subscription
  src/Checkout/Payment/Service/VaultTokenService.php
Due: validate openapi typescript

fix: save vault token to subscription (#458)
  src/Checkout/Payment/Service/VaultTokenService.php
Due: validate openapi typescript

fix: cr
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
Due: validate openapi typescript, eslint (administration)

fix: add hint for contact phone number transmission for Express (#450)
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: ci
  .github/workflows/lint.yml
Due: none

fix: ci
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
  tests/TestBootstrap.php
Due: none

fix: filter cookie provider by active sales channel payment methods
  phpstan-6.7.0.0.neon.dist
  phpstan-baseline.neon
  src/Resources/config/services/storefront.xml
  src/Storefront/Framework/Cookie/CookieProviderSubscriber.php
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: validate openapi typescript

ci: fix lint
  .github/workflows/lint.yml
  composer.json
Due: none

fix: ci
  .bc-exclude.php
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
Due: none

fix: ci
  tests/PHPStanBootstrap.php
Due: none

fix: remove bc
  .bc-exclude.php
  .github/workflows/lint.yml
  composer.json
Due: none

fix: add hint for contact phone number transmission for Express (#450)
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-locale-field/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-locale-field/swag-paypal-locale-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal/index.ts
Due: validate openapi typescript, eslint (administration)

fix: jest
  .github/workflows/lint.yml
Due: none

[6.5.x] ci: fix lint (#460)
  .github/workflows/lint.yml
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
Due: none

Update composer.json
  composer.json
Due: none

get service test
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
