Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix: add missing admin path
  src/Util/Lifecycle/State/PosStateService.php
Due: validate openapi typescript

fix: pipeline
  tests/Storefront/Data/Service/ApplePayCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: none

fix: pipeline (#183)
  tests/Storefront/Data/Service/ApplePayCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: none

fix: asset loading with vite (#182)
  src/Resources/app/administration/jest.config.mjs
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-detail/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-detail/sw-sales-channel-modal-detail.html.twig
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/sw-sales-channel-modal-grid.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-account/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-account/swag-paypal-pos-account.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-getting-started/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-getting-started/swag-paypal-pos-getting-started.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.html.twig
  src/Resources/app/administration/src/types/shims.d.ts
  src/Resources/app/administration/src/vite.config.ts
  src/Resources/app/administration/tsconfig.json
  src/Util/Lifecycle/State/PosStateService.php
Due: validate openapi typescript, eslint (administration)

fix: paypal refund modal text fields updated to use the deprecated field
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/index.js
Due: validate openapi typescript, eslint (administration)

fix: refund modal
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/swag-paypal-text-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-textarea-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-textarea-field/swag-paypal-textarea-field.html.twig
Due: validate openapi typescript, eslint (administration)

fix: pipeline (#188)
  tests/Storefront/Data/Service/ApplePayCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: none

fix: refund modal (#187)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/swag-paypal-text-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-textarea-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-textarea-field/swag-paypal-textarea-field.html.twig
Due: validate openapi typescript, eslint (administration)

fix: replace private and deprecated component extensions with implementations fixes shopware/shopware#8272
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-capture/swag-paypal-payment-action-v2-capture.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/swag-paypal-payment-action-v2-refund.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/swag-paypal-text-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-textarea-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-textarea-field/swag-paypal-textarea-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-url-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-url-field/swag-paypal-pos-url-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-settings/swag-paypal-pos-detail-settings.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.html.twig
Due: validate openapi typescript, eslint (administration)

fix: transition progress
  src/Checkout/Payment/Method/PUIHandler.php
  src/Util/PaymentStatusUtil.php
  src/Util/PaymentStatusUtilV2.php
Due: validate openapi typescript

fix: replace private and deprecated component extensions with implementations (#189)
  src/Checkout/Payment/Method/PUIHandler.php
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-capture/swag-paypal-payment-action-v2-capture.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-refund/swag-paypal-payment-action-v2-refund.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-text-field/swag-paypal-text-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-textarea-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-textarea-field/swag-paypal-textarea-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-url-field/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-url-field/swag-paypal-pos-url-field.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-settings/swag-paypal-pos-detail-settings.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.html.twig
  src/Util/PaymentStatusUtil.php
  src/Util/PaymentStatusUtilV2.php
Due: validate openapi typescript, eslint (administration)

fix: paylater button now displays on empty cart
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: order building for Vaulting in AfterOrder
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Resources/app/administration/package-lock.json
  src/Storefront/Controller/PayPalController.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTest.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
  tests/OrdersApi/Builder/VenmoOrderBuilderTest.php
Due: validate openapi typescript, eslint (administration)

fix: code review
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
Due: validate openapi typescript

rename test case
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
  tests/OrdersApi/Builder/VenmoOrderBuilderTest.php
Due: none

fix: order building for Vaulting in AfterOrder (#192)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Resources/app/administration/package-lock.json
  src/Storefront/Controller/PayPalController.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
  tests/OrdersApi/Builder/VenmoOrderBuilderTest.php
Due: validate openapi typescript, eslint (administration)

fix: order form submit with disabled button
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

add changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: order form submit with disabled button (#196)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: pipeline (#183) (#197)
  tests/Storefront/Data/Service/ApplePayCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: none

fix: changed to a cleaner solution
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
Due: validate openapi typescript

fix: paylater button now displays on empty cart
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: added changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: removed unused constant
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: shopware-cli
  composer.json
Due: none

fix: shopware-cli
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: shopware-cli (#199)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: paylater button now displays on empty cart (#198)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: order building for Vaulting in AfterOrder (#192)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Storefront/Controller/PayPalController.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
  tests/OrdersApi/Builder/VenmoOrderBuilderTest.php
Due: validate openapi typescript

fix: added tests and extended cache TTL to 2 hours
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
Due: validate openapi typescript

fix: order building for Vaulting in AfterOrder (#192) (#194)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Storefront/Controller/PayPalController.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
  tests/OrdersApi/Builder/VenmoOrderBuilderTest.php
Due: validate openapi typescript

fix: order building for Vaulting in AfterOrder (#192) (#201)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Storefront/Controller/PayPalController.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
  tests/OrdersApi/Builder/VenmoOrderBuilderTest.php
Due: validate openapi typescript

fix: fixed issue where paylater could incorrectly display
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript
