Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: cherry-pick merge foo in test
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
Due: none

feat: agentic commerce jwks 6.6.x (#742)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/AgenticCommerce/Routing/AgentRequestContextResolver.php
  src/AgenticCommerce/Security/AbstractPayPalJwksProvider.php
  src/AgenticCommerce/Security/PayPalJwksProvider.php
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  src/Resources/app/administration/static/img/paypal-logo.svg
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/config/services/agentic_commerce.xml
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgenticCommerce/Security/PayPalJwksProviderTest.php
  tests/OrdersApi/Builder/Util/ShippingOptionsProviderTest.php
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: phpstan + ecs
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgenticCommerce/Security/PayPalJwksProviderTest.php
  tests/Util/Lifecycle/ActivateDeactivateTest.php
  tests/Util/Lifecycle/InstallUninstallTest.php
  tests/Util/Lifecycle/State/AgenticCommerceServiceTest.php
  tests/Util/Lifecycle/State/PosStateServiceTest.php
Due: none

fix: tests + language json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgenticCommerce/Security/PayPalJwksProviderTest.php
Due: validate openapi typescript, eslint (administration)

fix: enabled agentic conditionally based on core JWK support
  src/Resources/config/services.php
Due: validate openapi typescript

fix: phpstan ignores + js tests
  phpstan-6.6.0.0.neon.dist
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/sw-sales-channel-modal-grid.spec.ts
  src/Resources/config/services.php
Due: validate openapi typescript, eslint (administration)

fix: support swagger-php 6.4 OpenAPI generation
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Setting/Struct/MerchantInformationStruct.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript, eslint (administration)

fix: keep Store API eligibility state stateless
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/config/services/checkout.xml
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
Due: validate openapi typescript

fix: preserve eligibility route compatibility
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
Due: validate openapi typescript

revert: remove Store API eligibility refactor
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/config/services/checkout.xml
Due: validate openapi typescript

bump version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

bump version
  src/RestApi/Exception/PayPalApiException.php
Due: validate openapi typescript

fix(ci): align PayPal SDK dependency and schemas
  composer.json
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix(ci): require stable PayPal SDK release
  composer.json
Due: none

fix(checkout): keep Store API requests stateless
  phpstan-6.7.0.0.neon.dist
  phpstan.neon.dist
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
Due: validate openapi typescript

fix: address review feedback for smart payment button country handling
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/snippet/paypal.de.json
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript, eslint (storefront)

test(checkout): avoid unrelated eligibility assumptions
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
Due: none

fix(api): regenerate schemas with PayPal SDK 1.8
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: some routes create sessions also for store-api requests
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Checkout/SalesChannel/MethodEligibilityStateService.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/storefront.xml
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  tests/Checkout/SalesChannel/MethodEligibilityStateServiceTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

fix: some routes create sessions also for store-api requests (#746)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Checkout/SalesChannel/MethodEligibilityStateService.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/storefront.xml
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  tests/Checkout/SalesChannel/MethodEligibilityStateServiceTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

fix: support swagger-php 6.4 OpenAPI generation (#743)
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Setting/Struct/MerchantInformationStruct.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript, eslint (administration)

fix: accept card payments when 3D Secure data is absent
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Card/AbstractCardValidator.php
  tests/Checkout/Card/AbstractCardValidatorTestCase.php
Due: validate openapi typescript

chore: bump version to 10.7.1
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: migrate OpenAPI processors to swagger-php 6.4 Undefined API
  src/DevOps/OpenApi/PayPalApiStructSnakeCasePropertiesProcessor.php
  src/DevOps/OpenApi/RequireNonOptionalPropertiesProcessor.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript

chore: regenerate OpenAPI schema for swagger-php 6.4
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

ci: ignore swagger-php 6.4 deprecations in the trunk PHPStan run
  phpstan-trunk.neon.dist
Due: none

fix(ci): keep OpenAPI DevOps code compatible with swagger-php 6.4
  phpstan.neon.dist
  src/DevOps/OpenApi/PayPalApiStructSnakeCasePropertiesProcessor.php
  src/DevOps/OpenApi/RequireNonOptionalPropertiesProcessor.php
Due: validate openapi typescript

fix(ci): regenerate OpenAPI schema for swagger-php 6.4 output
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
Due: validate openapi typescript

fix: use route constants
  src/AgenticCommerce/SalesChannel/CheckoutRoute.php
  src/AgenticCommerce/SalesChannel/CreateCartRoute.php
  src/AgenticCommerce/SalesChannel/GetCartRoute.php
  src/AgenticCommerce/SalesChannel/UpdateCartRoute.php
Due: validate openapi typescript

fix(ci): regenerate admin openapi.d.ts for swagger-php 6.4 output
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix(ci): keep OpenAPI DevOps code compatible with swagger-php 6.4 and 6.7.0.0 (#750)
  phpstan.neon.dist
  src/DevOps/OpenApi/PayPalApiStructSnakeCasePropertiesProcessor.php
  src/DevOps/OpenApi/RequireNonOptionalPropertiesProcessor.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

feat: use SCA_WHEN_REQUIRED for ACDC when 3DS is not enforced (#717)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
Due: validate openapi typescript

fix: country not supported for smart payment buttons (#699)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/Exception/MissingCountryIdException.php
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript, eslint (storefront)

fix: accept card payments when 3D Secure data is absent (#715)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Card/AbstractCardValidator.php
  tests/Checkout/Card/AbstractCardValidatorTestCase.php
Due: validate openapi typescript

build: pin babel, eslint & typescript majors blocked by upstream peers
  .github/dependabot.yaml
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
Due: validate openapi typescript, eslint (administration)

build: pin typescript to v6, keep other acceptance bumps
  .github/dependabot.yaml
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: none

chore: prepare store release
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: prepare store release (#754)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix(checkout): charge tax-provider-adjusted total instead of stale transaction amount
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/Util/AmountProvider.php
  src/OrdersApi/Builder/Util/PurchaseUnitProvider.php
  src/OrdersApi/Patch/PurchaseUnitPatchBuilder.php
  tests/Helper/OrderTransactionTrait.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/Util/AmountProviderTest.php
Due: validate openapi typescript

chore: auto update of paypal locales
  src/Util/SupportedLocales.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
