Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix(checkout): reuse successful orders on recurring retries
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  tests/Checkout/Method/ACDCHandlerTest.php
Due: validate openapi typescript

fix: unstable paypal js loading parameters
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/swag-paypal.script-base.js
Due: validate openapi typescript, eslint (storefront)

fix: update
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Storefront/Data/FundingSubscriber.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript, eslint (storefront)

fix: openapi schema
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix(checkout): preserve submitted payments on cancellation
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
Due: validate openapi typescript

fix(checkout): defer the guest logout while PUI instructions are pending
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/PUI/PUISubscriber.php
  tests/Checkout/PUI/PUISubscriberTest.php
Due: validate openapi typescript

fix(checkout): retry deferred PayPal cancellations
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Checkout/Payment/Service/TransactionDataService.php
  src/Resources/config/services/checkout.xml
  src/SwagPayPal.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Method/AbstractTestSyncAPMHandler.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
Due: validate openapi typescript

fix: unstable paypal js loading parameters (#828)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Storefront/Data/FundingSubscriber.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript, eslint (storefront)

fix: update
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Migration/Migration1789983699AddProcessTransitionFromUnconfirmed.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Migration/Migration1789983699AddProcessTransitionFromUnconfirmedTest.php
Due: validate openapi typescript

fix: ignore invalid transitions
  src/Checkout/Payment/Service/OrderExecuteService.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
Due: validate openapi typescript

fix: payment method availability inside subscription context
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/config/services/checkout.xml
  src/Util/Availability/AvailabilityContextBuilder.php
  tests/Util/Availability/AvailabilityContextBuilderTest.php
Due: validate openapi typescript

fix(checkout): defer the guest logout while PUI payment instructions are pending (#827)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/PUI/PUISubscriber.php
  tests/Checkout/PUI/PUISubscriberTest.php
Due: validate openapi typescript

revert(checkout): remove deferred cancellation recovery
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Checkout/Payment/Service/TransactionDataService.php
  src/Resources/config/services/checkout.xml
  src/SwagPayPal.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Method/AbstractTestSyncAPMHandler.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
Due: validate openapi typescript

fix(agentic-commerce): bind agent requests to their sales channel and PayPal merchant
  src/AgenticCommerce/Routing/AgentRequestContextResolver.php
  src/Resources/config/services/agentic_commerce.xml
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

feat(agentic-commerce): mark orders placed via PayPal Agentic Commerce
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/AgenticCommerce/Subscriber/OrderFlagSubscriber.php
  src/Resources/app/administration/src/constant/swag-paypal.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.scss
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/en.json
  src/Resources/app/administration/src/types/entity.ts
  src/Resources/config/services/agentic_commerce.xml
  src/SwagPayPal.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberCheckoutTest.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberTest.php
Due: validate openapi typescript, eslint (administration)

feat(agentic-commerce): mark orders placed via PayPal Agentic Commerce
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/AgenticCommerce/Subscriber/OrderFlagSubscriber.php
  src/Resources/app/administration/src/constant/swag-paypal.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.scss
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/en-GB.json
  src/Resources/app/administration/src/types/entity.ts
  src/Resources/config/services/agentic_commerce.xml
  src/SwagPayPal.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberCheckoutTest.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberTest.php
Due: validate openapi typescript, eslint (administration)

fix(webhook): look up the transaction by PayPal order ID for VAULT.PAYMENT-TOKEN.CREATED
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/VaultPaymentTokenCreated.php
  tests/Webhook/Handler/VaultPaymentTokenCreatedTest.php
Due: validate openapi typescript

fix: correct refund ACL permission check for legacy payments
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/PaymentsApi/Administration/PayPalPaymentController.php
Due: validate openapi typescript

test(agentic-commerce): support Shopware 6.6.0.0 in the order flag tests
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberCheckoutTest.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberTest.php
Due: none

fix(agentic-commerce): use Generator::createSalesChannelContext() in the backported resolver test
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
Due: none

fix(agentic-commerce): add sales channel type during update
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix(lifecycle): register agentic commerce update service
  src/SwagPayPal.php
Due: validate openapi typescript

fix(lifecycle): avoid private agentic service lookup
  src/SwagPayPal.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

feat(agentic-commerce): mark orders placed via PayPal Agentic Commerce (#832)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/AgenticCommerce/Subscriber/OrderFlagSubscriber.php
  src/Resources/app/administration/src/constant/swag-paypal.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.scss
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/en.json
  src/Resources/app/administration/src/types/entity.ts
  src/Resources/config/services/agentic_commerce.xml
  src/SwagPayPal.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberCheckoutTest.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberTest.php
Due: validate openapi typescript, eslint (administration)

[6.6.x] feat(agentic-commerce): mark orders placed via PayPal Agentic Commerce (#833)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/AgenticCommerce/Subscriber/OrderFlagSubscriber.php
  src/Resources/app/administration/src/constant/swag-paypal.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.scss
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-order-list/sw-order-list.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/en-GB.json
  src/Resources/app/administration/src/types/entity.ts
  src/Resources/config/services/agentic_commerce.xml
  src/SwagPayPal.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberCheckoutTest.php
  tests/AgenticCommerce/Subscriber/OrderFlagSubscriberTest.php
Due: validate openapi typescript, eslint (administration)

fix(agentic-commerce): bind agent requests to their sales channel and PayPal merchant (#834)
  src/AgenticCommerce/Routing/AgentRequestContextResolver.php
  src/Resources/config/services/agentic_commerce.xml
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix(agentic-commerce): bind agent requests to their sales channel and PayPal merchant [6.6.x] (#835)
  src/AgenticCommerce/Routing/AgentRequestContextResolver.php
  src/Resources/config/services/agentic_commerce.xml
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

chore(changelog): use the next version placeholder
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

[6.6.x] fix: correct refund ACL permission check for legacy payments (#851)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/PaymentsApi/Administration/PayPalPaymentController.php
Due: validate openapi typescript

[6.5.x] fix: correct refund ACL permission check for legacy payments (#852)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/PaymentsApi/Administration/PayPalPaymentController.php
Due: validate openapi typescript

fix(webhook): look up the transaction by PayPal order ID for VAULT.PAYMENT-TOKEN.CREATED (#849)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/VaultPaymentTokenCreated.php
  tests/Webhook/Handler/VaultPaymentTokenCreatedTest.php
Due: validate openapi typescript

[6.6.x] fix(webhook): look up the transaction by PayPal order ID for VAULT.PAYMENT-TOKEN.CREATED (#850)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/VaultPaymentTokenCreated.php
  tests/Webhook/Handler/VaultPaymentTokenCreatedTest.php
Due: validate openapi typescript

[6.5.x] fix(webhook): look up the transaction by PayPal order ID for VAULT.PAYMENT-TOKEN.CREATED (#853)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/VaultPaymentTokenCreated.php
  tests/Webhook/Handler/VaultPaymentTokenCreatedTest.php
Due: validate openapi typescript
