Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

[6.5.x] fix: PayPal Express rule-based shipping methods not switched on country change (#669)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan.neon.dist
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

feat: Filter agentic sales channel type
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/sw-sales-channel-modal-grid.spec.ts
Due: validate openapi typescript, eslint (administration)

align logic
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/PosStateService.php
  tests/Util/Lifecycle/ActivateDeactivateTest.php
  tests/Util/Lifecycle/InstallUninstallTest.php
  tests/Util/Lifecycle/State/PosStateServiceTest.php
Due: validate openapi typescript

added optional paramenter args
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/sw-sales-channel-modal-grid.spec.ts
Due: validate openapi typescript, eslint (administration)

feat: Un/Install logic (#666)
  src/Migration/Migration1752337399AddAgenticCommerceSalesChannelType.php
  src/Resources/config/services/util.xml
  src/SwagPayPal.php
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/AgenticCommerceService.php
  src/Util/Lifecycle/State/PosStateService.php
  tests/Migration/Migration1752337399AddAgenticCommerceSalesChannelTypeTest.php
  tests/Util/Lifecycle/ActivateDeactivateTest.php
  tests/Util/Lifecycle/InstallUninstallTest.php
  tests/Util/Lifecycle/State/AgenticCommerceServiceTest.php
  tests/Util/Lifecycle/State/PosStateServiceTest.php
Due: validate openapi typescript

feat: agentic commerce jwks
  src/AgenticCommerce/Routing/AgentRequestContextResolver.php
  src/AgenticCommerce/Security/AbstractPayPalJwksProvider.php
  src/AgenticCommerce/Security/PayPalJwksProvider.php
  src/Resources/config/services/agentic_commerce.xml
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgenticCommerce/Security/PayPalJwksProviderTest.php
Due: validate openapi typescript

feat: Filter agentic sales channel type (#671)
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/sw-sales-channel-modal-grid.spec.ts
Due: validate openapi typescript, eslint (administration)

chore: fix cs issues
  src/Util/IntrospectionProcessor.php
  tests/AgenticCommerce/HoneyWebhookServiceTest.php
  tests/AgenticCommerce/Routing/AgentContextResolverListenerTest.php
  tests/AgenticCommerce/Util/PayPalCartTransformerTest.php
Due: validate openapi typescript

fix tests
  src/AgenticCommerce/Subscriber/ProductFilterSubscriber.php
  tests/AgenticCommerce/HoneyWebhookServiceTest.php
Due: validate openapi typescript

fix: adjust agentic webhook log assertions
  tests/AgenticCommerce/HoneyWebhookServiceTest.php
Due: none

fix: use symfony finder
  src/Storefront/Framework/Snippet/SnippetFileLoaderDecorator.php
Due: validate openapi typescript

fix: tests
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
Due: none

fix json
  src/Resources/snippet/storefront/paypal.de-DE.json
Due: validate openapi typescript

fix: tests
  .codex
  tests/AgenticCommerce/Security/PayPalJwksProviderTest.php
Due: none

fix: remove .codex file
  .codex
Due: none

fix: silent checkout failure on expired PayPal order session
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
Due: validate openapi typescript

docs: add CHANGELOG entry for expired PayPal session fix
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: proper jwks key caching
  src/AgenticCommerce/Security/PayPalJwksProvider.php
  tests/AgenticCommerce/Security/PayPalJwksProviderTest.php
Due: validate openapi typescript

chore: fix remaining CI failures
  tests/Checkout/Method/PUIHandlerTest.php
  tests/Pos/Mock/Repositories/AbstractRepoMock.php
  tests/Pos/Mock/Repositories/RepoTrait.php
  tests/Setting/Service/ApiCredentialServiceTest.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
Due: none

feat: agentic commerce jwks (#672)
  src/AgenticCommerce/Routing/AgentRequestContextResolver.php
  src/AgenticCommerce/Security/AbstractPayPalJwksProvider.php
  src/AgenticCommerce/Security/PayPalJwksProvider.php
  src/Resources/config/services/agentic_commerce.xml
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgenticCommerce/Security/PayPalJwksProviderTest.php
Due: validate openapi typescript

fix: restore acceptance lockfile peer dependency
  tests/acceptance/package-lock.json
Due: none

build: split unsupported admin dependency upgrades
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
Due: validate openapi typescript, eslint (administration)

chore: add German changelog
  CHANGELOG_de-DE.md
Due: none

fix: missing changelog entries
  CHANGELOG.md
Due: none

fix: remove route attributes from decorators
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
Due: validate openapi typescript

fix: remove route attributes from decorators (#684)
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
Due: validate openapi typescript

fix: skip stale authorization voided webhooks (#659)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/AuthorizationVoided.php
  tests/Webhook/Handler/AuthorizationVoidedV2Test.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
