Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

PPI-949 - Added Pay upon Ratepay label
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/swag-paypal-checkout-method.html.twig
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

Adding processor_response mapping on API V2 capture response
  src/Resources/app/administration/src/types/openapi.d.ts
  src/RestApi/V2/Api/Order/PurchaseUnit/Payments/Capture.php
  src/RestApi/V2/Api/Order/PurchaseUnit/Payments/Capture/ProcessorResponse.php
  tests/Mock/PayPal/Client/_fixtures/V2/GetCapture.php
Due: validate openapi typescript, eslint (administration)

PPI-992 - Adding processor_response mapping on API V2 capture response fixes #41
  src/Resources/app/administration/src/types/openapi.d.ts
  src/RestApi/V2/Api/Order/PurchaseUnit/Payments/Capture.php
  src/RestApi/V2/Api/Order/PurchaseUnit/Payments/Capture/ProcessorResponse.php
  tests/Mock/PayPal/Client/_fixtures/V2/GetCapture.php
Due: validate openapi typescript, eslint (administration)

PPI-942 - Show Google Pay cookies only if active
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/config/services/storefront.xml
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
Due: validate openapi typescript

PPI-992 - Fixed openapi.d.ts
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

PPI-957 - Add settings links to extension menu
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/index.ts
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/index.ts
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal/page/swag-paypal/swag-paypal.html.twig
Due: validate openapi typescript, eslint (administration)

PPI-991 - Disabled Trustly
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/index.ts
  src/Util/Lifecycle/Method/TrustlyMethodData.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/State/PaymentMethodStateServiceTest.php
Due: validate openapi typescript, eslint (administration)

PPI-993 - Wrong subscription attribute
  src/Checkout/SalesChannel/CreateOrderRoute.php
Due: validate openapi typescript

PPI-995 - Fix Zettle onboarding wizard
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Pos/Setting/Service/InformationDefaultService.php
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-customization/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/swag-paypal-pos-wizard.html.twig
  src/Util/Lifecycle/Update.php
Due: validate openapi typescript, eslint (administration)

PPI-994 - Fix invalid tracking code request
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: validate openapi typescript

PPI-996 - Fix disappearing payment buttons
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/swag-paypal.script-base.js
Due: validate openapi typescript, eslint (storefront)

Update composer.json
  composer.json
Due: none

NTR - Fix pipeline
  phpstan.neon.dist
Due: none

PPI-999 - Fixed dysfunctional refs with component overrides
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/sw-settings-payment/components/swag-paypal-overview-card/index.ts
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/sw-settings-shipping-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal/page/swag-paypal/index.ts
Due: validate openapi typescript, eslint (administration)

NTR - Prepare plugin release
  composer.json
Due: none

PPI-971 - Fix Apple Pay umlauts in pay modal
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
Due: validate openapi typescript, eslint (storefront)

PO-489 - Add Github actions
  .github/workflows/admin.yml
  .github/workflows/intergration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
Due: none

PPI-1001 - Removed admin html entrypoint
  src/Resources/app/administration/index.html
  src/Resources/app/administration/src/main.ts
Due: validate openapi typescript, eslint (administration)

PPI-1002 - Fixed domain association hint register
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-domain-association/index.ts
Due: validate openapi typescript, eslint (administration)

PPI-1002 - Fixed domain association hint register
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-domain-association/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/swag-paypal-checkout-method.spec.js
Due: validate openapi typescript, eslint (administration)

PPI-1009 - Correctly register PayPal Plus
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/main.js
Due: validate openapi typescript, eslint (storefront)

PPI-1010 - Improve CSS structure
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/scss/base.scss
  src/Resources/app/storefront/src/scss/components/express.scss
  src/Resources/app/storefront/src/scss/components/google-pay.scss
  src/Resources/app/storefront/src/scss/components/pui.scss
  src/Resources/app/storefront/src/scss/page/checkout/_confirm.scss
  src/Resources/views/storefront/component/payment/payment-method.html.twig
Due: validate openapi typescript, eslint (storefront)

PPI-1008 - Fixed transaction sync for invalid resources
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/RestApi/Exception/PayPalApiException.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
Due: validate openapi typescript

PPI-1008 - Fixed differentiation between error names and issues
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  src/Checkout/Payment/Handler/PayPalHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/RestApi/Exception/PayPalApiException.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: validate openapi typescript

NTR - Fix changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

PPI-1015 - Fix refs in admin components
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/administration/src/module/extension/sw-settings-payment/components/swag-paypal-overview-card/index.ts
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/sw-settings-shipping-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal/page/swag-paypal/index.ts
Due: validate openapi typescript, eslint (administration)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
