Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

feat: Add swag_paypal_order_id to order transaction (#388)
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/webhook.xml
  src/Webhook/Handler/CaptureCompleted.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

fix: http cache unnecessary session creation
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

fix: ecs fix
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Resources/app/administration/package-lock.json
  src/Webhook/Handler/CaptureCompleted.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript, eslint (administration)

fix: ecs fix
  src/Webhook/Handler/CaptureCompleted.php
Due: validate openapi typescript

fix: changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: http cache unnecessary session creation (#542)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

fix: moved phpstan ignore to phpstan.neon
  phpstan.neon.dist
  src/Migration/Migration1626082072AddStatusAndMessageCountToRun.php
  src/Migration/Migration1675420139AddManagerDataToRun.php
  src/Migration/Migration1706111604AddCustomerIdToVault.php
Due: validate openapi typescript

fix: moved phpstan ignore to phpstan.neon
  phpstan.neon.dist
Due: none

fix: moved phpstan ignore to phpstan.neon (#543)
  phpstan.neon.dist
  src/Migration/Migration1626082072AddStatusAndMessageCountToRun.php
  src/Migration/Migration1675420139AddManagerDataToRun.php
  src/Migration/Migration1706111604AddCustomerIdToVault.php
Due: validate openapi typescript

feat: external id contraint (#528)
  composer.json
  phpstan-baseline.neon
  phpstan.neon.dist
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/FaviconLoader.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/AgentCommerce/Validation/Constraint/PayPalExternalId.php
  src/AgentCommerce/Validation/Constraint/PayPalExternalIdValidator.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Migration/Migration1626082072AddStatusAndMessageCountToRun.php
  src/Migration/Migration1675420139AddManagerDataToRun.php
  src/Migration/Migration1706111604AddCustomerIdToVault.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/SalesChannel/DefaultRouteScopeTest.php
  tests/AgentCommerce/Subscriber/WebhookSubscriberTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: validate openapi typescript, eslint (administration)

fix: phpstan
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: none

fix php-stan errors
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Webhook/Command/CrawlWebhookEventNamesCommand.php
Due: validate openapi typescript

fix: regenerate baseline
  phpstan-baseline.neon
Due: none

fix: missing messages
  phpstan.neon.dist
Due: none

fix: escaping
  phpstan.neon.dist
Due: none

fix: stupid baseline generation
  phpstan-baseline.neon
Due: none

fix: again
  phpstan-baseline.neon
Due: none

fix: again
  phpstan-baseline.neon
  phpstan.neon.dist
Due: none

[6.6.x] fix: stan errors (#540)
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Webhook/Command/CrawlWebhookEventNamesCommand.php
Due: validate openapi typescript

fix pipeline
  phpstan-baseline.neon
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/FaviconLoader.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/SalesChannel/DefaultRouteScopeTest.php
  tests/AgentCommerce/Subscriber/WebhookSubscriberTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript, eslint (administration)

chore: fix pipeline (#539)
  phpstan-baseline.neon
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/FaviconLoader.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/SalesChannel/DefaultRouteScopeTest.php
  tests/AgentCommerce/Subscriber/WebhookSubscriberTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript, eslint (administration)

[6.6.x] feat: add swag_paypal_order id to order transaction (#541)
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Resources/app/administration/package-lock.json
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/webhook.xml
  src/Webhook/Handler/CaptureCompleted.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript, eslint (administration)

[6.5.x] feat: add swag_paypal_order id to order transaction (#541)
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Resources/app/administration/package-lock.json
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/webhook.xml
  src/Webhook/Handler/CaptureCompleted.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript, eslint (administration)

feat: update admin npm dependencies
  src/Resources/app/administration/package-lock.json
Due: validate openapi typescript, eslint (administration)

test: initial commit
  tests/acceptance/fixtures/AcceptanceTest.ts
  tests/acceptance/fixtures/PayPalTestData.ts
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/page-objects/Storefront/OffCanvasCart.ts
  tests/acceptance/page-objects/StorefrontPages.ts
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
  tests/acceptance/tests/paypal-account.setup.ts
  tests/acceptance/tsconfig.json
Due: none

fix: log constraint violation errors correctly
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Util/IntrospectionProcessor.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

fix: comment
  src/Util/IntrospectionProcessor.php
Due: validate openapi typescript

fix: log constraint violation errors correctly (#550)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Util/IntrospectionProcessor.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

fix: log constraint violation errors correctly (#550)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/IntrospectionProcessor.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

[6.6.x] fix: log constraint violation errors correctly (#552)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/IntrospectionProcessor.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

[6.5.x] feat: add swag_paypal_order id to order transaction (#548)
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Resources/app/administration/package-lock.json
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/webhook.xml
  src/Webhook/Handler/CaptureCompleted.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript, eslint (administration)

fix: correct refund ACL permission check in admin (#530)
  src/OrdersApi/Administration/PayPalOrdersController.php
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/swag-paypal-payment-actions-v2.html.twig
Due: validate openapi typescript, eslint (administration)

chore: add changelog entry
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

chore: fix typo
  CHANGELOG_de-DE.md
Due: none

chore: fix PHPStan errors
  src/Pos/Resource/TokenResource.php
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: validate openapi typescript

fix: replace deprecated API usage in VaultTokenTest migration
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: none
