Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

feat: add local environment toggle (#463)
  .bc-exclude.php
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/swag-paypal-local-environment.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/swag-paypal-local-environment.scss
  src/Resources/app/administration/src/module/swag-paypal/index.ts
  src/Resources/app/administration/src/module/swag-paypal/page/swag-paypal/swag-paypal.html.twig
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/express_checkout.xml
  src/Setting/Settings.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript, eslint (administration)

feat: add local environment toggle (#463)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/swag-paypal-local-environment.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/swag-paypal-local-environment.scss
  src/Resources/app/administration/src/module/swag-paypal/index.ts
  src/Resources/app/administration/src/module/swag-paypal/page/swag-paypal/swag-paypal.html.twig
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/express_checkout.xml
  src/Setting/Settings.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
Due: validate openapi typescript, eslint (administration)

fix: changelog
  CHANGELOG.md
Due: none

feat: improve test
  tests/Util/Lifecycle/UpdateTest.php
Due: none

fix: add missing assert
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
Due: none

fix: ci
  src/RestApi/V1/Api/OAuthCredentials.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript

[6.5.x] fix: express checkout sales channel country (#484) (#489)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript

[6.6.x] fix: express checkout sales channel country (#484) (#490)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  src/RestApi/V1/Api/OAuthCredentials.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript

chore: update logos (#488)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.html.twig
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
  src/Resources/app/administration/static/img/plugin.svg
  src/Resources/config/plugin.png
  src/Resources/icons/apm_bancontact.svg
  src/Resources/icons/apm_blik.svg
  src/Resources/icons/apm_boletobancario.svg
  src/Resources/icons/apm_eps.svg
  src/Resources/icons/apm_giropay.svg
  src/Resources/icons/apm_ideal.svg
  src/Resources/icons/apm_multibanco.svg
  src/Resources/icons/apm_mybank.svg
  src/Resources/icons/apm_oxxo.svg
  src/Resources/icons/apm_p24.svg
  src/Resources/icons/apm_sofort.svg
  src/Resources/icons/apm_trustly.svg
  src/Resources/icons/apple_pay.svg
  src/Resources/icons/card.svg
  src/Resources/icons/google_pay.svg
  src/Resources/icons/paypal.svg
  src/Resources/icons/pui.svg
  src/Resources/icons/sepa.svg
  src/Resources/icons/venmo.svg
  src/Util/Lifecycle/Installer/PaymentMethodInstaller.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript, eslint (administration)

fix: apple pay in other browsers (#486)
  .bc-exclude.php
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
  src/Resources/views/storefront/layout/meta.html.twig
Due: validate openapi typescript, eslint (storefront)

fix: apple pay in other browsers (#486)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
  src/Resources/views/storefront/layout/meta.html.twig
Due: validate openapi typescript, eslint (storefront)

fix: add enviroment toggle (#491)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
Due: validate openapi typescript

chore: update logos (#488)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
  src/Resources/app/administration/static/img/plugin.svg
  src/Resources/config/plugin.png
  src/Resources/icons/apm_bancontact.svg
  src/Resources/icons/apm_blik.svg
  src/Resources/icons/apm_boletobancario.svg
  src/Resources/icons/apm_eps.svg
  src/Resources/icons/apm_giropay.svg
  src/Resources/icons/apm_ideal.svg
  src/Resources/icons/apm_multibanco.svg
  src/Resources/icons/apm_mybank.svg
  src/Resources/icons/apm_oxxo.svg
  src/Resources/icons/apm_p24.svg
  src/Resources/icons/apm_sofort.svg
  src/Resources/icons/apm_trustly.svg
  src/Resources/icons/apple_pay.svg
  src/Resources/icons/card.svg
  src/Resources/icons/google_pay.svg
  src/Resources/icons/paypal.svg
  src/Resources/icons/pui.svg
  src/Resources/icons/sepa.svg
  src/Resources/icons/venmo.svg
  src/Util/Lifecycle/Installer/PaymentMethodInstaller.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript, eslint (administration)

chore: update logos (#488)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
  src/Resources/app/administration/static/img/plugin.svg
  src/Resources/config/plugin.png
  src/Resources/icons/apm_bancontact.svg
  src/Resources/icons/apm_blik.svg
  src/Resources/icons/apm_boletobancario.svg
  src/Resources/icons/apm_eps.svg
  src/Resources/icons/apm_giropay.svg
  src/Resources/icons/apm_ideal.svg
  src/Resources/icons/apm_multibanco.svg
  src/Resources/icons/apm_mybank.svg
  src/Resources/icons/apm_oxxo.svg
  src/Resources/icons/apm_p24.svg
  src/Resources/icons/apm_sofort.svg
  src/Resources/icons/apm_trustly.svg
  src/Resources/icons/apple_pay.svg
  src/Resources/icons/card.svg
  src/Resources/icons/google_pay.svg
  src/Resources/icons/paypal.svg
  src/Resources/icons/pui.svg
  src/Resources/icons/sepa.svg
  src/Resources/icons/venmo.svg
  src/Util/Lifecycle/Installer/PaymentMethodInstaller.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript, eslint (administration)

fix: add associations for billing and shipping address states (#470)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
Due: validate openapi typescript

fix: test
  tests/Util/Lifecycle/UpdateTest.php
Due: none

fix: ci
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix: naming
  tests/Util/Lifecycle/UpdateTest.php
Due: none

fix: version
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

chore: bump version
  composer.json
Due: none

[6.5.x] fix: apple pay in other browsers (#486) (#494)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
  src/Resources/views/storefront/layout/meta.html.twig
Due: validate openapi typescript, eslint (storefront)

[6.6.x] fix: apple pay in other browsers (#486) (#495)
  .bc-exclude.php
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
  src/Resources/views/storefront/layout/meta.html.twig
Due: validate openapi typescript, eslint (storefront)

fix: changelog version
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

chore: bump version (#500)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

[6.6.x] feat: add local environment toggle (#463) (#492)
  .bc-exclude.php
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/swag-paypal-local-environment.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/swag-paypal-local-environment.scss
  src/Resources/app/administration/src/module/swag-paypal/index.ts
  src/Resources/app/administration/src/module/swag-paypal/page/swag-paypal/swag-paypal.html.twig
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/express_checkout.xml
  src/Setting/Settings.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript, eslint (administration)

[6.5.x] feat: add local environment toggle (#463) (#493)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/swag-paypal-local-environment.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-local-environment/swag-paypal-local-environment.scss
  src/Resources/app/administration/src/module/swag-paypal/index.ts
  src/Resources/app/administration/src/module/swag-paypal/page/swag-paypal/swag-paypal.html.twig
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/express_checkout.xml
  src/Setting/Settings.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
Due: validate openapi typescript, eslint (administration)

[6.5.x] fix: add associations for billing and shipping address states (#470) (#498)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
Due: validate openapi typescript

[6.6.x] fix: add associations for billing and shipping address states (#470) (#499)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
Due: validate openapi typescript

chore: bump version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

[6.6.x] chore: update logos (#488) (#497)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
  src/Resources/app/administration/static/img/plugin.svg
  src/Resources/config/plugin.png
  src/Resources/icons/apm_bancontact.svg
  src/Resources/icons/apm_blik.svg
  src/Resources/icons/apm_boletobancario.svg
  src/Resources/icons/apm_eps.svg
  src/Resources/icons/apm_giropay.svg
  src/Resources/icons/apm_ideal.svg
  src/Resources/icons/apm_multibanco.svg
  src/Resources/icons/apm_mybank.svg
  src/Resources/icons/apm_oxxo.svg
  src/Resources/icons/apm_p24.svg
  src/Resources/icons/apm_sofort.svg
  src/Resources/icons/apm_trustly.svg
  src/Resources/icons/apple_pay.svg
  src/Resources/icons/card.svg
  src/Resources/icons/google_pay.svg
  src/Resources/icons/paypal.svg
  src/Resources/icons/pui.svg
  src/Resources/icons/sepa.svg
  src/Resources/icons/venmo.svg
  src/Util/Lifecycle/Installer/PaymentMethodInstaller.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript, eslint (administration)

[6.5.x] chore: update logos (#488) (#496)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
  src/Resources/app/administration/static/img/plugin.svg
  src/Resources/config/plugin.png
  src/Resources/icons/apm_bancontact.svg
  src/Resources/icons/apm_blik.svg
  src/Resources/icons/apm_boletobancario.svg
  src/Resources/icons/apm_eps.svg
  src/Resources/icons/apm_giropay.svg
  src/Resources/icons/apm_ideal.svg
  src/Resources/icons/apm_multibanco.svg
  src/Resources/icons/apm_mybank.svg
  src/Resources/icons/apm_oxxo.svg
  src/Resources/icons/apm_p24.svg
  src/Resources/icons/apm_sofort.svg
  src/Resources/icons/apm_trustly.svg
  src/Resources/icons/apple_pay.svg
  src/Resources/icons/card.svg
  src/Resources/icons/google_pay.svg
  src/Resources/icons/paypal.svg
  src/Resources/icons/pui.svg
  src/Resources/icons/sepa.svg
  src/Resources/icons/venmo.svg
  src/Util/Lifecycle/Installer/PaymentMethodInstaller.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript, eslint (administration)

[6.5.x] chore: bump version (#502)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

[6.6.x] chore: bump version (#501)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: fallback to supported locale
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/DevOps/Command/LocaleScraperCommand.php
  src/Resources/config/services/dev_ops.xml
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Util/LocaleCodeProvider.php
  src/Util/SupportedLocales.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Util/LocaleCodeProviderTest.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
