Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: venmo button color (#218)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

fix: venmo button color (#217)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

fix: Zettle sync icon alignment
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-status/swag-paypal-pos-status.scss
Due: validate openapi typescript, eslint (administration)

fix: Zettle sync icon alignment (#220)
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-status/swag-paypal-pos-status.scss
Due: validate openapi typescript, eslint (administration)

fix: page from footer (#212)
  src/Resources/views/storefront/layout/footer/footer.html.twig
Due: validate openapi typescript

fix: plugin update
  src/Resources/config/services/util.xml
  src/SwagPayPal.php
  src/Util/Lifecycle/PluginLifecycleSubscriber.php
Due: validate openapi typescript

fix: duplicate orders
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: phpstan
  src/Resources/config/services/util.xml
  src/SwagPayPal.php
  src/Util/Lifecycle/PluginLifecycleSubscriber.php
Due: validate openapi typescript

docs: add Github templates
  .github/DISCUSSION_TEMPLATE/proposals.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/story.yaml
  .github/ISSUE_TEMPLATE/technical_todo.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: remove shopware/shopware references
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/story.yaml
  .github/ISSUE_TEMPLATE/technical_todo.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: plugin update (#221)
  src/Resources/config/services/util.xml
  src/SwagPayPal.php
  src/Util/Lifecycle/PluginLifecycleSubscriber.php
Due: validate openapi typescript

fix: duplicate orders (#222)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: duplicate orders (#222)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: duplicate orders (#222) (#224)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: pr review
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/story.yaml
  .github/ISSUE_TEMPLATE/technical_todo.yaml
Due: none

docs: add Github templates (#223)
  .github/DISCUSSION_TEMPLATE/proposals.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/story.yaml
  .github/ISSUE_TEMPLATE/technical_todo.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: duplicate orders (#222) (#225)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

docs: add changelog for 10
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

docs: add changelog for 10 (#226)
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: Zettle sales channel event
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-settings/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/index.js
Due: validate openapi typescript, eslint (administration)

fix: Zettle sales channel event (#227)
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-settings/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/index.js
Due: validate openapi typescript, eslint (administration)

chore: fix repercussions of phpstan update
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Migration/Migration1706111604AddCustomerIdToVault.php
  src/Pos/MessageQueue/Handler/Sync/AbstractSyncHandler.php
  src/Pos/Payment/PosPayment.php
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: validate openapi typescript

chore: fix repercussions of phpstan update (#228)
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Migration/Migration1706111604AddCustomerIdToVault.php
  src/Pos/MessageQueue/Handler/Sync/AbstractSyncHandler.php
  src/Pos/Payment/PosPayment.php
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: validate openapi typescript

fix: latest 6.7 fixes
  src/Resources/app/administration/src/module/extension/snippet/de-DE.json
  src/Resources/app/administration/src/module/extension/snippet/en-GB.json
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.scss
Due: validate openapi typescript, eslint (administration)

fix: latest 6.7 fixes (#229)
  src/Resources/app/administration/src/module/extension/snippet/de-DE.json
  src/Resources/app/administration/src/module/extension/snippet/en-GB.json
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.scss
Due: validate openapi typescript, eslint (administration)

feat: report issue context link
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/snippet/de-DE.json
  src/Resources/app/administration/src/module/extension/snippet/en-GB.json
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
Due: validate openapi typescript, eslint (administration)

feat: report issue context link (#230)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/snippet/de-DE.json
  src/Resources/app/administration/src/module/extension/snippet/en-GB.json
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
Due: validate openapi typescript, eslint (administration)

feat: report issue context link (#231)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/snippet/de-DE.json
  src/Resources/app/administration/src/module/extension/snippet/en-GB.json
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
Due: validate openapi typescript, eslint (administration)

refactor: php tooling updates 6.7
  phpstan-baseline.neon
  phpstan.neon.dist
  tests/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandlerTest.php
  tests/Pos/Converter/CategoryConverterTest.php
  tests/Pos/Converter/UuidConverterTest.php
  tests/Pos/Run/RunServiceTest.php
  tests/Pos/Sync/CompleteProductTest.php
  tests/RestApi/Client/ClientTest.php
  tests/Storefront/Data/Service/ApplePayCheckoutDataServiceTest.php
  tests/TestBootstrap.php
  tests/TestBootstrapper.php
  tests/Util/Availability/AvailabilityContextBuilderTest.php
  tests/Util/Lifecycle/UpdateTest.php
Due: none

refactor: php tooling updates 6.7 (#232)
  phpstan-baseline.neon
  phpstan.neon.dist
  tests/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandlerTest.php
  tests/Pos/Converter/CategoryConverterTest.php
  tests/Pos/Converter/UuidConverterTest.php
  tests/Pos/Run/RunServiceTest.php
  tests/Pos/Sync/CompleteProductTest.php
  tests/RestApi/Client/ClientTest.php
  tests/Storefront/Data/Service/ApplePayCheckoutDataServiceTest.php
  tests/TestBootstrap.php
  tests/TestBootstrapper.php
  tests/Util/Availability/AvailabilityContextBuilderTest.php
  tests/Util/Lifecycle/UpdateTest.php
Due: none

fix: express checkout event access fixes #234
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

feat: remove delay message stamp
  src/Pos/DataAbstractionLayer/Entity/PosSalesChannelInventoryEntity.php
  src/Pos/DataAbstractionLayer/Entity/PosSalesChannelProductEntity.php
  src/Pos/MessageQueue/Handler/InventoryUpdateHandler.php
  src/Pos/MessageQueue/Manager/InventorySyncManager.php
  src/Pos/MessageQueue/Message/InventoryUpdateMessage.php
  src/Pos/Sync/Inventory/StockSubscriber.php
  src/Resources/config/services/pos/sync.xml
  tests/Pos/MessageQueue/Handler/InventoryUpdateHandlerTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
Due: validate openapi typescript

fixes
  src/Pos/MessageQueue/Handler/InventoryUpdateHandler.php
  src/Pos/Sync/Inventory/StockSubscriber.php
  tests/Pos/MessageQueue/Handler/InventoryUpdateHandlerTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
Due: validate openapi typescript

fix: express checkout event access (#235)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

PHPStan
  src/Pos/MessageQueue/Handler/InventoryUpdateHandler.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
