Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

chore: fix stuff
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: upstream eslint changes
  composer.json
Due: none

chore: upstream eslint changes (#583)
  composer.json
Due: none

test: add ats test - check for express buttons (#576)
  tests/acceptance/fixtures/AcceptanceTest.ts
  tests/acceptance/fixtures/PayPalTestData.ts
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/page-objects/AdministrationPages.ts
  tests/acceptance/page-objects/Storefront/Checkout/CheckoutConfirm.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalLogin.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
  tests/acceptance/page-objects/Storefront/OffCanvasCart.ts
  tests/acceptance/page-objects/StorefrontPages.ts
  tests/acceptance/playwright.config.ts
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
  tests/acceptance/tests/paypal-account.setup.ts
  tests/acceptance/types/PayPalTypes.ts
Due: none

feat: shipping express toggle
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/mixin/swag-paypal-settings.mixin.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/storefront.xml
  src/Setting/Settings.php
  src/Storefront/Controller/PayPalController.php
  src/Util/Lifecycle/Update.php
  src/Webhook/WebhookService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (administration)

fix: tests
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript, eslint (administration)

fix: cr
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Storefront/Controller/PayPalController.php
Due: validate openapi typescript

Update store workflow to use client credentials
  .github/workflows/store-release.yml
Due: none

fix: snippets
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
Due: validate openapi typescript, eslint (administration)

fix: phpstan
  phpstan.neon.dist
  src/OrdersApi/Builder/PUIOrderBuilder.php
  src/OrdersApi/Builder/Util/PurchaseUnitProvider.php
  src/Pos/Webhook/WebhookRegistry.php
  src/Setting/Service/SettingsSaver.php
  src/Util/LocaleCodeProvider.php
  src/Util/PriceFormatter.php
  src/Webhook/Registration/WebhookSubscriber.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/Method/GooglePayHandlerTest.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
  tests/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandlerTest.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
  tests/PHPStanBootstrap.php
  tests/Pos/MessageQueue/Handler/InventoryUpdateHandlerTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
  tests/RestApi/Client/ClientTest.php
  tests/Setting/Service/SettingsSaverTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/IntrospectionProcessorTest.php
  tests/Util/Lifecycle/UpdateTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript

refactor: ignore unit test rule
  phpstan.neon.dist
  src/OrdersApi/Builder/Util/PurchaseUnitProvider.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/Method/GooglePayHandlerTest.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
  tests/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandlerTest.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
  tests/Pos/MessageQueue/Handler/InventoryUpdateHandlerTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
  tests/RestApi/Client/ClientTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/IntrospectionProcessorTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript

fix: phpstan (#595)
  phpstan.neon.dist
  src/OrdersApi/Builder/PUIOrderBuilder.php
  src/OrdersApi/Builder/Util/PurchaseUnitProvider.php
  src/Pos/Webhook/WebhookRegistry.php
  src/Setting/Service/SettingsSaver.php
  src/Util/LocaleCodeProvider.php
  src/Util/PriceFormatter.php
  src/Webhook/Registration/WebhookSubscriber.php
  tests/PHPStanBootstrap.php
  tests/Setting/Service/SettingsSaverTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix: prop name
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
Due: validate openapi typescript, eslint (administration)

feat: shipping express toggle (#586)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/mixin/swag-paypal-settings.mixin.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/storefront.xml
  src/Setting/Settings.php
  src/Storefront/Controller/PayPalController.php
  src/Util/Lifecycle/Update.php
  src/Webhook/WebhookService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/OpenAPISchemaTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (administration)

Update store workflow to use client credentials (#590)
  .github/workflows/store-release.yml
Due: none

fix: zero value cart rouding
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Util/PriceFormatter.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: ci
  src/Checkout/Cart/Service/CartPriceService.php
  src/Util/PriceFormatter.php
Due: validate openapi typescript

Update store workflow to use client credentials [6.5.x] (#597)
  .github/workflows/store-release.yml
Due: none

Update store workflow to use client credentials [6.6.x] (#596)
  .github/workflows/store-release.yml
Due: none

fix: ci
  phpstan.neon.dist
  src/Resources/config/services/checkout.xml
Due: validate openapi typescript

fix: ci
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
Due: none

feat: shipping express toggle
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/mixin/swag-paypal-settings.mixin.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/storefront.xml
  src/Setting/Settings.php
  src/Storefront/Controller/PayPalController.php
  src/Util/Lifecycle/Update.php
  src/Webhook/WebhookService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/OpenAPISchemaTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (administration)

fix: ci
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
Due: none

fix: test
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
Due: none

fix: tests
  tests/Mock/PayPal/Client/GuzzleClientMock.php
Due: none

fix: correctly serialize expireDateTime in POS token cache (#594)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Pos/Resource/TokenResource.php
  tests/Pos/Resource/TokenResourceTest.php
Due: validate openapi typescript

fix: admin
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/swag-paypal-webhook.html.twig
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

chore: update changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: get taxed cart
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: validate openapi typescript

added changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

Fix missing order transaction ids in PayPal webhooks
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/AbstractWebhookHandler.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

Fix missing order transaction ids in PayPal webhooks [6.5.x]
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/AbstractWebhookHandler.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

Fix missing order transaction ids in PayPal webhooks [6.6.x]
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/AbstractWebhookHandler.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

Move changelog entry under next-version placeholder [6.6.x]
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

Move changelog entry under next-version placeholder [6.5.x]
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

feat: shipping express toggle
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/swag-paypal-webhook.html.twig
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/storefront.xml
  src/Setting/Settings.php
  src/Storefront/Controller/PayPalController.php
  src/Util/Lifecycle/Update.php
  src/Webhook/WebhookService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Mock/PayPal/Client/GuzzleClientMock.php
  tests/OpenAPISchemaTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (administration)
