Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: catch 6.7.0.0 exceptions
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

fix: reviews
  src/AgentCommerce/Exception/AgentException.php
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: openapi schema generation
  src/DevOps/Command/GenerateOpenApi.php
Due: validate openapi typescript

feat: paypal-commerce-ai-route-scopes (#299)
  composer.json
  phpstan.neon.dist
  src/AgentCommerce/Exception/AgentException.php
  src/AgentCommerce/Exception/AgentHttpException.php
  src/AgentCommerce/Routing/AgentContextResolverListener.php
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Routing/AgentRouteScope.php
  src/AgentCommerce/Routing/AgentSource.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/Response/AgentCartResponse.php
  src/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriber.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/AgentDebugIDProcessor.php
  src/AgentCommerce/Validation/HasScopes.php
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/config/routes.xml
  src/Resources/config/services.php
  src/Resources/config/services/agent_commerce.xml
  src/Util/IntrospectionProcessor.php
  tests/AgentCommerce/Exception/AgentExceptionTest.php
  tests/AgentCommerce/Exception/AgentHttpExceptionTest.php
  tests/AgentCommerce/Routing/AgentContextResolverListenerTest.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/Routing/AgentRouteScopeTest.php
  tests/AgentCommerce/Routing/AgentSourceTest.php
  tests/AgentCommerce/SalesChannel/Response/AgentCartResponseTest.php
  tests/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriberTest.php
  tests/AgentCommerce/Util/AgentDebugIDProcessorTest.php
  tests/AgentCommerce/Validation/HasScopesTest.php
  tests/OpenAPISchemaTest.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript, eslint (administration)

feat: paypal commerce agent sales channel WIP
  src/AgentCommerce/SalesChannel/Type/AgentCommerceSalesChannelType.php
  src/Migration/Migration1752337399AddAgentCommerceSalesChannelType.php
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create-base/sw-sales-channel-create-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/sw-sales-channel-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-menu/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-modal/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.csv.txt
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/header.csv.txt
Due: validate openapi typescript, eslint (administration)

wip: csv
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.csv.txt
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/header.csv.txt
Due: validate openapi typescript, eslint (administration)

fix: paylater button is not displayed
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

feat: tests
  src/AgentCommerce/SalesChannel/Type/AgentCommerceSalesChannelType.php
  src/Migration/Migration1752337399AddAgentCommerceSalesChannelType.php
  src/Resources/app/administration/src/defaults.ts
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create/sw-sales-channel-create.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/sw-sales-channel-detail.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-modal/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.txt
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/header.txt
Due: validate openapi typescript, eslint (administration)

fix: sales channel modal
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/sw-sales-channel-detail.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-modal/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-modal/sw-sales-channel-modal.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: paylater button is not displayed (#309)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: sales channel admin component inheritance
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create-base/sw-sales-channel-create-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create/sw-sales-channel-create.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/sw-sales-channel-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-menu/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-modal/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-modal/sw-sales-channel-modal.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.txt
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/header.txt
Due: validate openapi typescript, eslint (administration)

fix: reviews
  src/AgentCommerce/SalesChannel/Type/AgentCommerceSalesChannelType.php
  src/Migration/Migration1752337399AddAgentCommerceSalesChannelType.php
  src/Resources/app/administration/src/constant/swag-paypal.constant.ts
  src/Resources/app/administration/src/defaults.ts
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/sw-sales-channel-detail.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/snippet/en-GB.json
  src/SwagPayPal.php
  tests/Migration/Migration1752337399AddAgentCommerceSalesChannelTypeTest.php
Due: validate openapi typescript, eslint (administration)

fix: truncate lengths
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.txt
Due: validate openapi typescript, eslint (administration)

fix: use snippets
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/index.ts
Due: validate openapi typescript, eslint (administration)

feat: paypal commerce agent sales channel (#305)
  src/Migration/Migration1752337399AddAgentCommerceSalesChannelType.php
  src/Resources/app/administration/src/constant/swag-paypal.constant.ts
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/sw-sales-channel-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail/sw-sales-channel-detail.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.txt
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/header.txt
  src/SwagPayPal.php
  tests/Migration/Migration1752337399AddAgentCommerceSalesChannelTypeTest.php
Due: validate openapi typescript, eslint (administration)

fix: automatic guest logout for PUI payments
  src/Checkout/PUI/PUISubscriber.php
  tests/Checkout/PUI/PUISubscriberTest.php
Due: validate openapi typescript

docs: add changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: phpstan
  phpstan.neon.dist
  src/Checkout/PUI/PUISubscriber.php
  tests/Checkout/PUI/PUISubscriberTest.php
Due: validate openapi typescript

fix: method exists
  src/Checkout/PUI/PUISubscriber.php
Due: validate openapi typescript

fix: automatic guest logout for PUI payments (#320)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  phpstan.neon.dist
  src/Checkout/PUI/PUISubscriber.php
  tests/Checkout/PUI/PUISubscriberTest.php
Due: validate openapi typescript

Extend AgentRequestContextResolver
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Routing/AgentRouteScope.php
  src/AgentCommerce/Routing/AgentSource.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

PayPal data transformer
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

Route return type
  src/AgentCommerce/Exception/AgentException.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/Response/AgentCartResponse.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Validation/CartTokenValidator.php
  tests/AgentCommerce/SalesChannel/Response/AgentCartResponseTest.php
Due: validate openapi typescript

fix tests
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/Routing/AgentRouteScopeTest.php
  tests/AgentCommerce/Routing/AgentSourceTest.php
  tests/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriberTest.php
  tests/AgentCommerce/Util/AgentDebugIDProcessorTest.php
Due: none

fix tests
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

fix: reviews
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: phpstan
  phpstan.neon.dist
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

fix: add uuid constraint
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

feat: use proper validation building from SDK
  composer.json
  phpstan.neon.dist
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

use setter instead of assign
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
Due: validate openapi typescript

WIP
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.txt
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript, eslint (administration)

Cart factory
  src/AgentCommerce/Util/PayPalCartFactory.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
Due: validate openapi typescript

WIP
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
Due: validate openapi typescript

phpstan
  src/AgentCommerce/Util/PayPalCartFactory.php
Due: validate openapi typescript

Update src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
