Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

chore: Prepare code for PHPStan update 2026-07
  phpstan.neon.dist
  src/OrdersApi/Builder/Util/ItemListProvider.php
  src/Util/IntrospectionProcessor.php
  tests/AgenticCommerce/Validation/ValidationIssuesTest.php
  tests/Dispute/Administration/DisputeControllerTest.php
Due: validate openapi typescript

fix: handle card fields result
  src/Resources/app/storefront/src/base/paypal-plugin.error.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.card-fields.ts
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
Due: validate openapi typescript, eslint (storefront)

fix: typings after paypal-js 10
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/helper/dependency.helper.ts
  src/Resources/app/storefront/src/page/swag-paypal.messages.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.venmo.ts
  src/Resources/app/storefront/src/types/global.types.ts
  src/Resources/app/storefront/src/types/paypal-core-js.ts
Due: validate openapi typescript, eslint (storefront)

feat: add paypal-message text size
  src/Resources/app/storefront/src/page/swag-paypal.messages.ts
Due: validate openapi typescript, eslint (storefront)

fix: harden dependency loader
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/helper/dependency.helper.ts
Due: validate openapi typescript, eslint (storefront)

fix: remove card holder name
  src/Resources/views/storefront/paypal/card-fields-form.html.twig
Due: validate openapi typescript

fix: cr
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
  src/Resources/views/storefront/paypal/checkout-button.html.twig
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
Due: validate openapi typescript, eslint (storefront)

fix: cr
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/config/services/storefront.xml
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Storefront/Data/Service/ApplePayCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: ci
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
Due: none

fix: sepa eligibility check
  src/Resources/app/storefront/src/helper/dependency.helper.ts
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
Due: validate openapi typescript, eslint (storefront)

fix: cr
  src/Checkout/SalesChannel/ClientTokenRoute.php
  src/Resources/views/storefront/paypal/installment-banner.html.twig
Due: validate openapi typescript

fix(storefront): re-render PayPal buttons after browser Back
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/page/swag-paypal.installment-banner.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
Due: validate openapi typescript, eslint (storefront)

fix: changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix(changelog): move shipping tracking fix to next version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  phpstan.neon.dist
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
Due: validate openapi typescript, eslint (administration)

fix(openapi): regenerate schemas with lowest SDK
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: update neon
  phpstan.neon.dist
Due: none

feat: retry after rate limit error (#713)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  phpstan-6.7.0.0.neon.dist
  phpstan.neon.dist
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationRetryStrategy.php
  src/Resources/config/services/shipping.xml
  src/RestApi/Exception/PayPalApiException.php
  src/RestApi/RequestService.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationRetryStrategyTest.php
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
  tests/RestApi/Exception/PayPalApiExceptionTest.php
  tests/RestApi/RequestServiceTest.php
Due: validate openapi typescript

fix: test
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
Due: none

fix: handle pending payments
  src/Checkout/Payment/Service/OrderExecuteService.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Mock/PayPal/Client/_fixtures/V2/CaptureOrderPending.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
Due: validate openapi typescript

fix: handle PayPal transport errors and clear Express spinner
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/config/packages/framework.yaml
  src/RestApi/Client/Client.php
  src/RestApi/Exception/PayPalApiException.php
  tests/RestApi/Client/ClientTest.php
  tests/RestApi/Exception/PayPalApiExceptionTest.php
Due: validate openapi typescript, eslint (storefront)

fix: recover payments from PAYER_ACTION_REQUIRED capture rejections
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Exception/PayerActionRequiredException.php
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/PayPalPaymentHandler.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Checkout/Payment/Service/PaymentResumeService.php
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
  src/RestApi/Exception/PayPalApiException.php
  src/RestApi/V2/Resource/OrderResource.php
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Payment/Exception/PayerActionRequiredExceptionTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/OrderExecuteServiceTest.php
  tests/Checkout/Payment/Service/PaymentResumeServiceTest.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
  tests/RestApi/Exception/PayPalApiExceptionTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript

chore: fix phpstan
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
Due: validate openapi typescript

chore: fix phpstan (#776)
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
Due: validate openapi typescript

fix: update node js
  .github/actions/setup-paypal/action.yml
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
Due: validate openapi typescript, eslint (administration)

fix: update schema
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: schema
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: update node js (#778)
  .github/actions/setup-paypal/action.yml
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: deprecation
  src/Storefront/Data/Struct/AbstractScriptData.php
Due: validate openapi typescript

fix: cr
  src/Resources/app/storefront/src/base/swag-paypal.express.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.paypal.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.venmo.ts
  src/Resources/app/storefront/src/types/global.types.ts
  src/Resources/views/storefront/paypal/meta-tags.html.twig
Due: validate openapi typescript, eslint (storefront)

fix: XMLHttpRequest
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
  src/Resources/app/storefront/src/base/swag-paypal.express.ts
  src/Resources/app/storefront/src/helper/request.helper.ts
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Storefront/Controller/PayPalController.php
Due: validate openapi typescript, eslint (storefront)

fix: phpstan
  src/Checkout/SalesChannel/CustomerVaultTokenRoute.php
Due: validate openapi typescript

fix: use plugin-owned configure snippet in extension card context menu
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/snippet/de.json
  src/Resources/app/administration/src/module/extension/snippet/en.json
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
Due: validate openapi typescript, eslint (administration)

fix: pay later blocks checkout
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript

fix: missing di
  src/Resources/config/services/storefront.xml
Due: validate openapi typescript

fix(devops): sort PayPal SDK struct scan to make openapi schema reproducible
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix(devops): match schema to lowest supported paypal-sdk
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)
