Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: not defaulting to undefined
  src/Resources/app/administration/src/app/component/swag-paypal-setting/index.ts
  src/Resources/app/administration/src/app/store/swag-paypal-settings.store.spec.ts
  src/Resources/app/administration/src/app/store/swag-paypal-settings.store.ts
Due: validate openapi typescript, eslint (administration)

fix: test
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: add changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: changelog
  CHANGELOG.md
Due: none

fix: not defaulting to undefined (#256)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/administration/src/app/component/swag-paypal-setting/index.ts
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.spec.ts
  src/Resources/app/administration/src/app/store/swag-paypal-settings.store.spec.ts
  src/Resources/app/administration/src/app/store/swag-paypal-settings.store.ts
Due: validate openapi typescript, eslint (administration)

fix: partial captures
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-capture/swag-paypal-payment-action-v2-capture.html.twig
Due: validate openapi typescript, eslint (administration)

fix: partial captures (#261)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/extensions/swag-paypal-payment-action-v2-capture/swag-paypal-payment-action-v2-capture.html.twig
Due: validate openapi typescript, eslint (administration)

fix: vaulting enabled without userId token (#210)
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
Due: validate openapi typescript

fix: express checkout buttons and label spacing
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
Due: validate openapi typescript

fix: add configurable http client with timeout fixes #262
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/config/packages/framework.yaml
  src/Resources/config/services/paypal_sdk.xml
Due: validate openapi typescript

feat: Added payment means to e-invoice
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
  src/Resources/config/services/shipping.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
Due: validate openapi typescript

fix: add request timeout
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/RestApi/Client/CredentialsClient.php
  src/RestApi/Client/PayPalClient.php
  src/RestApi/Client/TokenClient.php
Due: validate openapi typescript

PayPal payment means
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
  src/Resources/config/services.php
  src/Resources/config/services/document.xml
  src/Resources/config/services/shipping.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
Due: validate openapi typescript

internal
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
Due: validate openapi typescript

fix: express checkout buttons and label spacing (#259)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
Due: validate openapi typescript

fix: express checkout buttons and label spacing (#266)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
Due: validate openapi typescript

primary order transaction
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
Due: validate openapi typescript

CR
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
  src/Resources/config/services/document.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
Due: validate openapi typescript

fix: timeout of 30 seconds
  src/Resources/config/packages/framework.yaml
Due: validate openapi typescript

fix: timeout of 30 seconds
  src/RestApi/Client/CredentialsClient.php
  src/RestApi/Client/PayPalClient.php
  src/RestApi/Client/TokenClient.php
Due: validate openapi typescript

feat: Added payment means to e-invoice (#264)
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
  src/Resources/config/services.php
  src/Resources/config/services/document.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
Due: validate openapi typescript

fix: changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: first-run-wizard styling
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/sw-first-run-wizard-paypal-credentials.scss
Due: validate openapi typescript, eslint (administration)

phpstan
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
Due: validate openapi typescript

PHPStan baseline
  phpstan-baseline.neon
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
Due: validate openapi typescript

PHPStan baseline
  phpstan-baseline.neon
Due: none

fix: add request timeout (#268)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/RestApi/Client/CredentialsClient.php
  src/RestApi/Client/PayPalClient.php
  src/RestApi/Client/TokenClient.php
Due: validate openapi typescript

fix: add request timeout (#265)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/RestApi/Client/CredentialsClient.php
  src/RestApi/Client/PayPalClient.php
  src/RestApi/Client/TokenClient.php
Due: validate openapi typescript

fix: add configurable http client with timeout (#263)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/config/packages/framework.yaml
  src/Resources/config/services/paypal_sdk.xml
Due: validate openapi typescript

fix: first-run-wizard styling (#269)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/sw-first-run-wizard-paypal-credentials.scss
Due: validate openapi typescript, eslint (administration)

Revert "feat: Added payment means to e-invoice (#264)"
  src/Checkout/Document/Zugferd/ZugferdSubscriber.php
  src/Resources/config/services.php
  src/Resources/config/services/document.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
Due: validate openapi typescript

chore: bump version
  composer.json
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
