Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix: smart payment buttons width by digital products
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/component/buy-widget/buy-widget-form.html.twig
Due: validate openapi typescript

fix: smart payment buttons width by digital products
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/page/product-detail/buy-widget-form.html.twig
Due: validate openapi typescript

fix: smart payment buttons width by digital products (#411)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/component/buy-widget/buy-widget-form.html.twig
Due: validate openapi typescript

fix: smart payment buttons width by digital products (#423)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/component/buy-widget/buy-widget-form.html.twig
Due: validate openapi typescript

fix: smart payment buttons width by digital products (#424)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/page/product-detail/buy-widget-form.html.twig
Due: validate openapi typescript

fix: Paypal error showing on category page (#12701)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/views/storefront/page/checkout/_page.html.twig
  src/Resources/views/storefront/page/checkout/paypal/paypal-flashes.html.twig
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript

fix: Paypal error showing on category page (#12701) - updates
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/views/storefront/page/checkout/_page.html.twig
  src/Resources/views/storefront/page/checkout/paypal/paypal-flashes.html.twig
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

fix: Paypal error showing on category page (#12701) - updates
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/views/storefront/component/ecs-spb-checkout/ecs-spb-data.html.twig
  src/Resources/views/storefront/page/account/order/index.html.twig
  src/Resources/views/storefront/page/checkout/confirm/index.html.twig
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

fix: Paypal error showing on category page (#12701) - updates
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/views/storefront/component/ecs-spb-checkout/ecs-spb-data.html.twig
  src/Resources/views/storefront/page/account/order/index.html.twig
  src/Resources/views/storefront/page/checkout/confirm/index.html.twig
Due: validate openapi typescript, eslint (storefront)

wrong method name
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  tests/AgentCommerce/SalesChannel/CheckoutRouteTest.php
Due: validate openapi typescript

change namespace
  src/AgentCommerce/Validation/ValidationIssues.php
  tests/AgentCommerce/SalesChannel/CheckoutRouteTest.php
Due: validate openapi typescript

fix: express checkout shipping callback
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/orders_api.xml
Due: validate openapi typescript

fix: dump
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
Due: validate openapi typescript

fix: cr
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
Due: validate openapi typescript

chore(phpstan): upstream update
  src/DataAbstractionLayer/VaultTokenMapping/VaultTokenMappingCollection.php
Due: validate openapi typescript

fix: webhook module not updating after refresh
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/index.ts
Due: validate openapi typescript, eslint (administration)

chore(phpstan): upstream update (#430)
  src/DataAbstractionLayer/VaultTokenMapping/VaultTokenMappingCollection.php
Due: validate openapi typescript

fix: webhook registration loop on invalid id
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript

refactor: extract webhook url generation
  src/Webhook/WebhookService.php
Due: validate openapi typescript

fix: using correct class loader for unit testing with SDK
  tests/TestBootstrap.php
Due: none

fix: add lookup of existing webhook with same URL to show correct status
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/RestApi/V1/Resource/WebhookResource.php
  src/Webhook/WebhookService.php
  tests/Webhook/WebhookServiceTest.php
Due: validate openapi typescript

fix: upgrade paypal SDK
  composer.json
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: update
  composer.json
  phpstan.neon.dist
  src/Checkout/CheckoutException.php
  src/Checkout/ExpressCheckout/ExpressShippingCallbackException.php
  src/Checkout/ExpressCheckout/SalesChannel/AbstractExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

fix: symfony 7.2 tagged iterator deprecation (#429)
  src/Resources/config/services/pos/webhook.xml
  src/Resources/config/services/webhook.xml
Due: validate openapi typescript

fix: Paypal error showing on category page (#12701) (#407)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/views/storefront/component/ecs-spb-checkout/ecs-spb-data.html.twig
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

fix: ci
  phpstan.neon.dist
  src/Checkout/ExpressCheckout/ExpressShippingCallbackException.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript, eslint (administration)

fix: test
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
Due: validate openapi typescript

fix: cr
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
Due: validate openapi typescript

fix: github workflows for externals
  .github/actions/setup-paypal/action.yml
Due: none

fix: update
  .github/actions/setup-paypal/action.yml
  .github/workflows/acceptance.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
Due: none

fix: update
  .github/workflows/acceptance.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  tests/TestBootstrap.php
Due: none

fix: update
  tests/TestBootstrap.php
Due: none

fix: lint
  .github/workflows/acceptance.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  .github/workflows/weekly.yml
Due: none
