Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix(checkout): strip line breaks from PayPal line item names [6.5.x] (#783)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Builder/Util/ItemListProvider.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
Due: validate openapi typescript

fix(checkout): make PayPal transaction timestamp nullable
  src/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullable.php
  tests/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullableTest.php
Due: validate openapi typescript

test(checkout): preserve PayPal transaction schema
  tests/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullableTest.php
Due: none

test(checkout): support PHPUnit on 6.5
  tests/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullableTest.php
Due: none

chore(release): bump PayPal plugin to 8.12.2
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore(release): bump PayPal plugin to 9.13.2
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore(release): bump PayPal plugin to 10.8.2
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix(checkout): make PayPal transaction timestamp nullable (#793)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullable.php
  tests/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullableTest.php
Due: validate openapi typescript

[6.6.x] fix(checkout): make PayPal transaction timestamp nullable (#794)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullable.php
  tests/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullableTest.php
Due: validate openapi typescript

[6.5.x] fix(checkout): make PayPal transaction timestamp nullable (#795)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullable.php
  tests/Migration/Migration1787895934MakeOrderTransactionsUpdatedAtNullableTest.php
Due: validate openapi typescript

fix(checkout): handle partial entities in the express checkout listing subscriber
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  tests/Checkout/Cart/ExcludedProductValidatorTest.php
Due: validate openapi typescript

fix(checkout): start a new changelog version for the partial entity fix
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix(checkout): preserve paid transactions from stale cancellations
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Webhook/Handler/AbstractWebhookHandler.php
  src/Webhook/Handler/AuthorizationVoided.php
  src/Webhook/Handler/CaptureDenied.php
  src/Webhook/Handler/SaleDenied.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Webhook/Handler/AuthorizationVoidedV2Test.php
  tests/Webhook/Handler/CaptureDeniedTest.php
  tests/Webhook/Handler/SaleDeniedTest.php
Due: validate openapi typescript

fix: phpunit
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
Due: none

fix: sandbox identification
  src/Resources/views/storefront/paypal/meta-tags.html.twig
  src/Storefront/Data/Service/AbstractScriptDataService.php
Due: validate openapi typescript

fix(checkout): handle partial entities in the express checkout listing subscriber (#796)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  tests/Checkout/Cart/ExcludedProductValidatorTest.php
Due: validate openapi typescript

fix(checkout): preserve finalize side effects
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
Due: validate openapi typescript

docs(checkout): move changelog entry to next version
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix(checkout): execute new recurring PayPal orders
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  tests/Checkout/Method/ACDCHandlerTest.php
Due: validate openapi typescript

fix(checkout): run update steps exactly once by tracking them in the system config
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix(lifecycle): preserve settings on updates
  src/Setting/Settings.php
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix(checkout): do not record update steps as executed for non-comparable versions
  src/Util/Lifecycle/Update.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

docs(changelog): document configuration update fix
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

docs(changelog): document lifecycle update fix
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Update.php
Due: validate openapi typescript

test(lifecycle): adjust backport migration coverage
  tests/Util/Lifecycle/UpdateTest.php
Due: none

docs(changelog): prepare next maintenance release
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

feat(administration): add PayPal Businesskredit partner offer banner
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-partner-offer/swag-paypal-method-partner-offer.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
Due: validate openapi typescript, eslint (administration)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
