Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

chore: bump composer version
  composer.json
Due: none

fix: lint vite type complain
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/index.ts
Due: validate openapi typescript, eslint (administration)

chore: update npm dependencies
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
  src/Resources/app/storefront/package-lock.json
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: settings page process button
  src/Resources/app/administration/src/module/swag-paypal-settings/page/swag-paypal-settings/swag-paypal-settings.html.twig
Due: validate openapi typescript, eslint (administration)

fix: onboarding button wording with ppcp check
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
Due: validate openapi typescript, eslint (administration)

fix: order form submit with disabled button
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

chore: adjust workflows for 6.6.x
  .github/actions/setup-paypal/action.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
Due: none

fix: nullable order tax status
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/Util/ItemListProvider.php
  src/OrdersApi/Patch/PurchaseUnitPatchBuilder.php
Due: validate openapi typescript

fix: remove phpstan ignore
  src/OrdersApi/Builder/Util/ItemListProvider.php
Due: validate openapi typescript

chore: Make StoreApiResponse generic and add proper typing
  phpstan.neon.dist
  src/Checkout/PUI/SalesChannel/PUIPaymentInstructionsResponse.php
  src/Checkout/TokenResponse.php
Due: validate openapi typescript

chore: Remove PHPStan ignore annotations
  src/Administration/PayPalPaymentMethodController.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
Due: validate openapi typescript

fix: Add more specific types to StoreApiResponse children
  src/Checkout/PUI/SalesChannel/PUIPaymentInstructionsResponse.php
  src/Checkout/TokenResponse.php
Due: validate openapi typescript

feat: added customer vault token route
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Exception/MissingCustomerVaultTokenException.php
  src/Checkout/SalesChannel/CustomerVaultTokenRoute.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/storefront.xml
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Storefront/Data/Service/VaultDataService.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Storefront/Data/Service/VaultDataServiceTest.php
Due: validate openapi typescript

feat: add dependabot
  .github/dependabot.yaml
Due: none

fix: Changed the isAvailable criteria to match PayPal documentation
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript

fix: created PayLaterAvailabilityChecker, created AvailabilityContextBuilder, updated tests, implemented checkers and builders
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Util/Availability/AvailabilityContextBuilder.php
  src/Util/Availability/AvailabilityService.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  src/Util/PayLaterAvailabilityChecker.php
Due: validate openapi typescript

fix: changed how availability is checked, updated tests, updated banner builder
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Util/Availability/AvailabilityContextBuilder.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  src/Util/PayLaterAvailabilityChecker.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript

fix: added test package and cover
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: none

fix: added package and cover
  src/Util/Availability/AvailabilityContextBuilder.php
  src/Util/PayLaterAvailabilityChecker.php
Due: validate openapi typescript

fix: added tests
  tests/Util/Availability/AvailabilityContextBuilderTest.php
  tests/Util/PayLaterAvailabilityCheckerTest.php
Due: none

fix: PHPStan changes
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Util/PayLaterAvailabilityChecker.php
  tests/Util/Availability/AvailabilityContextBuilderTest.php
  tests/Util/Availability/AvailabilityServiceTest.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript

fix: review and phpstan changes
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Util/Availability/AvailabilityContextBuilder.php
  src/Util/Availability/AvailabilityService.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  src/Util/PayLaterAvailabilityChecker.php
  tests/Util/Availability/AvailabilityContextBuilderTest.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
  tests/Util/PayLaterAvailabilityCheckerTest.php
Due: validate openapi typescript

fix: 6.6 specific phpstan issues
  tests/Util/Availability/AvailabilityContextBuilderTest.php
Due: none

fix: stringification of error objects
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
Due: validate openapi typescript, eslint (storefront)

fix: moved static class to isAvailable method
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/installment.xml
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  src/Util/PayLaterAvailabilityChecker.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Util/PayLaterAvailabilityCheckerTest.php
Due: validate openapi typescript

fix: remove isDownloadable method
  src/Util/Availability/AvailabilityContextBuilder.php
Due: validate openapi typescript
