Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix: align pay later and p24 availability with paypal
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en-GB.json
  src/Util/Lifecycle/Method/P24MethodData.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/P24MethodDataTest.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript, eslint (administration)

fix: align p24 availability with paypal
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Method/P24MethodData.php
  tests/Util/Lifecycle/Method/P24MethodDataTest.php
Due: validate openapi typescript

fix: add canada to pay later on 6.5.x
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript, eslint (administration)

fix: update the legacy pay later availability hint
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

fix: cr
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/config/packages/framework.yaml
  src/RestApi/Client/Client.php
  src/RestApi/Exception/PayPalApiException.php
  tests/RestApi/Client/ClientTest.php
  tests/RestApi/Exception/PayPalApiExceptionTest.php
Due: validate openapi typescript, eslint (storefront)

[6.5.x] fix: add canada to pay later and cap p24 availability (#871)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
  src/Util/Lifecycle/Method/P24MethodData.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/P24MethodDataTest.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript, eslint (administration)

[6.6.x] fix: align pay later and p24 availability with paypal (#870)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
  src/Util/Lifecycle/Method/P24MethodData.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/P24MethodDataTest.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript, eslint (administration)

fix: changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

chore(snippets): Consistent use of "datenschutz" terms in de
  src/Resources/snippet/paypal.de.json
Due: validate openapi typescript

chore(snippets): Consistent use of "datenschutz" terms in de (#879)
  src/Resources/snippet/paypal.de.json
Due: validate openapi typescript

fix: Report only paid transactions and write turnover report in system scope
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

[6.6.x] fix: Report only paid transactions and write turnover report in system scope
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

[6.5.x] fix: Report only paid transactions and write turnover report in system scope
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

fix: Resolve the transitioned transaction from the state machine event
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  src/Resources/config/services/reporting.xml
  tests/Reporting/Subscriber/OrderTransactionSubscriberIntegrationTest.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

[6.6.x] fix: Resolve the transitioned transaction from the state machine event
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  src/Resources/config/services/reporting.xml
  tests/Reporting/Subscriber/OrderTransactionSubscriberIntegrationTest.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

[6.5.x] fix: Resolve the transitioned transaction from the state machine event
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  src/Resources/config/services/reporting.xml
  tests/Reporting/Subscriber/OrderTransactionSubscriberIntegrationTest.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

chore: Add entity repository generics to reporting subscriber
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
Due: validate openapi typescript

fix: handle PayPal transport errors and clear Express spinner (#774)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

fix: handle PayPal transport errors and clear Express spinner
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

[6.6.x] chore: Ignore Context::scope() deprecation in reporting subscriber
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
Due: validate openapi typescript

feat: fixed security advisory indicator
  src/SecurityAdvisories.php
  tests/SecurityAdvisoriesTest.php
Due: validate openapi typescript

fix: cr
  src/SecurityAdvisories.php
Due: validate openapi typescript

ci: Sync release branches to SwagPayPal-private
  .github/workflows/sync.yml
Due: none

[6.6.x] fix: report only paid transactions and write turnover report in system scope (#881)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  src/Resources/config/services/reporting.xml
  tests/Reporting/Subscriber/OrderTransactionSubscriberIntegrationTest.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

fix: report only paid transactions and write turnover report in system scope (#880)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  src/Resources/config/services/reporting.xml
  tests/Reporting/Subscriber/OrderTransactionSubscriberIntegrationTest.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

[6.5.x] fix: report only paid transactions and write turnover report in system scope (#882)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Reporting/Subscriber/OrderTransactionSubscriber.php
  src/Resources/config/services/reporting.xml
  tests/Reporting/Subscriber/OrderTransactionSubscriberIntegrationTest.php
  tests/Reporting/Subscriber/OrderTransactionSubscriberTest.php
Due: validate openapi typescript

ci: fix extension validation for shopware-cli 0.19.1
  .github/workflows/integration.yml
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-status/swag-paypal-pos-status.scss
  src/Resources/app/storefront/eslint.config.mjs
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/helper/dependency.helper.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/swag-paypal.pui-polling.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Resources/app/storefront/src/types/global.types.ts
  src/Resources/app/storefront/src/types/paypal-core-js.ts
Due: validate openapi typescript, eslint (administration), eslint (storefront)

ci: fix extension validation for shopware-cli 0.19.1 (#887)
  .github/workflows/integration.yml
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-status/swag-paypal-pos-status.scss
  src/Resources/app/storefront/eslint.config.mjs
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/helper/dependency.helper.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/swag-paypal.pui-polling.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Resources/app/storefront/src/types/global.types.ts
  src/Resources/app/storefront/src/types/paypal-core-js.ts
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: missing namespace
  tests/SecurityAdvisoriesTest.php
Due: none

fix: namespace
  tests/SecurityAdvisoriesTest.php
Due: none

[6.5.x] fix: handle PayPal transport errors and clear Express spinner (#884)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

[6.6.x] fix: handle PayPal transport errors and clear Express spinner (#883)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

feat: fixed security advisory indicator (#885)
  src/SecurityAdvisories.php
  tests/SecurityAdvisoriesTest.php
Due: validate openapi typescript

ci: Serialize private repo sync per branch and grant checkout read access
  .github/workflows/sync.yml
Due: none

ci: Sync release branches to SwagPayPal-private (#886)
  .github/workflows/sync.yml
Due: none
