Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: phpunit sales channel
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: none

fix: checkout as guest customer (#167)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
  src/Util/Lifecycle/Method/ACDCMethodData.php
  src/Util/Lifecycle/Method/PayPalMethodData.php
  src/Util/Lifecycle/Method/VenmoMethodData.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: checkout as guest customer (#168)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
  src/Util/Lifecycle/Method/ACDCMethodData.php
  src/Util/Lifecycle/Method/PayPalMethodData.php
  src/Util/Lifecycle/Method/VenmoMethodData.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
  tests/Storefront/Data/Service/VenmoCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: Storefront plugin error for ACDC in After Order
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
Due: validate openapi typescript, eslint (storefront)

fix: Storefront plugin error for ACDC in After Order
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
Due: validate openapi typescript, eslint (storefront)

feat: silence webhook token errors fixes #5296
  src/Resources/config/packages/shopware.yaml
  src/Webhook/WebhookController.php
  tests/Webhook/WebhookControllerTest.php
Due: validate openapi typescript

fix: Storefront plugin error for ACDC in After Order (#171)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
Due: validate openapi typescript, eslint (storefront)

fix: Storefront plugin error for ACDC in After Order (#169)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
Due: validate openapi typescript, eslint (storefront)

fix: Storefront plugin error for ACDC in After Order (#170)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
Due: validate openapi typescript, eslint (storefront)

fix: pipeline
  tests/Pos/Converter/ProductConverterTest.php
  tests/Pos/Sync/Inventory/InventorySyncerTest.php
Due: none

fix: openapi schema pipeline flakiness
  .github/workflows/php.yml
Due: none

fix: pipeline (#173)
  .github/workflows/php.yml
  tests/Pos/Converter/ProductConverterTest.php
  tests/Pos/Sync/Inventory/InventorySyncerTest.php
Due: none

fix: system config webhook check fixes shopware/shopware#7537
  src/Webhook/Registration/WebhookSubscriber.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript

fix: phpunit test
  tests/Webhook/Registration/WebhookSubscriberTest.php
Due: none

fix: openapi schema pipeline flakiness (#175)
  .github/workflows/php.yml
Due: none

fix: extract common behaviour
  src/Webhook/Registration/WebhookSubscriber.php
Due: validate openapi typescript

fix: system config webhook check
  src/Webhook/Registration/WebhookSubscriber.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript

fix: phpunit test
  src/Webhook/Registration/WebhookSubscriber.php
Due: validate openapi typescript

fix: phpunit tests
  src/Webhook/Registration/WebhookSubscriber.php
Due: validate openapi typescript

fix: system config webhook check (#174)
  src/Webhook/Registration/WebhookSubscriber.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript

feat: silence webhook token errors (#172)
  src/Resources/config/packages/shopware.yaml
  src/Webhook/WebhookController.php
  tests/Webhook/WebhookControllerTest.php
Due: validate openapi typescript

feat: silence webhook token errors
  src/Resources/config/packages/shopware.yaml
  src/Webhook/WebhookController.php
  tests/Webhook/WebhookControllerTest.php
Due: validate openapi typescript

fix: phpunit tests
  tests/Webhook/Registration/WebhookSubscriberTest.php
Due: none

feat: silence webhook token errors (#177)
  src/Resources/config/packages/shopware.yaml
  src/Webhook/WebhookController.php
  tests/Webhook/WebhookControllerTest.php
Due: validate openapi typescript

[6.6.x] fix: system config webhook check (#176)
  src/Webhook/Registration/WebhookSubscriber.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript

feat: silence webhook token errors (#178)
  src/Resources/config/packages/shopware.yaml
  src/Webhook/WebhookController.php
  tests/Webhook/WebhookControllerTest.php
Due: validate openapi typescript

fix: asset url loading
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/index.ts
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-account/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-getting-started/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/index.js
Due: validate openapi typescript, eslint (administration)

fix: build admin in production
  .gitattributes
Due: none

fix: build admin in production (#180)
  .gitattributes
Due: none

fix: build admin in production (#181)
  .gitattributes
Due: none

fix: asset loading with vite fixes shopware/shopware#7706
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-detail/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-detail/sw-sales-channel-modal-detail.html.twig
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/sw-sales-channel-modal-grid.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-account/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-account/swag-paypal-pos-account.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-getting-started/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-getting-started/swag-paypal-pos-getting-started.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.html.twig
  src/Resources/app/administration/src/types/shims.d.ts
Due: validate openapi typescript, eslint (administration)

fix: remove static paths
  src/Resources/app/administration/jest.config.mjs
  src/Resources/app/administration/src/vite.config.ts
  src/Resources/app/administration/tsconfig.json
Due: validate openapi typescript, eslint (administration)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
