Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

chore: bump version (#401)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: bump version (#402)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

Add server-side shipping callbacks for PayPal Express Checkout
  src/Checkout/ExpressCheckout/SalesChannel/AbstractExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
Due: validate openapi typescript

Added snippets
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: validate openapi typescript

added condition
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
Due: validate openapi typescript, eslint (administration)

Fix phpstan issues
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
Due: validate openapi typescript

Fix failing tests
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
Due: none

Add deprecation comments
  src/Checkout/Cart/Validation/CartValidator.php
  tests/Checkout/PUI/PUISubscriberTest.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: validate openapi typescript

fix: remove snippet duplication
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/paypal-deprecated-v68.de-DE.json
  src/Resources/snippet/paypal-deprecated-v68.en-GB.json
  src/Storefront/Framework/Snippet/SnippetFileLoaderDecorator.php
  tests/Storefront/Snippet/SnippetFileLoaderDecoratorTest.php
Due: validate openapi typescript

fix: ci
  src/Storefront/Framework/Snippet/SnippetFileLoaderDecorator.php
Due: validate openapi typescript

fix: update
  src/Checkout/Cart/Validation/CartValidator.php
  tests/Checkout/PUI/PUISubscriberTest.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: validate openapi typescript

fix: schema
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
Due: validate openapi typescript

fix: update
  composer.json
  phpstan.neon.dist
  src/Checkout/Cart/Validation/CartValidator.php
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/Checkout/PUI/PUISubscriberTest.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: validate openapi typescript, eslint (administration)

fix: ci
  src/Checkout/Cart/Validation/CartValidator.php
Due: validate openapi typescript

fix: 6.7.0.0
  phpstan-6.7.0.0.neon.dist
Due: none

fix: upstream method blocked changes (#404)
  composer.json
  phpstan-6.7.0.0.neon.dist
  phpstan.neon.dist
  src/Checkout/Cart/Validation/CartValidator.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/Checkout/PUI/PUISubscriberTest.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: validate openapi typescript, eslint (administration)

CR
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Validation/ValidationIssues.php
Due: validate openapi typescript

phpstan
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: none

fix: php 8.4
  .github/workflows/integration.yml
  .github/workflows/php.yml
Due: none

fix: reduce phpunit jobs
  .github/workflows/integration.yml
Due: none

fix: update
  .github/workflows/integration.yml
Due: none

ignore baseline
  phpstan-6.7.0.0.neon.dist
Due: none

fix: php 8.4 (#406)
  .github/workflows/integration.yml
  .github/workflows/php.yml
Due: none

Use correct blocked error
  phpstan-6.7.0.0.neon.dist
  phpstan.neon.dist
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: none

php cs fix
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: none

feat(translation): Rename translation file to enable language fallbacks
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/init/translation.init.ts
  src/Resources/app/administration/src/module/extension/snippet/de.json
  src/Resources/app/administration/src/module/extension/snippet/en.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/de.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/en.json
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/snippets/de.json
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/snippets/en.json
  src/Resources/app/administration/src/module/swag-paypal-disputes/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-disputes/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/snippet/paypal-deprecated-v68.de-DE.json
  src/Resources/snippet/paypal-deprecated-v68.en-GB.json
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
Due: validate openapi typescript, eslint (administration)

fix: Use correct blocked error (#408)
  phpstan-6.7.0.0.neon.dist
  phpstan.neon.dist
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: none

fix: remove snippet duplication (#405)
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/paypal-deprecated-v68.de-DE.json
  src/Resources/snippet/paypal-deprecated-v68.en-GB.json
  src/Storefront/Framework/Snippet/SnippetFileLoaderDecorator.php
  tests/Storefront/Snippet/SnippetFileLoaderDecoratorTest.php
Due: validate openapi typescript

feat: change shipping method (#398)
  phpstan-6.7.0.0.neon.dist
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/config/services/agent_commerce.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: validate openapi typescript, eslint (administration)

feat(translation): Rename translation file to enable language fallbacks (#397)
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/init/translation.init.ts
  src/Resources/app/administration/src/module/extension/snippet/de.json
  src/Resources/app/administration/src/module/extension/snippet/en.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/de.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/en.json
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/snippets/de.json
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/snippets/en.json
  src/Resources/app/administration/src/module/swag-paypal-disputes/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-disputes/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
  src/Storefront/Framework/Snippet/SnippetFileLoaderDecorator.php
  tests/Storefront/Snippet/SnippetFileLoaderDecoratorTest.php
Due: validate openapi typescript, eslint (administration)

Bump paypalsdk
  composer.json
Due: none

Update openapi schema
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
Due: validate openapi typescript

Update RequestService.php per new paypal-sdk structure
  src/Resources/config/services/paypal_sdk.xml
  src/RestApi/RequestService.php
Due: validate openapi typescript

Fix tests
  composer.json
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
Due: validate openapi typescript

chore: update openapi schema and ts
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

chore: update openapi schema and ts (#412)
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

feat: create coupons
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/SalesChannel/CreateCartRouteTest.php
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
Due: validate openapi typescript
