Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

feat: add app switch storefront setting
  src/Checkout/SPBCheckout/SPBCheckoutButtonData.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/app/store/settings.fixture.ts
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Setting/Settings.php
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  tests/Storefront/Data/Service/SPBCheckoutDataServiceTest.php
Due: validate openapi typescript, eslint (administration)

feat: restore paypal storefront context
  src/Checkout/SalesChannel/AbstractCreateOrderRoute.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/ApplePayOrderBuilder.php
  src/OrdersApi/Builder/GooglePayOrderBuilder.php
  src/OrdersApi/Builder/PUIOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Resources/config/services/storefront.xml
  src/Storefront/Checkout/ReturnUrl/PayPalReturnToken.php
  src/Storefront/Checkout/ReturnUrl/PayPalReturnTokenService.php
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/SalesChannel/CreateOrderRouteTest.php
  tests/OpenAPISchemaTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/Storefront/Checkout/ReturnUrl/PayPalReturnTokenServiceTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript

feat: enable paypal app switch
  composer.json
  src/Checkout/SalesChannel/AbstractCreateOrderRoute.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/ApplePayOrderBuilder.php
  src/OrdersApi/Builder/GooglePayOrderBuilder.php
  src/OrdersApi/Builder/PUIOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
  src/Resources/config/services/storefront.xml
  src/Storefront/Checkout/ReturnUrl/PayPalReturnTokenService.php
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/SalesChannel/CreateOrderRouteTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/Pos/Sync/Product/ProductSelectionTestProductSync.php
  tests/Storefront/Checkout/ReturnUrl/PayPalReturnTokenServiceTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: inject clocks for native time checks
  src/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandler.php
  src/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandler.php
  src/Pos/Api/Authentication/Token.php
  src/Pos/MessageQueue/MessageDispatcher.php
  src/Pos/Resource/TokenResource.php
  src/Pos/Run/Administration/LogCleaner.php
  src/Pos/Run/RunService.php
  src/Reporting/ScheduledTask/TurnoverReportingTaskHandler.php
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/pos/api.xml
  src/Resources/config/services/pos/message_queue.xml
  src/Resources/config/services/pos/run.xml
  src/Resources/config/services/pui.xml
  src/Resources/config/services/reporting.xml
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Pos/Mock/Client/PosClientFactoryMock.php
  tests/Pos/Resource/TokenResourceTest.php
  tests/Pos/Run/PosCommandTest.php
  tests/Pos/Run/PosSyncControllerTest.php
  tests/Pos/Run/RunServiceTest.php
  tests/Pos/Run/RunTaskTest.php
  tests/Pos/Run/ScheduledTaskTest.php
  tests/Pos/Run/SyncManagerTest.php
  tests/Pos/Sync/CompleteInventoryTest.php
  tests/Pos/Sync/CompleteProductTest.php
  tests/Pos/Sync/ImageSyncerTest.php
  tests/Pos/Util/LogCleanerTest.php
  tests/Pos/Util/SettingsControllerTest.php
  tests/Pos/Webhook/InventoryChangedTest.php
Due: validate openapi typescript

fix: inject clocks for native time checks (#711)
  src/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandler.php
  src/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandler.php
  src/Pos/Api/Authentication/Token.php
  src/Pos/MessageQueue/MessageDispatcher.php
  src/Pos/Resource/TokenResource.php
  src/Pos/Run/Administration/LogCleaner.php
  src/Pos/Run/RunService.php
  src/Reporting/ScheduledTask/TurnoverReportingTaskHandler.php
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/pos/api.xml
  src/Resources/config/services/pos/message_queue.xml
  src/Resources/config/services/pos/run.xml
  src/Resources/config/services/pui.xml
  src/Resources/config/services/reporting.xml
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Pos/Mock/Client/PosClientFactoryMock.php
  tests/Pos/Resource/TokenResourceTest.php
  tests/Pos/Run/PosCommandTest.php
  tests/Pos/Run/PosSyncControllerTest.php
  tests/Pos/Run/RunServiceTest.php
  tests/Pos/Run/RunTaskTest.php
  tests/Pos/Run/ScheduledTaskTest.php
  tests/Pos/Run/SyncManagerTest.php
  tests/Pos/Sync/CompleteInventoryTest.php
  tests/Pos/Sync/CompleteProductTest.php
  tests/Pos/Sync/ImageSyncerTest.php
  tests/Pos/Util/LogCleanerTest.php
  tests/Pos/Util/SettingsControllerTest.php
  tests/Pos/Webhook/InventoryChangedTest.php
Due: validate openapi typescript

feat: retry after rate limit error
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationRetryStrategy.php
  src/Resources/config/services/shipping.xml
  src/RestApi/Exception/PayPalApiException.php
  src/RestApi/RequestService.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationRetryStrategyTest.php
  tests/RestApi/RequestServiceTest.php
Due: validate openapi typescript

fix: lint
  src/RestApi/Exception/PayPalApiException.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
Due: validate openapi typescript

fix: resolve eslint, jest and phpunit failures in installment banner feature
  CHANGELOG.md
  composer.json
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/app/administration/src/app/store/settings.fixture.ts
  src/Resources/app/administration/src/mixin/swag-paypal-settings.mixin.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/index.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/swag-paypal-settings-banner-preview.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/swag-paypal-settings-banner-preview.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/types/system-config.ts
  src/Util/Lifecycle/Update.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
Due: validate openapi typescript, eslint (administration)

fix: align PayPal retry handling with SDK
  composer.json
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationRetryStrategy.php
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Service/VaultTokenService.php
  src/Resources/config/services/shipping.xml
  src/RestApi/Exception/PayPalApiException.php
  src/Webhook/Handler/VaultPaymentTokenCreated.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandlerTest.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationRetryStrategyTest.php
  tests/RestApi/RequestServiceTest.php
Due: validate openapi typescript

chore: defer SDK vaulting alignment
  composer.json
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Service/VaultTokenService.php
  src/Webhook/Handler/VaultPaymentTokenCreated.php
Due: validate openapi typescript

chore: keep phpstan config unchanged
  phpstan-baseline.neon
  phpstan.neon.dist
Due: none

chore: bump sdk version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-baseline.neon
  phpstan.neon.dist
  src/RestApi/Exception/PayPalApiException.php
  tests/Checkout/Order/Shipping/MessageQueue/ShippingInformationRetryStrategyTest.php
  tests/RestApi/Exception/PayPalApiExceptionTest.php
  tests/RestApi/RequestServiceTest.php
Due: validate openapi typescript

fix: pass paypal return urls explicitly
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/APM/AbstractAPMOrderBuilder.php
  src/OrdersApi/Builder/APM/BancontactOrderBuilder.php
  src/OrdersApi/Builder/APM/BlikOrderBuilder.php
  src/OrdersApi/Builder/APM/BoletoBancarioOrderBuilder.php
  src/OrdersApi/Builder/APM/EpsOrderBuilder.php
  src/OrdersApi/Builder/APM/IdealOrderBuilder.php
  src/OrdersApi/Builder/APM/MultibancoOrderBuilder.php
  src/OrdersApi/Builder/APM/MyBankOrderBuilder.php
  src/OrdersApi/Builder/APM/OxxoOrderBuilder.php
  src/OrdersApi/Builder/APM/P24OrderBuilder.php
  src/OrdersApi/Builder/APM/TrustlyOrderBuilder.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/ApplePayOrderBuilder.php
  src/OrdersApi/Builder/GooglePayOrderBuilder.php
  src/OrdersApi/Builder/PUIOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  tests/OrdersApi/Builder/APMOrderBuilderTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/PUIOrderBuilderTest.php
Due: validate openapi typescript

fix: use request bag string accessors
  src/OrdersApi/Builder/AbstractOrderBuilder.php
Due: validate openapi typescript

fix: generalize return token handling
  src/Checkout/SalesChannel/AbstractCreateOrderRoute.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/config/services/storefront.xml
  src/Storefront/Controller/PayPalController.php
  src/Storefront/Service/ReturnToken.php
  src/Storefront/Service/ReturnTokenService.php
  tests/Checkout/SalesChannel/CreateOrderRouteTest.php
  tests/OrdersApi/Builder/APMOrderBuilderTest.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/PUIOrderBuilderTest.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Storefront/Service/ReturnTokenServiceTest.php
Due: validate openapi typescript

fix: normalize create order request data
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTest.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
Due: validate openapi typescript

fix: ignore product stream builder deprecation on trunk
  phpstan.neon.dist
Due: none

fix: ignore ProductStreamBuilderInterface deprecation on trunk (#720)
  phpstan.neon.dist
Due: none

chore: auto update of paypal locales
  src/Util/SupportedLocales.php
Due: validate openapi typescript

feat: add installment banner appearance settings with admin preview (#709)
  CHANGELOG.md
  composer.json
  src/Installment/Banner/BannerData.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/app/store/settings.fixture.ts
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/index.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/swag-paypal-settings-banner-preview.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/swag-paypal-settings-banner-preview.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/app/storefront/src/page/swag-paypal.installment-banner.js
  src/Setting/Settings.php
  src/Util/Lifecycle/Update.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: ordering
  .github/workflows/weekly.yml
  src/Util/SupportedLocales.php
Due: validate openapi typescript

fix: normalize store api openapi schema
  src/Resources/Schema/StoreApi/openapi.json
Due: validate openapi typescript

fix(snippet): Fix us snippets in uk translations
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
Due: validate openapi typescript, eslint (administration)

fix(snippet): Fix us snippets in uk translations (#723)
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
Due: validate openapi typescript, eslint (administration)

fix(snippets): Consitency of informal speech in admin
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
Due: validate openapi typescript, eslint (administration)

fix(snippets): Consitency of informal speech in admin (#724)
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
Due: validate openapi typescript, eslint (administration)

chore: add missing German changelog translation for the installment banner appearance settings
  CHANGELOG_de-DE.md
Due: none

fix: guide the user to unaccepted terms for the Smart Payment Buttons
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: handle phpstan EntitySearchResult deprecations
  phpstan-baseline.neon
  phpstan.neon.dist
Due: none

fix: repo mock types
  tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php
Due: none

fix: incorrect exlclude
  phpstan.neon.dist
Due: none

fix: display Google Pay button in the store language
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix: handle PHPStan EntitySearchResult deprecations (#725)
  phpstan-baseline.neon
  phpstan.neon.dist
  tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php
Due: none

fix: keep PayPal Smart Payment Buttons disabled until terms are accepted (#710)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

chore: add changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

refactor: parse button locale with Intl.Locale
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix: remove SVG doctype from PayPal logo
  src/Resources/app/administration/static/img/paypal-logo.svg
Due: validate openapi typescript, eslint (administration)

fix: migrate route config to yaml
  src/Resources/config/routes.xml
  src/Resources/config/routes.yaml
Due: validate openapi typescript

fix: address store release validation warnings (#727)
  src/Resources/app/administration/static/img/paypal-logo.svg
  src/Resources/config/routes.xml
  src/Resources/config/routes.yaml
Due: validate openapi typescript, eslint (administration)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
