Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix: fallback to supported locale
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/DevOps/Command/LocaleScraperCommand.php
  src/Resources/config/services/dev_ops.xml
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Util/LocaleCodeProvider.php
  src/Util/SupportedLocales.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Util/LocaleCodeProviderTest.php
Due: validate openapi typescript

fix: ci
  src/DevOps/Command/LocaleScraperCommand.php
Due: validate openapi typescript

[6.6.x] fix: fallback to supported locale (#503)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/DevOps/Command/LocaleScraperCommand.php
  src/Resources/config/services/dev_ops.xml
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Util/LocaleCodeProvider.php
  src/Util/SupportedLocales.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Util/LocaleCodeProviderTest.php
Due: validate openapi typescript

test: node setup
  .github/actions/setup-paypal/action.yml
Due: none

fix: jest
  src/Resources/app/administration/jest.config.mjs
Due: validate openapi typescript, eslint (administration)

fix: pipeline
  .github/actions/setup-paypal/action.yml
Due: none

Update openapi.d.ts
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: update
  .github/actions/setup-paypal/action.yml
Due: none

open api generate
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
Due: validate openapi typescript

[6.5.x] fix: pipeline (#505)
  .github/actions/setup-paypal/action.yml
Due: none

[6.5.x] fix: fallback to supported locale (#504)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/DevOps/Command/LocaleScraperCommand.php
  src/Resources/config/services/dev_ops.xml
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Util/LocaleCodeProvider.php
  src/Util/SupportedLocales.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Util/LocaleCodeProviderTest.php
Due: validate openapi typescript

fix: disable cookies and script loading when PMs are inactive
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-baseline.neon
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/storefront.xml
  src/Resources/config/services/util.xml
  src/Storefront/Data/FundingSubscriber.php
  src/Storefront/Framework/Cookie/CookieProviderSubscriber.php
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  src/Util/PaymentMethodUtil.php
  tests/Administration/PayPalPaymentMethodControllerTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Storefront/Data/FundingSubscriberTest.php
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

fix: phpstan
  tests/Util/PaymentMethodUtilTest.php
Due: none

fix: tests
  src/Resources/config/services/util.xml
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

fix: disable cookies and script loading when PMs are inactive
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/storefront.xml
  src/Resources/config/services/util.xml
  src/Storefront/Data/FundingSubscriber.php
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  src/Util/PaymentMethodUtil.php
  tests/Administration/PayPalPaymentMethodControllerTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

fix: disable cookies and script loading when PMs are inactive
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/storefront.xml
  src/Resources/config/services/util.xml
  src/Storefront/Data/FundingSubscriber.php
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  src/Util/PaymentMethodUtil.php
  tests/Administration/PayPalPaymentMethodControllerTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

fix: test messages
  tests/Util/PaymentMethodUtilTest.php
Due: none

fix: tests
  src/Util/PaymentMethodUtil.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

fix: paypal avatar size
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
Due: validate openapi typescript, eslint (administration)

fix: paypal avatar size
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
Due: validate openapi typescript, eslint (administration)

fix: paypal avatar size
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
Due: validate openapi typescript, eslint (administration)

fix: phpstan
  src/Util/PaymentMethodUtil.php
Due: validate openapi typescript

fix: phpstan
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Util/PaymentMethodUtil.php
Due: validate openapi typescript

[6.6.x] fix: paypal avatar size (#512)
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
Due: validate openapi typescript, eslint (administration)

fix: disable cookies and script loading when PMs are inactive (#508)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-baseline.neon
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/storefront.xml
  src/Resources/config/services/util.xml
  src/Storefront/Data/FundingSubscriber.php
  src/Storefront/Framework/Cookie/CookieProviderSubscriber.php
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  src/Util/PaymentMethodUtil.php
  tests/Administration/PayPalPaymentMethodControllerTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
  tests/Storefront/Framework/Cookie/CookieProviderSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

fix: paypal avatar size (#511)
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
Due: validate openapi typescript, eslint (administration)

[6.6.x] fix: disable cookies and script loading when PMs are inactive (#509)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/storefront.xml
  src/Resources/config/services/util.xml
  src/Storefront/Data/FundingSubscriber.php
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  src/Util/PaymentMethodUtil.php
  tests/Administration/PayPalPaymentMethodControllerTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

[6.5.x] fix: paypal avatar size (#513)
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
Due: validate openapi typescript, eslint (administration)

[6.5.x] fix: disable cookies and script loading when PMs are inactive (#510)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/storefront.xml
  src/Resources/config/services/util.xml
  src/Storefront/Data/FundingSubscriber.php
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  src/Util/PaymentMethodUtil.php
  tests/Administration/PayPalPaymentMethodControllerTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

feat: added countryState
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

feat: Added country state
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript

use sales channel repository
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript
