Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

ci: add Shopware CLI validate job
  .github/workflows/integration.yml
Due: none

ci: add Shopware CLI validate job (#728)
  .github/workflows/integration.yml
Due: none

fix: remove SVG doctype from PayPal logo
  src/Resources/app/administration/static/img/paypal-logo.svg
Due: validate openapi typescript, eslint (administration)

fix: map Norwegian locales to Google Pay's 'no' code
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix: remove SVG doctype from PayPal logo [6.6.x] (#730)
  src/Resources/app/administration/static/img/paypal-logo.svg
Due: validate openapi typescript, eslint (administration)

fix: remove SVG doctype from PayPal logo [6.5.x] (#729)
  src/Resources/app/administration/static/img/paypal-logo.svg
Due: validate openapi typescript, eslint (administration)

fix: keep PayPal Smart Payment Buttons disabled until terms are accepted
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: migrate to routes.yaml
  src/Resources/config/routes.yaml
Due: validate openapi typescript

fix: revert compatibility to paypal-sdk 1.x
  composer.json
  src/Checkout/Payment/Service/VaultTokenService.php
Due: validate openapi typescript

fix: openapi schema
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: ci
  phpstan.neon.dist
  src/AgenticCommerce/Routing/AgentSource.php
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Service/VaultTokenService.php
  src/Webhook/Handler/VaultPaymentTokenCreated.php
Due: validate openapi typescript

fix: Snippet concat
  src/Resources/app/administration/src/app/snippet/de.json
Due: validate openapi typescript, eslint (administration)

fix: Snippet concat (#733)
  src/Resources/app/administration/src/app/snippet/de.json
Due: validate openapi typescript, eslint (administration)

chore: target release 10.8.0
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

test: fix failing ats tests
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: none

test: try paypal pay button via testid
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
Due: none

test: fix failing ats tests (#734)
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
Due: none

style: revert unrelated formatting changes
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

chore: use next-version placeholder in changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: block Express Checkout on empty cart
  src/Checkout/Exception/EmptyCartException.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCartValidator.php
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
Due: validate openapi typescript, eslint (storefront)

fix: changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: display Google Pay button in the store language (#726)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix: tests
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: none

fix: tests
  tests/Helper/CheckoutRouteTrait.php
Due: none

feat: use SCA_WHEN_REQUIRED for ACDC when 3DS is not enforced
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
Due: validate openapi typescript

fix: cr
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCartValidator.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/storefront.xml
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript

fix: phpstan
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript

fix: cr
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
Due: validate openapi typescript

fix: keep PayPal Smart Payment Buttons disabled until terms are accepted [6.6.x] (#732)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: keep PayPal Smart Payment Buttons disabled until terms are accepted [6.5.x] (#731)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix(snippets): Fix "dialogue" for en-GB
  src/Resources/app/administration/src/app/snippet/en.json
Due: validate openapi typescript, eslint (administration)

fix(snippets): Fix "dialogue" for en-GB (#737)
  src/Resources/app/administration/src/app/snippet/en.json
Due: validate openapi typescript, eslint (administration)

fix: block Express Checkout on empty cart (#736)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Exception/EmptyCartException.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

revert: "fix(snippets): Fix "dialogue" for en-GB (#737)"
  src/Resources/app/administration/src/app/snippet/en.json
Due: validate openapi typescript, eslint (administration)

revert: "fix(snippets): Fix "dialogue" for en-GB (#737)" (#738)
  src/Resources/app/administration/src/app/snippet/en.json
Due: validate openapi typescript, eslint (administration)

chore: use merchant-friendly changelog wording
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

feat: agentic commerce jwks (#672)
  src/AgenticCommerce/Routing/AgentRequestContextResolver.php
  src/AgenticCommerce/Security/AbstractPayPalJwksProvider.php
  src/AgenticCommerce/Security/PayPalJwksProvider.php
  src/Resources/config/services/agentic_commerce.xml
  tests/AgenticCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgenticCommerce/Security/PayPalJwksProviderTest.php
Due: validate openapi typescript
