Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

Update src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
Due: validate openapi typescript

Update src/AgentCommerce/Util/PayPalCartFactory.php
  src/AgentCommerce/Util/PayPalCartFactory.php
Due: validate openapi typescript

Error message
  src/AgentCommerce/Util/PayPalCartFactory.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
Due: validate openapi typescript

fix: supply previuos exception
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

feat: paypal resolver (#324)
  phpstan.neon.dist
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Routing/AgentRouteScope.php
  src/AgentCommerce/Routing/AgentSource.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/Routing/AgentRouteScopeTest.php
  tests/AgentCommerce/Routing/AgentSourceTest.php
  tests/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriberTest.php
  tests/AgentCommerce/Util/AgentDebugIDProcessorTest.php
Due: validate openapi typescript

fix: ecs
  .php-cs-fixer.dist.php
  src/AgentCommerce/Util/PayPalCartFactory.php
  src/AgentCommerce/Validation/ValidationIssues.php
Due: validate openapi typescript

fix: invalid exception
  src/AgentCommerce/Exception/AgentException.php
  src/AgentCommerce/Util/PayPalCartFactory.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
Due: validate openapi typescript

feat: PayPal data transformer (#325)
  .php-cs-fixer.dist.php
  composer.json
  src/AgentCommerce/Exception/AgentException.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/Response/AgentCartResponse.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/PayPalCartFactory.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Util/ShopwareCartTransformer.php
  src/AgentCommerce/Validation/CartTokenValidator.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/SalesChannel/Response/AgentCartResponseTest.php
Due: validate openapi typescript

Cart routes create/get/update
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.txt
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript, eslint (administration)

reset sdk branch
  composer.json
Due: none

feat: paypal commerce agent checkout
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/Response/AgentCartResponse.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

feat: update cart and paypal order
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

cr
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Routing/AgentSource.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Subscriber/ProductFilterSubscriber.php
  src/AgentCommerce/Validation/CartTokenValidator.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

fix test
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: none

feat: add block for sandbox overwrite
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.html.twig
Due: validate openapi typescript, eslint (administration)

feat: add block for sandbox overwrite (#338)
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.html.twig
Due: validate openapi typescript, eslint (administration)

make regex a const value
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Validation/CartTokenValidator.php
Due: validate openapi typescript

fix test
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix test
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Validation/CartTokenValidator.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

feat: route response (#316)
  composer.json
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Routing/AgentSource.php
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Subscriber/ProductFilterSubscriber.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/CartTokenValidator.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.txt
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript, eslint (administration)

feat: delete old billing address
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Routing/AgentContextResolverListenerTest.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/Routing/AgentRouteScopeTest.php
Due: validate openapi typescript

fix: apple pay unsupported characters
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Storefront/Data/Service/ApplePayCheckoutDataService.php
  src/Storefront/Data/Struct/ApplePayCheckoutData.php
Due: validate openapi typescript, eslint (storefront)

falsy merge fix
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

Prevent extensive invalid order transaction id error messages
  src/Webhook/Exception/WebhookOrderTransactionInvalidIdException.php
  src/Webhook/Handler/AbstractWebhookHandler.php
  src/Webhook/WebhookController.php
Due: validate openapi typescript

feat: delete old billing address (#341)
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Routing/AgentContextResolverListenerTest.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/Routing/AgentRouteScopeTest.php
Due: validate openapi typescript

feat: added price validation
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
Due: validate openapi typescript

ecs
  src/AgentCommerce/Validation/ValidationIssues.php
Due: validate openapi typescript

feat: added price validation (#347)
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
Due: validate openapi typescript

feat: convert cart errors
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
Due: validate openapi typescript

fix: apple pay unsupported characters (#332)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Storefront/Data/Service/ApplePayCheckoutDataService.php
  src/Storefront/Data/Struct/ApplePayCheckoutData.php
Due: validate openapi typescript, eslint (storefront)

fix(phpstan): upstream update
  phpstan.neon.dist
Due: none

fix: phpstan
  tests/RestApi/OpenAPISchemaTest.php
Due: none

fix(phpstan): upstream update (#350)
  phpstan.neon.dist
  tests/RestApi/OpenAPISchemaTest.php
Due: none

fix: apple pay unsupported characters (#344)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Storefront/Data/Service/ApplePayCheckoutDataService.php
  src/Storefront/Data/Struct/ApplePayCheckoutData.php
Due: validate openapi typescript, eslint (storefront)

fix: apple pay unsupported characters (#343)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Storefront/Data/Service/ApplePayCheckoutDataService.php
  src/Storefront/Data/Struct/ApplePayCheckoutData.php
Due: validate openapi typescript, eslint (storefront)

fix: prevent extensive invalid order transaction id error messages (#345)
  src/Webhook/Exception/WebhookOrderTransactionInvalidIdException.php
  src/Webhook/Handler/AbstractWebhookHandler.php
  src/Webhook/WebhookController.php
Due: validate openapi typescript
