Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix test for <6.6.2
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.scss
  tests/AgentCommerce/SalesChannel/CreateCartRouteTest.php
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
  tests/AgentCommerce/Util/ShopwareCartTransformerTest.php
Due: validate openapi typescript, eslint (administration)

small changes
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/DataAbstractionLayer/VaultTokenMapping/VaultTokenMappingCollection.php
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-create/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/body.csv.twig
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/static/product-export/header.csv.twig
  tests/AgentCommerce/SalesChannel/CheckoutRouteTest.php
  tests/AgentCommerce/SalesChannel/CreateCartRouteTest.php
  tests/AgentCommerce/Util/PayPalCartTransformerTest.php
Due: validate openapi typescript, eslint (administration)

fix: github workflows for externals (#435)
  .github/actions/setup-paypal/action.yml
  .github/workflows/acceptance.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/store-release.yml
  .github/workflows/storefront.yml
  .github/workflows/weekly.yml
  bin/phpstan-config-generator.php
  bin/static-analyze-autoloader.php
  composer.json
  phpstan-baseline.cms-extensions.neon
  phpstan-baseline.commercial.neon
  phpstan-trunk.neon.dist
  phpstan.neon.dist
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
Due: none

feat: add subscription mixed cart support
  phpstan-baseline.commercial.neon
  phpstan.neon.dist
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Service/VaultTokenService.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  src/Resources/views/storefront/component/payment/payment-method.html.twig
  src/Resources/views/storefront/page/checkout/confirm/index.html.twig
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
Due: validate openapi typescript

fix: github workflows for externals (#435)
  .github/actions/setup-paypal/action.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/store-release.yml
  .github/workflows/storefront.yml
  bin/phpstan-config-generator.php
  bin/static-analyze-autoloader.php
  composer.json
  phpstan-baseline.cms-extensions.neon
  phpstan-baseline.commercial.neon
  phpstan-baseline.neon
  phpstan.neon.dist
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
  tests/TestBootstrapper.php
Due: none

test: being external
  .github/actions/setup-paypal/action.yml
Due: none

fix: ci
  phpstan.neon.dist
  src/Checkout/Payment/Service/VaultTokenService.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
Due: validate openapi typescript

fix: acceptance
  .github/workflows/integration.yml
  .github/workflows/lint.yml
Due: none

fix: plugin path
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
Due: none

fix: ci
  .github/actions/setup-paypal/action.yml
  tests/TestBootstrap.php
Due: none

fix: phpstan
  phpstan-6.7.0.0.neon.dist
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
Due: none

fix: no
  phpstan.neon.dist
  tests/TestBootstrap.php
Due: none

fix: ci
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
Due: none

fix: yes?
  .github/actions/setup-paypal/action.yml
Due: none

fix: add hint for contact phone number transmission for Express
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: phpunit seg fault
  .github/workflows/integration.yml
Due: none

fix: ci
  phpstan-6.7.0.0.neon.dist
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
Due: none

fix: bootstrap
  tests/PHPStanBootstrap.php
Due: none

fix: align test bootstrapper
  tests/TestBootstrap.php
Due: none

fix: github workflows for externals (#435)
  .github/actions/setup-paypal/action.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/php.yml
  .github/workflows/store-release.yml
  .github/workflows/storefront.yml
  .gitignore
  bin/phpstan-config-generator.php
  bin/static-analyze-autoloader.php
  phpstan-baseline.cms-extensions.neon
  phpstan-baseline.commercial.neon
  phpstan.neon.dist
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
  tests/TestBootstrapper.php
Due: none

fix: cr
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
Due: none

fix: versions
  .github/workflows/integration.yml
Due: none

test: disable repos
  .github/actions/setup-paypal/action.yml
Due: none

test: enable repos again
  .github/actions/setup-paypal/action.yml
Due: none

fix: ci
  src/Checkout/Payment/Service/VaultTokenService.php
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
Due: validate openapi typescript

feat: express checkout shipping callback
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/ExpressShippingCallbackException.php
  src/Checkout/ExpressCheckout/SalesChannel/AbstractExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/orders_api.xml
  src/RestApi/V2/Api/Order/PaymentSource/Common/Attributes/OrderUpdateCallbackConfig.php
  src/RestApi/V2/Api/Order/PaymentSource/Common/ExperienceContext.php
  src/RestApi/V2/Api/Order/PurchaseUnit.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOption.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOptionCollection.php
  src/RestApi/V2/Api/OrderShippingCallback.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript, eslint (administration)

fix: ci
  src/Checkout/ExpressCheckout/ExpressShippingCallbackException.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/RestApi/V2/Api/Order/PaymentSource/Common/Attributes/OrderUpdateCallbackConfig.php
  src/RestApi/V2/Api/Order/PurchaseUnit/ShippingOption.php
  src/RestApi/V2/Api/OrderShippingCallback.php
Due: validate openapi typescript, eslint (administration)

fix: ci
  tests/Checkout/Method/VenmoHandlerTest.php
Due: none

fix: ci
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript, eslint (administration)

fix: ci
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
Due: none

[6.5.x] fix: github workflows for externals (#451)
  .github/actions/setup-paypal/action.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/php.yml
  .github/workflows/store-release.yml
  .github/workflows/storefront.yml
  .gitignore
  bin/phpstan-config-generator.php
  bin/static-analyze-autoloader.php
  phpstan-baseline.cms-extensions.neon
  phpstan-baseline.commercial.neon
  phpstan.neon.dist
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
  tests/TestBootstrapper.php
Due: none

fix: cr
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Service/VaultTokenService.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/OrdersApi/Builder/PayPalOrderBuilder.php
  src/OrdersApi/Builder/VenmoOrderBuilder.php
  tests/Checkout/Payment/Service/VaultTokenServiceTest.php
  tests/OrdersApi/Builder/Trait/VaultableOrderBuildTrait.php
Due: validate openapi typescript

fix: jest ci
  .github/workflows/lint.yml
Due: none

[6.6.x] fix: GitHub workflows for externals (#449)
  .github/actions/setup-paypal/action.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/lint.yml
  .github/workflows/store-release.yml
  .github/workflows/storefront.yml
  bin/phpstan-config-generator.php
  bin/static-analyze-autoloader.php
  composer.json
  phpstan-baseline.cms-extensions.neon
  phpstan-baseline.commercial.neon
  phpstan-baseline.neon
  phpstan.neon.dist
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
  tests/TestBootstrapper.php
Due: none

fix: version
  composer.json
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
