Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

Remove CoverClass
  tests/Checkout/SalesChannel/CreateOrderRouteCartServiceTest.php
  tests/Util/Lifecycle/Method/ACDCMethodDataTest.php
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: ACDC isAvailable without vaulting flag
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Method/ACDCMethodData.php
Due: validate openapi typescript

added testcase
  tests/Util/Lifecycle/Method/ACDCMethodDataTest.php
Due: none

[6.5.x] fix: use subscription cart service for subscription route (#646)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/Resources/config/services/checkout.xml
  src/Util/Lifecycle/Method/ACDCMethodData.php
  tests/Checkout/SalesChannel/CreateOrderRouteCartServiceTest.php
  tests/Util/Lifecycle/Method/ACDCMethodDataTest.php
Due: validate openapi typescript

[6.6.x] fix: use subscription cart service for subscription route (#636)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/Resources/config/services/checkout.xml
  src/Util/Lifecycle/Method/ACDCMethodData.php
  tests/Checkout/SalesChannel/CreateOrderRouteCartServiceTest.php
  tests/Util/Lifecycle/Method/ACDCMethodDataTest.php
Due: validate openapi typescript

fix: ACDC isAvailable without vaulting flag (#647)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Util/Lifecycle/Method/ACDCMethodData.php
  tests/Util/Lifecycle/Method/ACDCMethodDataTest.php
Due: validate openapi typescript

chore: bump version
  composer.json
Due: none

chore: bump version (#648)
  composer.json
Due: none

[6.6.x] chore: bump version (#649)
  composer.json
Due: none

[6.5.x] chore: bump version (#650)
  composer.json
Due: none

fix: settings border color
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
Due: validate openapi typescript, eslint (administration)

refactor: token usage in Checkout domain (#645)
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/sw-first-run-wizard-paypal-credentials.scss
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/sw-settings-shipping-detail/sw-settings-shipping-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-disputes/index.ts
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-detail/swag-paypal-disputes-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-list/swag-paypal-disputes-list.html.twig
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-list/swag-paypal-disputes-list.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.scss
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-pui-details/swag-paypal-pui-details.scss
  src/Resources/app/administration/src/module/swag-paypal-payment/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/page/swag-paypal-payment-detail/swag-paypal-payment-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-account/swag-paypal-pos-account.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-boolean-radio/swag-paypal-pos-boolean-radio.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-continue-setup/swag-paypal-pos-continue-setup.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-status/swag-paypal-pos-status.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-overview/swag-paypal-pos-detail-overview.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-settings/swag-paypal-pos-detail-settings.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos/swag-paypal-pos.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/swag-paypal-pos-wizard-connection-disconnect.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/swag-paypal-pos-wizard-connection-disconnect.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/swag-paypal-pos-wizard-connection-success.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/swag-paypal-pos-wizard-connection-success.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-customization/swag-paypal-pos-wizard-customization.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-finish/swag-paypal-pos-wizard-finish.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-finish/swag-paypal-pos-wizard-finish.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-sync-library/swag-paypal-pos-wizard-sync-library.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-sync-prices/swag-paypal-pos-wizard-sync-prices.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/swag-paypal-pos-wizard.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-locale-select/swag-paypal-settings-locale-select.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/swag-paypal-settings-general.scss
Due: validate openapi typescript, eslint (administration)

test: implement payment journey test
  tests/acceptance/page-objects/Storefront/Checkout/PayPalLogin.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
  tests/acceptance/services/PayPalDataProvider.ts
  tests/acceptance/tests/Checkout/PayWithPayPal.spec.ts
  tests/acceptance/tests/paypal-account.setup.ts
Due: none

test: set timeout to 30 sec
  tests/acceptance/tests/Checkout/PayWithPayPal.spec.ts
Due: none

test: just trigger the workflow again
  tests/acceptance/tests/Checkout/PayWithPayPal.spec.ts
Due: none

test: add paypal customer secrets
  .github/workflows/integration.yml
Due: none

test: fix typo
  .github/workflows/integration.yml
Due: none

test: fix button
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
  tests/acceptance/tests/Checkout/PayWithPayPal.spec.ts
Due: none

test: implement paypal journey test (#658)
  .github/workflows/integration.yml
  tests/acceptance/page-objects/Storefront/Checkout/PayPalLogin.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
  tests/acceptance/services/PayPalDataProvider.ts
  tests/acceptance/tests/Checkout/PayWithPayPal.spec.ts
  tests/acceptance/tests/paypal-account.setup.ts
Due: none

fix: ignore stale PAYMENT.AUTHORIZATION.VOIDED webhooks
  CHANGELOG.md
  src/Webhook/Handler/AuthorizationVoided.php
  tests/Webhook/Handler/AuthorizationVoidedV2Test.php
Due: validate openapi typescript

fix pipeline
  src/AgenticCommerce/HoneyWebhookService.php
  tests/AgenticCommerce/HoneyWebhookServiceTest.php
  tests/AgenticCommerce/Routing/AgentContextResolverListenerTest.php
  tests/AgenticCommerce/Util/PayPalCartTransformerTest.php
Due: validate openapi typescript

fix pipeline
  phpstan.neon.dist
  src/AgenticCommerce/Routing/AgentRequestContextResolver.php
  src/AgenticCommerce/SalesChannel/UpdateCartRoute.php
  src/AgenticCommerce/Subscriber/WebhookSubscriber.php
  src/AgenticCommerce/Util/PayPalCartTransformer.php
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/Service/VaultTokenService.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-sales-channel-detail/sw-sales-channel-detail.spec.ts
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Webhook/Handler/VaultPaymentTokenCreated.php
Due: validate openapi typescript, eslint (administration)

feat: Un/Install logic
  src/Migration/Migration1752337399AddAgenticCommerceSalesChannelType.php
  src/Resources/config/services/util.xml
  src/SwagPayPal.php
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/AgenticCommerceService.php
  src/Util/Lifecycle/State/PosStateService.php
  tests/Migration/Migration1752337399AddAgenticCommerceSalesChannelTypeTest.php
  tests/Util/Lifecycle/ActivateDeactivateTest.php
  tests/Util/Lifecycle/InstallUninstallTest.php
  tests/Util/Lifecycle/State/AgenticCommerceServiceTest.php
  tests/Util/Lifecycle/State/PosStateServiceTest.php
Due: validate openapi typescript

fix: restore fallback snippets with translations
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Storefront/Framework/Snippet/SnippetFileLoaderDecorator.php
  tests/Storefront/Snippet/SnippetFileLoaderDecoratorTest.php
Due: validate openapi typescript

fix: PayPal Express rule-based shipping methods not switched on country change
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-baseline.neon
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

fix: PayPal Express rule-based shipping methods not switched on country changed (#664)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-baseline.neon
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

[6.6.x] fix: PayPal Express rule-based shipping methods not switched on country change
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-baseline.neon
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

[6.5.x] fix: PayPal Express rule-based shipping methods not switched on country change
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan.neon.dist
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript

fix: comment
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Storefront/Framework/Snippet/SnippetFileLoaderDecorator.php
Due: validate openapi typescript

[6.6.x] fix: PayPal Express rule-based shipping methods not switched on country change (#670)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan-baseline.neon
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript
