Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

[6.6.x] chore: bump version (#574)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: height calculation
  src/Resources/app/storefront/src/scss/core-js.scss
Due: validate openapi typescript, eslint (storefront)

fix: keep eslint v9
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
Due: validate openapi typescript, eslint (administration)

fix: dep update
  tests/acceptance/eslint.config.ts
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tsconfig.json
Due: none

fix: typechecking
  tests/acceptance/eslint.config.ts
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tsconfig.json
Due: none

fix: package dedupe
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tsconfig.json
Due: none

test: add journey test
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Checkout/PaymentJourney.spec.ts
Due: none

test: add ats tests
  tests/acceptance/fixtures/AcceptanceTest.ts
  tests/acceptance/fixtures/PayPalTestData.ts
  tests/acceptance/page-objects/Storefront/Checkout/CheckoutConfirm.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalLogin.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
  tests/acceptance/page-objects/Storefront/OffCanvasCart.ts
  tests/acceptance/page-objects/StorefrontPages.ts
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
  tests/acceptance/tests/Checkout/PaymentJourney.spec.ts
  tests/acceptance/tests/paypal-account.setup.ts
  tests/acceptance/types/PayPalTypes.ts
Due: none

feat: add Austria to Pay Later available countries
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript

feat: add Austria to Pay Later available countries
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Util/Lifecycle/Method/PayLaterMethodData.php
Due: validate openapi typescript

feat: add Austria to Pay Later available countries [6.6.x] (#578)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript

fix: changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

feat: add Austria to Pay Later available countries [6.5.x] (#579)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Util/Lifecycle/Method/PayLaterMethodData.php
Due: validate openapi typescript

chore: fix stuff
  tests/acceptance/fixtures/PayPalTestData.ts
  tests/acceptance/page-objects/AdministrationPages.ts
  tests/acceptance/page-objects/Storefront/Checkout/CheckoutConfirm.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalLogin.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
  tests/acceptance/page-objects/Storefront/OffCanvasCart.ts
  tests/acceptance/page-objects/StorefrontPages.ts
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
  tests/acceptance/tests/Checkout/PaymentJourney.spec.ts
Due: none

chore: renamed copied things
  tests/acceptance/fixtures/PayPalTestData.ts
Due: none

fix: phpstan deprecation
  phpstan.neon.dist
Due: none

fix: ecs update
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  src/Checkout/PUI/Service/PUICustomerDataService.php
  src/Checkout/Payment/Service/VaultTokenService.php
  src/DevOps/Command/LocaleScraperCommand.php
  src/Pos/Sync/Context/InventoryContextFactory.php
  src/Pos/Sync/Context/ProductContextFactory.php
  src/Pos/Sync/Product/Util/ProductGroupingCollection.php
  src/Util/Lifecycle/Method/PaymentMethodDataRegistry.php
  src/Util/Lifecycle/State/PosStateService.php
  src/Webhook/Handler/VaultPaymentTokenDeleted.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
  tests/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandlerTest.php
  tests/Checkout/PUI/SalesChannel/PUIPaymentInstructionsRouteTest.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
  tests/OpenAPISchemaTest.php
  tests/PHPStanBootstrap.php
  tests/Pos/Mock/Repositories/PosInventoryRepoMock.php
  tests/Pos/Mock/Repositories/ProductVisibilityRepoMock.php
  tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php
  tests/Pos/Sync/ImageSyncerTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
  tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Util/Lifecycle/State/PaymentMethodStateServiceTest.php
  tests/Util/Lifecycle/UpdateTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

fix: phpstan deprecation (#580)
  phpstan.neon.dist
  src/Checkout/Order/Shipping/MessageQueue/ShippingInformationMessageHandler.php
  src/Checkout/PUI/Service/PUICustomerDataService.php
  src/Checkout/Payment/Service/VaultTokenService.php
  src/DevOps/Command/LocaleScraperCommand.php
  src/Pos/Sync/Context/InventoryContextFactory.php
  src/Pos/Sync/Context/ProductContextFactory.php
  src/Pos/Sync/Product/Util/ProductGroupingCollection.php
  src/Util/Lifecycle/Method/PaymentMethodDataRegistry.php
  src/Util/Lifecycle/State/PosStateService.php
  src/Webhook/Handler/VaultPaymentTokenDeleted.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
  tests/Checkout/PUI/MessageQueue/PUIInstructionsFetchMessageHandlerTest.php
  tests/Checkout/PUI/SalesChannel/PUIPaymentInstructionsRouteTest.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/TransactionStatusSyncTaskHandlerTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
  tests/OpenAPISchemaTest.php
  tests/PHPStanBootstrap.php
  tests/Pos/Mock/Repositories/PosInventoryRepoMock.php
  tests/Pos/Mock/Repositories/ProductVisibilityRepoMock.php
  tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php
  tests/Pos/Sync/ImageSyncerTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
  tests/Reporting/ScheduledTask/TurnoverReportingTaskHandlerTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Util/Lifecycle/State/PaymentMethodStateServiceTest.php
  tests/Util/Lifecycle/UpdateTest.php
  tests/Util/PaymentMethodUtilTest.php
Due: validate openapi typescript

feat: add Austria to Pay Later available countries (#577)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  tests/Util/Lifecycle/Method/PayLaterMethodDataTest.php
Due: validate openapi typescript

chore: add comments
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: fix stuff
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: make lint happy
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

fix: calc
  src/Resources/app/storefront/src/scss/core-js.scss
Due: validate openapi typescript, eslint (storefront)

fix: merge foo
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Resources/app/storefront/package-lock.json
  src/Resources/app/storefront/package.json
Due: validate openapi typescript, eslint (storefront)

fix: use clientId and merchantId
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
Due: validate openapi typescript, eslint (storefront)

fix: prefix internal methods with underscore
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
Due: validate openapi typescript, eslint (storefront)

fix: lint errors
  src/Resources/app/storefront/src/scss/core-js.scss
Due: validate openapi typescript, eslint (storefront)

chore: fix stuff
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: try fix
  tests/acceptance/playwright.config.ts
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: creative debugging
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: revert debug changes
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: make lint happy
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: just a desparate try
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none
