Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

docs: update changelog version
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

chore: fix PHPStan errors
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: none

chore: add DBAL backward compat
  phpstan.neon.dist
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: none

fix: correct phpstan config
  phpstan.neon.dist
Due: none

fix: correct phpstan config on 6.7
  phpstan-6.7.0.0.neon.dist
Due: none

chore: fix typos
  phpstan-6.7.0.0.neon.dist
  phpstan.neon.dist
Due: none

refactor: clean migration test and fix PHPStan generics
  phpstan.neon.dist
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: none

fix: resolve 6.7 errors
  phpstan-6.7.0.0.neon.dist
  phpstan.neon.dist
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: none

test: add DBAL schema manager compat base test case
  phpstan-6.7.0.0.neon.dist
  tests/Migration/CompatTestCase.php
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: none

fix failed tests
  phpstan-6.7.0.0.neon.dist
  tests/Migration/CompatMigrationTestCase.php
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: none

fix failed tests on 6.7
  phpstan-6.7.0.0.neon.dist
Due: none

refactor(test): extract DBAL schema compat logic into trait
  phpstan-6.7.0.0.neon.dist
  tests/Helper/CompatSchemaTrait.php
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: none

refactor: remove Token jsonSerialize
  phpstan-6.7.0.0.neon.dist
  src/Pos/Resource/TokenResource.php
  tests/Helper/CompatSchemaTrait.php
Due: validate openapi typescript

fix PHPStan on 6.7
  phpstan-6.7.0.0.neon.dist
Due: none

fix filename typo
  phpstan-6.7.0.0.neon.dist
Due: none

fix: change refreshToken nullable
  src/Pos/Api/Authentication/Token.php
  src/Pos/Resource/TokenResource.php
Due: validate openapi typescript

revert: remove Token jsonSerialize
  src/Pos/Api/Authentication/Token.php
  src/Pos/Resource/TokenResource.php
Due: validate openapi typescript

chore: fix PHPStan errors (#557)
  phpstan-6.7.0.0.neon.dist
  src/Pos/Resource/TokenResource.php
  tests/Helper/CompatSchemaTrait.php
  tests/Migration/Migration1692001928VaultTokenTest.php
  tests/Migration/Migration1706111604AddCustomerIdToVaultTest.php
Due: validate openapi typescript

docs: update changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

Update IntrospectionProcessorTest.php
  tests/Util/IntrospectionProcessorTest.php
Due: none

fix: correct refund ACL permission check in the Administration (#556)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Administration/PayPalOrdersController.php
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/swag-paypal-payment-actions-v2.html.twig
Due: validate openapi typescript, eslint (administration)

fix: call deprecated method silently
  src/Util/Availability/AvailabilityContextBuilder.php
Due: validate openapi typescript

change deprecation tag version
  src/OrdersApi/Builder/Util/ItemListProvider.php
  src/Util/Availability/AvailabilityContextBuilder.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
Due: validate openapi typescript

fix: call deprecated method silently (#558)
  src/OrdersApi/Builder/Util/ItemListProvider.php
  src/Util/Availability/AvailabilityContextBuilder.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
Due: validate openapi typescript

fix: correct refund ACL permission check in admin
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Administration/PayPalOrdersController.php
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/swag-paypal-payment-actions-v2.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions/swag-paypal-payment-actions.html.twig
Due: validate openapi typescript, eslint (administration)

[6.6.x] fix: correct refund ACL permission check in the Administration (#565)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Administration/PayPalOrdersController.php
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/swag-paypal-payment-actions-v2.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions/swag-paypal-payment-actions.html.twig
Due: validate openapi typescript, eslint (administration)

[6.5.x] fix: correct refund ACL permission check in the Administration (#564)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Administration/PayPalOrdersController.php
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions-v2/swag-paypal-payment-actions-v2.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions/swag-paypal-payment-actions.html.twig
Due: validate openapi typescript, eslint (administration)

test: add pages and locators
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/page-objects/Storefront/Checkout/CheckoutConfirm.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalLogin.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalPayment.ts
  tests/acceptance/page-objects/Storefront/OffCanvasCart.ts
  tests/acceptance/page-objects/StorefrontPages.ts
  tests/acceptance/tests/paypal-account.setup.ts
  tests/acceptance/types/PayPalTypes.ts
Due: none

chore: fix stuff
  tests/acceptance/package-lock.json
Due: none

chore:; fix stuff
  tests/acceptance/fixtures/PayPalTestData.ts
  tests/acceptance/page-objects/StorefrontPages.ts
  tests/acceptance/services/PayPalTestDataService.ts
  tests/acceptance/tests/paypal-account.setup.ts
Due: none

chore: fix stuff
  tests/acceptance/eslint.config.ts
  tests/acceptance/page-objects/Storefront/Checkout/PayPalLogin.ts
Due: none

chore: fix stuff
  lefthook.yml
  tests/acceptance/.oxfmtrc.json
  tests/acceptance/.oxlintrc.json
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/page-objects/Storefront/Checkout/CheckoutConfirm.ts
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
  tests/acceptance/tsconfig.json
Due: none

chore: bump ats
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/tests/Checkout/CheckExpressButtons.spec.ts
Due: none

chore: revert eslint
  tests/acceptance/.oxfmtrc.json
  tests/acceptance/.oxlintrc.json
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: none

chore: bump version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: bump version (#572)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

[6.5.x] chore: bump version (#573)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none
