Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: ignore jest v30 major update
  .github/dependabot.yaml
Due: none

fix: missing payment details empty state
  src/Resources/app/administration/src/module/swag-paypal-payment/page/swag-paypal-payment-detail/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/page/swag-paypal-payment-detail/swag-paypal-payment-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

fix: missing payment details empty state (#283)
  src/Resources/app/administration/src/module/swag-paypal-payment/page/swag-paypal-payment-detail/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/page/swag-paypal-payment-detail/swag-paypal-payment-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

fix: checkout form handling
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
Due: validate openapi typescript, eslint (storefront)

fix: readme issue link
  README.md
Due: none

fix: readme issue link (#288)
  README.md
Due: none

fix: offline logo
  src/Resources/config/plugin.png
Due: validate openapi typescript

fix: reduce png size
  src/Resources/config/plugin.png
Due: validate openapi typescript

fix: offline logo (#298)
  src/Resources/config/plugin.png
Due: validate openapi typescript

fix: checkout form handling
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix: checkout form handling (#285)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/checkout/swag-paypal.apple-pay.js
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

fix: introspection-logger
  src/Util/IntrospectionProcessor.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

fix: introspection-logger (#302)
  src/Util/IntrospectionProcessor.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

fix: introspection-logger (#302) (#303)
  src/Util/IntrospectionProcessor.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

fix: order confirm button text disappears after loading
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
Due: validate openapi typescript, eslint (storefront)

fix: changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: order confirm button text disappears after loading (#289)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
Due: validate openapi typescript, eslint (storefront)

chore: bump version
  composer.json
Due: none

fix: zip validation
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
Due: validate openapi typescript, eslint (administration)

chore: bump version (#306)
  composer.json
Due: none

fix: plugin image
  src/Resources/config/plugin.png
Due: validate openapi typescript

chore: bump version (#307)
  composer.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
  src/Resources/config/plugin.png
Due: validate openapi typescript, eslint (administration)

fix: plugin image (#308)
  src/Resources/config/plugin.png
Due: validate openapi typescript

Added csv format for product export
  src/AgentCommerce/SalesChannel/ProductExportSubscriber.php
  src/Resources/app/administration/src/module/extension/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel/product-export-templates/paypal-agentic-commerce/body.csv.twig
  src/Resources/app/administration/src/module/extension/sw-sales-channel/product-export-templates/paypal-agentic-commerce/header.csv.twig
  src/Resources/app/administration/src/module/extension/sw-sales-channel/product-export-templates/paypal-agentic-commerce/index.js
  src/Resources/config/services.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript, eslint (administration)

fix: upstream phpstan
  src/SwagPayPal.php
Due: validate openapi typescript

fix: upstream phpstan (#311)
  src/SwagPayPal.php
Due: validate openapi typescript

feat: paypal-commerce-ai-route-scopes
  src/AgentCommerce/Exception/PayPalAgentErrorResponse.php
  src/AgentCommerce/Exception/PayPalAgentErrorResponseDetail.php
  src/AgentCommerce/Exception/PayPalAgentException.php
  src/AgentCommerce/Exception/PayPalAgentHttpException.php
  src/AgentCommerce/Routing/PayPalAgentContextResolverListener.php
  src/AgentCommerce/Routing/PayPalAgentContextRouteScopeDependant.php
  src/AgentCommerce/Routing/PayPalAgentRequestContextResolver.php
  src/AgentCommerce/Routing/PayPalAgentRouteScope.php
  src/AgentCommerce/Routing/PayPalAgentSource.php
  src/AgentCommerce/Routing/PayPalAgentSourceGuard.php
  src/AgentCommerce/SalesChannel/AbstractCheckoutRoute.php
  src/AgentCommerce/SalesChannel/AbstractCreateCartRoute.php
  src/AgentCommerce/SalesChannel/AbstractGetCartRoute.php
  src/AgentCommerce/SalesChannel/AbstractUpdateCartRoute.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/Response/PayPalAgentCartResponse.php
  src/AgentCommerce/SalesChannel/Response/PayPalAgentResponseExceptionSubscriber.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/Resources/config/routes.xml
  src/Resources/config/services.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

fix: phpstan
  tests/AgentCommerce/Exception/AgentExceptionTest.php
  tests/AgentCommerce/Exception/AgentHttpExceptionTest.php
  tests/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriberTest.php
Due: none

feat: debug id log processor
  src/AgentCommerce/Exception/AgentHttpException.php
  src/AgentCommerce/Util/AgentDebugIDProcessor.php
  src/Resources/config/services/agent_commerce.xml
  src/Util/IntrospectionProcessor.php
Due: validate openapi typescript

fix: tests, phpstan
  src/AgentCommerce/Exception/AgentHttpException.php
  src/AgentCommerce/Routing/AgentContextRouteScopeDependant.php
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Util/AgentDebugIDProcessor.php
  src/AgentCommerce/Validation/HasScopes.php
  src/Util/IntrospectionProcessor.php
  tests/AgentCommerce/Util/AgentDebugIDProcessorTest.php
  tests/AgentCommerce/Validation/HasScopesTest.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

feat: rename structs, composer target sdk, fix phpstan
  composer.json
  phpstan.neon.dist
  src/AgentCommerce/Exception/AgentException.php
  src/AgentCommerce/Exception/AgentHttpException.php
  src/AgentCommerce/Exception/PayPalAgentErrorResponse.php
  src/AgentCommerce/Exception/PayPalAgentErrorResponseDetail.php
  src/AgentCommerce/Routing/AgentContextResolverListener.php
  src/AgentCommerce/Routing/AgentContextRouteScopeDependant.php
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Routing/AgentRouteScope.php
  src/AgentCommerce/Routing/AgentSource.php
  src/AgentCommerce/Routing/PayPalAgentSourceGuard.php
  src/AgentCommerce/SalesChannel/AbstractCheckoutRoute.php
  src/AgentCommerce/SalesChannel/AbstractCreateCartRoute.php
  src/AgentCommerce/SalesChannel/AbstractGetCartRoute.php
  src/AgentCommerce/SalesChannel/AbstractUpdateCartRoute.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/Response/AgentCartResponse.php
  src/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriber.php
  src/AgentCommerce/SalesChannel/Response/PayPalAgentResponseExceptionSubscriber.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Routing/AgentContextResolverListenerTest.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
  tests/AgentCommerce/Routing/AgentRouteScopeTest.php
  tests/AgentCommerce/Routing/AgentSourceTest.php
  tests/AgentCommerce/SalesChannel/Response/AgentCartResponseTest.php
  tests/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriberTest.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript

fix: tests
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Exception/AgentHttpExceptionTest.php
  tests/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriberTest.php
Due: validate openapi typescript

fix: exception logging
  src/AgentCommerce/Exception/AgentException.php
  src/AgentCommerce/Exception/AgentHttpException.php
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Routing/AgentRouteScope.php
  src/AgentCommerce/SalesChannel/AbstractCheckoutRoute.php
  src/AgentCommerce/SalesChannel/AbstractCreateCartRoute.php
  src/AgentCommerce/SalesChannel/AbstractGetCartRoute.php
  src/AgentCommerce/SalesChannel/AbstractUpdateCartRoute.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/GetCartRoute.php
  src/AgentCommerce/SalesChannel/Response/AgentResponseExceptionSubscriber.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
