Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

PPI-1034 - Revamped error notification creation
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/mixin/swag-paypal-notification.mixin.ts
Due: validate openapi typescript, eslint (administration)

PPI-1030 - Added admin settings service
  src/Resources/app/administration/src/core/service/api/swag-paypal-settings.service.ts
  src/Resources/app/administration/src/global.types.ts
  src/Resources/app/administration/src/init/api-service.init.ts
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Setting/SettingsController.php
Due: validate openapi typescript, eslint (administration)

PPI-1036 - Added swag-paypal-setting component
  src/Resources/app/administration/src/app/component/swag-paypal-setting/index.ts
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.html.twig
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
  src/Resources/app/administration/src/app/index.ts
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

PPI-1035 - Added admin settings stores and mixins
  src/Resources/app/administration/src/app/index.ts
  src/Resources/app/administration/src/app/store/swag-paypal-merchant-information.store.ts
  src/Resources/app/administration/src/app/store/swag-paypal-settings.store.ts
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/global.types.ts
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/mixin/swag-paypal-merchant-information.mixin.ts
  src/Resources/app/administration/src/mixin/swag-paypal-settings.mixin.ts
Due: validate openapi typescript, eslint (administration)

PPI-1030 - Added jest tests
  src/Resources/app/administration/eslint.config.mjs
  src/Resources/app/administration/jest.setup.js
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.spec.ts
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.spec.ts
  src/Resources/app/administration/src/app/store/merchant-information.fixture.ts
  src/Resources/app/administration/src/app/store/settings.fixture.ts
  src/Resources/app/administration/src/app/store/swag-paypal-merchant-information.store.spec.ts
  src/Resources/app/administration/src/app/store/swag-paypal-settings.store.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/swag-paypal-method-domain-association.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-locale-select/swag-paypal-settings-locale-select.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/swag-paypal-settings-general.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
Due: validate openapi typescript, eslint (administration)

PPI-1040 - Revamped first-run-wizard extension
  src/Resources/app/administration/src/module/extension/index.ts
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/de-DE.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/en-GB.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials-deprecated/index.ts
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials-deprecated/sw-first-run-wizard-paypal-credentials.html.twig
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials-deprecated/sw-first-run-wizard-paypal-credentials.scss
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/index.ts
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/sw-first-run-wizard-paypal-credentials.html.twig
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/sw-first-run-wizard-paypal-credentials.scss
Due: validate openapi typescript, eslint (administration)

PPI-1030 - Moved acl config
  src/Resources/app/administration/src/app/acl/index.ts
  src/Resources/app/administration/src/app/index.ts
Due: validate openapi typescript, eslint (administration)

PPI-1039 - Revamped payment method card
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/module/extension/index.ts
  src/Resources/app/administration/src/module/extension/sw-settings-payment/components/swag-paypal-overview-card/index.ts
  src/Resources/app/administration/src/module/extension/sw-settings-payment/sw-settings-payment-detail/index.ts
  src/Resources/app/administration/src/module/extension/sw-settings-payment/sw-settings-payment-list/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/swag-paypal-method-domain-association.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/swag-paypal-method-domain-association.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.scss
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-domain-association/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-created-component-helper/index.ts
Due: validate openapi typescript, eslint (administration)

NTR - Prepare plugin release
  composer.json
Due: none

fix: Correct ideal capability check
  src/Util/Lifecycle/Method/IdealMethodData.php
Due: validate openapi typescript

PPI-1055 - Add deprecations for PayPal PLUS
  src/PaymentsApi/Administration/PayPalPaymentController.php
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions/extensions/swag-paypal-payment-action-capture/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions/extensions/swag-paypal-payment-action-refund/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions/extensions/swag-paypal-payment-action-void/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions/index.js
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.html.twig
  src/Resources/views/storefront/component/payment/payment-method.html.twig
  src/RestApi/PartnerAttributionId.php
  src/RestApi/V1/Resource/AuthorizationResource.php
  src/RestApi/V1/Resource/CaptureResource.php
  src/RestApi/V1/Resource/OrdersResource.php
  src/RestApi/V1/Resource/PaymentResource.php
  src/RestApi/V1/Resource/SaleResource.php
  src/Util/PaymentTokenExtractor.php
Due: validate openapi typescript, eslint (administration)

PPI-964 - Fastlane POC
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/SalesChannel/FastlanePrepareCheckoutRoute.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/Struct/Common/Address.php
  src/Checkout/SalesChannel/Struct/Common/Name.php
  src/Checkout/SalesChannel/Struct/Common/PhoneNumber.php
  src/Checkout/SalesChannel/Struct/Fastlane/ProfileData.php
  src/Checkout/SalesChannel/Struct/Fastlane/ProfileData/Card.php
  src/Checkout/SalesChannel/Struct/Fastlane/ProfileData/Card/PaymentSource.php
  src/Checkout/SalesChannel/Struct/Fastlane/ProfileData/Card/PaymentSource/Card.php
  src/Checkout/SalesChannel/Struct/Fastlane/ProfileData/ShippingAddress.php
  src/Checkout/SalesChannel/Struct/SDKStruct.php
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/main.js
  src/Resources/app/storefront/src/page/swag-paypal.fastlane.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/views/storefront/page/checkout/address/index.html.twig
  src/RestApi/V1/Resource/TokenResource.php
  src/RestApi/V1/Resource/TokenResourceInterface.php
  src/Storefront/Controller/PayPalController.php
  src/Storefront/Data/FastlaneSubscriber.php
  src/Storefront/Data/Service/FastlaneDataService.php
  src/Storefront/Data/Struct/FastlaneData.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRouteTest.php
Due: validate openapi typescript, eslint (storefront)

PPI-964 - Add capture
  src/Checkout/Payment/Method/ACDCHandler.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/page/swag-paypal.fastlane.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Resources/views/storefront/page/checkout/address/index.html.twig
  src/RestApi/V2/Api/Order/PaymentSource/Card.php
  src/Storefront/Data/Service/ACDCCheckoutDataService.php
Due: validate openapi typescript, eslint (storefront)

PPI-964 - Final state FastHack
  src/Checkout/Fastlane/AddressConverter.php
  src/Checkout/SalesChannel/FastlaneModifyAddressRoute.php
  src/Checkout/SalesChannel/FastlanePrepareCheckoutRoute.php
  src/Checkout/SalesChannel/Struct/SDKStruct.php
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/main.js
  src/Resources/app/storefront/src/page/swag-paypal.fastlane-watermark.js
  src/Resources/app/storefront/src/page/swag-paypal.fastlane.js
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/views/storefront/component/payment/payment-method.html.twig
  src/Resources/views/storefront/page/checkout/address/index.html.twig
  src/Resources/views/storefront/page/checkout/confirm/confirm-address.html.twig
  src/Storefront/Controller/PayPalController.php
  src/Storefront/Data/Service/ACDCCheckoutDataService.php
  src/Storefront/Data/Struct/ACDCCheckoutData.php
Due: validate openapi typescript, eslint (storefront)

PPI-964 - Next step
  src/Checkout/Cart/Validation/CartValidator.php
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/page/swag-paypal.fastlane.js
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
  src/Resources/config/services/storefront.xml
  src/Storefront/Data/FastlaneSubscriber.php
  src/Storefront/Data/Service/ACDCCheckoutDataService.php
  src/Storefront/Data/Service/FastlaneDataService.php
  src/Storefront/Data/Struct/AbstractCheckoutData.php
Due: validate openapi typescript, eslint (storefront)

chore: add workflow for store release
  .github/workflows/integration.yml
  .github/workflows/store-release.yml
Due: none

PPI-1058 - Adjust OpenAPI schema generation
  .github/workflows/php.yml
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/package.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/RestApi/V1/Api/Payment/Transaction/ItemList/ShippingOption.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript, eslint (administration)

PPI-1058 - Adjust OpenAPI schema generation
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: eslint missing unsafe argument
  src/Resources/app/administration/eslint.config.mjs
  src/Resources/app/administration/src/module/extension/sw-settings-payment/sw-settings-payment-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/swag-paypal-checkout-method.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-cross-border/swag-paypal-cross-border.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-vaulting/swag-paypal-vaulting.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: remove option duplication
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
  src/Resources/app/storefront/src/page/swag-paypal.installment-banner.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
Due: validate openapi typescript, eslint (storefront)

fix: add php-cs-fixer job
  .github/workflows/php.yml
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/RestApi/V1/Api/Payment/Transaction/ItemList/ShippingOption.php
Due: validate openapi typescript

fix: add ecs job
  .github/workflows/php.yml
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/RestApi/V1/Api/Payment/Transaction/ItemList/ShippingOption.php
  src/Util/Lifecycle/Method/IdealMethodData.php
Due: validate openapi typescript

fix: improve exception logging
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/Payment/Method/ACDCHandler.php
  src/Checkout/Payment/Method/APMHandler.php
  src/Checkout/Payment/Method/AbstractSyncAPMHandler.php
  src/Checkout/Payment/Method/PUIHandler.php
  src/Checkout/Payment/Method/VenmoHandler.php
  src/Pos/MessageQueue/Handler/Sync/AbstractSyncHandler.php
  src/Pos/MessageQueue/Handler/SyncManagerHandler.php
  src/Pos/Sync/Inventory/RemoteUpdater.php
  src/Pos/Sync/Product/DeletedUpdater.php
  src/Pos/Sync/Product/NewUpdater.php
  src/Pos/Sync/Product/OutdatedUpdater.php
  src/Pos/Sync/Product/UnsyncedChecker.php
  src/Util/IntrospectionProcessor.php
  tests/Util/IntrospectionProcessorTest.php
Due: validate openapi typescript

fix: change parameter naming in deprecation
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
Due: validate openapi typescript, eslint (storefront)

fix: change deprecation notice
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
Due: validate openapi typescript, eslint (storefront)

PPI-1058 - Adjust OpenAPI schema generation
  .github/workflows/php.yml
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/eslint.config.mjs
  src/Resources/app/administration/package.json
  src/Resources/app/administration/src/module/extension/sw-settings-payment/sw-settings-payment-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/swag-paypal-checkout-method.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-cross-border/swag-paypal-cross-border.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-vaulting/swag-paypal-vaulting.spec.ts
  src/Resources/app/administration/src/types/openapi.d.ts
  src/RestApi/V1/Api/Payment/Transaction/ItemList/ShippingOption.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript, eslint (administration)

fix: keep ecs installed
  .github/actions/setup-paypal/action.yml
  .github/workflows/php.yml
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
