Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: only load v5 if necessary
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Resources/config/services/storefront.xml
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  src/Storefront/Data/Struct/FundingEligibilityData.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript, eslint (storefront)

fix: remove not-usable script preloads
  src/Resources/views/storefront/paypal/meta-tags.html.twig
Due: validate openapi typescript

fix(devops): sort PayPal SDK struct scan to make openapi schema reproducible (#784)
  src/DevOps/Command/GenerateOpenApi.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: use plugin-owned configure snippet in extension card context menu (#780)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/extension/snippet/de.json
  src/Resources/app/administration/src/module/extension/snippet/en.json
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
Due: validate openapi typescript, eslint (administration)

fix: type-hint credentials and token service interfaces
  src/AgenticCommerce/HoneyWebhookService.php
  src/Setting/Service/MerchantIntegrationsService.php
Due: validate openapi typescript

fix: type-hint credentials and token service interfaces (#785)
  src/AgenticCommerce/HoneyWebhookService.php
  src/Setting/Service/MerchantIntegrationsService.php
Due: validate openapi typescript

fix: show Pay Later express button on listing pages
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix(checkout): recover PAYER_ACTION_REQUIRED via confirm-payment-source
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Payment/Method/AbstractPaymentMethodHandler.php
  src/Checkout/Payment/PayPalPaymentHandler.php
  src/Checkout/Payment/Service/PaymentResumeService.php
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/storefront.xml
  src/RestApi/V2/Resource/OrderResource.php
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Method/ACDCHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/Service/PaymentResumeServiceTest.php
  tests/Mock/PayPalSDK/MockRequestHandler.php
  tests/OrdersApi/Builder/PayPalOrderBuilderTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript

fix: surface express errors
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.express.ts
  src/Resources/snippet/paypal.en.json
  src/Storefront/Controller/PayPalController.php
Due: validate openapi typescript, eslint (storefront)

fix: cr
  src/Resources/config/packages/framework.yaml
Due: validate openapi typescript

feat: add app switch
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.pay-later.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.paypal.ts
Due: validate openapi typescript, eslint (storefront)

fix: early return
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
Due: validate openapi typescript, eslint (storefront)

fix: cr
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
Due: none

fix(storefront): re-render PayPal buttons after browser Back (#766)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/page/swag-paypal.installment-banner.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
Due: validate openapi typescript, eslint (storefront)

chore: add missing SECURITY.md
  SECURITY.md
Due: none

fix(devops): download the extension artifact without unzipping it
  .github/workflows/integration.yml
Due: none

fix(devops): download the extension artifact without unzipping it (#789)
  .github/workflows/integration.yml
Due: none

chore: add missing SECURITY.md (#788)
  SECURITY.md
Due: none

Merge commit from fork
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/CheckoutException.php
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTask.php
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskHandler.php
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Checkout/Payment/Service/TransactionDataService.php
  src/Migration/Migration1786431500OrderTransactions.php
  src/Resources/config/services/checkout.xml
  tests/Checkout/Method/AbstractSyncAPMHandlerTest.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskTest.php
  tests/Checkout/Payment/Service/OrderTransactionServiceTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
  tests/Migration/Migration1786431500OrderTransactionsTest.php
Due: validate openapi typescript

Merge commit from fork
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/CheckoutException.php
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTask.php
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskHandler.php
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Checkout/Payment/Service/TransactionDataService.php
  src/Migration/Migration1786431500OrderTransactions.php
  src/Resources/config/services/checkout.xml
  tests/Checkout/Method/AbstractTestSyncAPMHandler.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskTest.php
  tests/Checkout/Payment/Service/OrderTransactionServiceTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
  tests/Migration/Migration1786431500OrderTransactionsTest.php
Due: validate openapi typescript

fix(checkout): resolve phpstan errors in transaction service
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Resources/config/services/checkout.xml
  tests/Checkout/Payment/Service/OrderTransactionServiceTest.php
Due: validate openapi typescript

fix: mark payment transaction classes internal
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskHandler.php
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Migration/Migration1786431500OrderTransactions.php
Due: validate openapi typescript

fix: resolve phpstan errors on 6.5
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskHandler.php
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Migration/Migration1786431500OrderTransactions.php
  tests/Checkout/Method/AbstractSyncAPMHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskTest.php
  tests/Checkout/Payment/Service/OrderTransactionServiceTest.php
  tests/Migration/Migration1786431500OrderTransactionsTest.php
Due: validate openapi typescript

fix(test): support migration schema checks on 6.7
  tests/Migration/Migration1786431500OrderTransactionsTest.php
Due: none

fix(phpstan): mark service constructors internal
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskHandler.php
  src/Checkout/Payment/Service/OrderTransactionService.php
Due: validate openapi typescript

fix(style): resolve ecs findings
  src/Checkout/CheckoutException.php
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTask.php
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskHandler.php
  tests/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskTest.php
  tests/Checkout/Payment/Service/OrderTransactionServiceTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
  tests/Migration/Migration1786431500OrderTransactionsTest.php
Due: validate openapi typescript

fix: mark payment transaction classes internal (#791)
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskHandler.php
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Migration/Migration1786431500OrderTransactions.php
Due: validate openapi typescript

fix(style): resolve remaining ecs findings
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Migration/Migration1786431500OrderTransactions.php
  tests/Checkout/Method/AbstractSyncAPMHandlerTest.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/Service/OrderTransactionServiceTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
Due: validate openapi typescript

fix(test): preserve paypal transaction table after migration test
  tests/Migration/Migration1786431500OrderTransactionsTest.php
Due: none

[6.5.x] fix: phpstan internal (#792)
  src/Checkout/CheckoutException.php
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTask.php
  src/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskHandler.php
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Migration/Migration1786431500OrderTransactions.php
  tests/Checkout/Method/AbstractSyncAPMHandlerTest.php
  tests/Checkout/Method/VenmoHandlerTest.php
  tests/Checkout/Payment/ScheduledTask/OrderTransactionsCleanupTaskTest.php
  tests/Checkout/Payment/Service/OrderTransactionServiceTest.php
  tests/Checkout/Payment/Service/TransactionDataServiceTest.php
  tests/Migration/Migration1786431500OrderTransactionsTest.php
Due: validate openapi typescript

fix(checkout): resolve phpstan errors in transaction service (#790)
  src/Checkout/Payment/Service/OrderTransactionService.php
  src/Resources/config/services/checkout.xml
  tests/Checkout/Payment/Service/OrderTransactionServiceTest.php
  tests/Migration/Migration1786431500OrderTransactionsTest.php
Due: validate openapi typescript

fix(checkout): strip line breaks from PayPal line item names
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Builder/Util/ItemListProvider.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
Due: validate openapi typescript

fix(checkout): strip line breaks from PayPal line item names [6.6.x] (#782)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Builder/Util/ItemListProvider.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
Due: validate openapi typescript

fix(checkout): strip line breaks from PayPal line item names (#781)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Builder/Util/ItemListProvider.php
  tests/OrdersApi/Builder/Util/ItemListProviderTest.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
