Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

feat: load salesChannel favicon
  src/AgentCommerce/Exception/HoneyWebhookException.php
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Util/FaviconLoader.php
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/HoneyWebhookServiceTest.php
  tests/AgentCommerce/Util/FaviconLoaderTest.php
Due: validate openapi typescript, eslint (administration)

Use interface type
  src/AgentCommerce/Util/FaviconLoader.php
Due: validate openapi typescript

no interface
  src/AgentCommerce/Util/FaviconLoader.php
Due: validate openapi typescript

fix: deactivation with pos sales channel (#366)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/SwagPayPal.php
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/PosStateService.php
Due: validate openapi typescript

feat: load favicon (#386)
  src/AgentCommerce/Exception/HoneyWebhookException.php
  src/AgentCommerce/HoneyWebhookService.php
  src/AgentCommerce/Util/FaviconLoader.php
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/index.ts
  src/Resources/app/administration/src/module/swag-paypal-agent-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/HoneyWebhookServiceTest.php
  tests/AgentCommerce/Util/FaviconLoaderTest.php
Due: validate openapi typescript, eslint (administration)

feat: Move the funding eligibility check script out of footer (#381)
  phpstan.neon.dist
  src/Resources/views/storefront/base.html.twig
  src/Resources/views/storefront/layout/footer/footer.html.twig
  src/Storefront/Data/FundingSubscriber.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

Add swag_paypal_order_id to order transaction
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/webhook.xml
  src/Webhook/Handler/CaptureCompleted.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

Fix CaptureCompletedTest paypal interaction mocking
  src/Webhook/Handler/CaptureCompleted.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

fix: change signed with
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: change signed with (#389)
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: pipeline
  src/Util/Lifecycle/State/PosStateService.php
Due: validate openapi typescript

fix: deactivation with pos sales channel (#366) (#387)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/SwagPayPal.php
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/PosStateService.php
Due: validate openapi typescript

fix: deactivation with pos sales channel (#366) (#387) (#393)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/SwagPayPal.php
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/PosStateService.php
Due: validate openapi typescript

fix: Invoice document style
  src/Resources/views/documents/invoice.html.twig
  src/Resources/views/documents/paypal_style_base.css.twig
  src/Resources/views/documents/style_base_landscape.css.twig
  src/Resources/views/documents/style_base_portrait.css.twig
Due: validate openapi typescript

feat: Add swag_paypal_order_id to order transaction (#388)
  src/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandler.php
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/webhook.xml
  src/Webhook/Handler/CaptureCompleted.php
  tests/Checkout/Payment/MessageQueue/TransactionStatusSyncMessageHandlerTest.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

Fix class names
  src/Resources/views/documents/invoice.html.twig
  src/Resources/views/documents/paypal_style_base.css.twig
Due: validate openapi typescript

Reduce shipping method message dispatch for unchanged data
  src/Checkout/Order/Shipping/ShippingSubscriber.php
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
Due: validate openapi typescript

Refactor checks
  src/Checkout/Order/Shipping/ShippingSubscriber.php
Due: validate openapi typescript

fix: Invoice document style (#394)
  src/Resources/views/documents/invoice.html.twig
  src/Resources/views/documents/paypal_style_base.css.twig
  src/Resources/views/documents/style_base_landscape.css.twig
  src/Resources/views/documents/style_base_portrait.css.twig
Due: validate openapi typescript

Fix tests
  src/Checkout/Order/Shipping/ShippingSubscriber.php
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
Due: validate openapi typescript

fix: ci
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  tests/AgentCommerce/SalesChannel/CheckoutRouteTest.php
Due: validate openapi typescript

fix: phpstan var type agent request context resolver
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

fix: Reduce shipping method message dispatch for unchanged data (#355)
  src/Checkout/Order/Shipping/ShippingSubscriber.php
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
Due: validate openapi typescript

feat: paypal commerce agent checkout (#333)
  src/AgentCommerce/SalesChannel/AbstractAgentCommerceRoute.php
  src/AgentCommerce/SalesChannel/CheckoutRoute.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/Response/AgentCartResponse.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/Resources/config/services/agent_commerce.xml
  tests/AgentCommerce/SalesChannel/CheckoutRouteTest.php
Due: validate openapi typescript

fix: ecs
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
Due: none

fix: Reduce shipping method message dispatch for unchanged data (#396)
  src/Checkout/Order/Shipping/ShippingSubscriber.php
  tests/Checkout/Order/Shipping/ShippingSubscriberTest.php
Due: validate openapi typescript

Change shipping method
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  src/AgentCommerce/Validation/ValidationIssues.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

getToken
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
Due: validate openapi typescript

fix: pipeline 6.7.0.0
  .github/actions/setup-paypal/action.yml
Due: none

fix: version
  .github/actions/setup-paypal/action.yml
Due: none

fix: pipeline 6.7.0.0 (#399)
  .github/actions/setup-paypal/action.yml
Due: none

ecs
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
  src/AgentCommerce/SalesChannel/UpdateCartRoute.php
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: validate openapi typescript

revert user message
  src/AgentCommerce/Validation/ValidationIssues.php
Due: validate openapi typescript

feat(translation): Rename translation file to enable language fallbacks
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/init/translation.init.ts
  src/Resources/app/administration/src/module/extension/snippet/de.json
  src/Resources/app/administration/src/module/extension/snippet/en.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/de.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/en.json
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/snippets/de.json
  src/Resources/app/administration/src/module/extension/sw-settings-shipping/snippets/en.json
  src/Resources/app/administration/src/module/swag-paypal-disputes/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-disputes/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-pos/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/snippet/paypal-deprecated-v68.de-DE.json
  src/Resources/snippet/paypal-deprecated-v68.en-GB.json
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
Due: validate openapi typescript, eslint (administration)

chore: bump version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: bump version (#400)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
