Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

PPI-1031 - Added feature flag
  src/Resources/app/administration/src/main.ts
  src/Resources/config/packages/feature.yaml
Due: validate openapi typescript, eslint (administration)

PPI-1032 - Added settings save route
  src/Resources/config/services/setting.xml
  src/Resources/config/services/webhook.xml
  src/Setting/Service/SettingsSaver.php
  src/Setting/Service/SettingsSaverInterface.php
  src/Setting/Settings.php
  src/Setting/SettingsController.php
  src/Setting/Struct/SettingsInformationStruct.php
  src/Webhook/Registration/WebhookSubscriber.php
  src/Webhook/Registration/WebhookSystemConfigController.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Setting/Service/SettingsSaverTest.php
  tests/Setting/SettingsControllerTest.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
  tests/Webhook/Registration/WebhookSystemConfigControllerTest.php
Due: validate openapi typescript

PPI-1033 - Added credentials test route
  src/Setting/Service/ApiCredentialService.php
  src/Setting/SettingsController.php
  src/Setting/Struct/MerchantInformationStruct.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript

PPI-1030 - Added admin settings service
  src/Resources/app/administration/src/core/service/api/swag-paypal-settings.service.ts
  src/Resources/app/administration/src/global.types.ts
  src/Resources/app/administration/src/init/api-service.init.ts
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Setting/SettingsController.php
Due: validate openapi typescript, eslint (administration)

PPI-1035 - Added admin settings stores and mixins
  src/Resources/app/administration/src/app/index.ts
  src/Resources/app/administration/src/app/store/swag-paypal-merchant-information.store.ts
  src/Resources/app/administration/src/app/store/swag-paypal-settings.store.ts
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/global.types.ts
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/mixin/swag-paypal-merchant-information.mixin.ts
  src/Resources/app/administration/src/mixin/swag-paypal-settings.mixin.ts
Due: validate openapi typescript, eslint (administration)

PPI-1034 - Revamped error notification creation
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/mixin/swag-paypal-notification.mixin.ts
Due: validate openapi typescript, eslint (administration)

PPI-1036 - Added swag-paypal-setting component
  src/Resources/app/administration/src/app/component/swag-paypal-setting/index.ts
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.html.twig
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
  src/Resources/app/administration/src/app/index.ts
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

PPI-1037 - Added swag-paypal-onboarding-button component
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.html.twig
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.scss
  src/Resources/app/administration/src/app/index.ts
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/mixin/swag-paypal-credentials-loader.mixin.ts
  src/Resources/app/administration/src/types/window-paypal.ts
Due: validate openapi typescript, eslint (administration)

PPI-1039 - Revamped payment method card
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/module/extension/index.ts
  src/Resources/app/administration/src/module/extension/sw-settings-payment/components/swag-paypal-overview-card/index.ts
  src/Resources/app/administration/src/module/extension/sw-settings-payment/sw-settings-payment-detail/index.ts
  src/Resources/app/administration/src/module/extension/sw-settings-payment/sw-settings-payment-list/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/swag-paypal-method-domain-association.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/swag-paypal-method-domain-association.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.scss
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.scss
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-domain-association/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-created-component-helper/index.ts
Due: validate openapi typescript, eslint (administration)

PPI-1030 - Moved acl config
  src/Resources/app/administration/src/app/acl/index.ts
  src/Resources/app/administration/src/app/index.ts
Due: validate openapi typescript, eslint (administration)

PPI-1040 - Revamped first-run-wizard extension
  src/Resources/app/administration/src/module/extension/index.ts
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/de-DE.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/en-GB.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials-deprecated/index.ts
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials-deprecated/sw-first-run-wizard-paypal-credentials.html.twig
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials-deprecated/sw-first-run-wizard-paypal-credentials.scss
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/index.ts
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/sw-first-run-wizard-paypal-credentials.html.twig
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/sw-first-run-wizard-paypal-credentials/sw-first-run-wizard-paypal-credentials.scss
Due: validate openapi typescript, eslint (administration)

PPI-1030 - Added jest tests
  src/Resources/app/administration/eslint.config.mjs
  src/Resources/app/administration/jest.setup.js
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.spec.ts
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.spec.ts
  src/Resources/app/administration/src/app/store/merchant-information.fixture.ts
  src/Resources/app/administration/src/app/store/settings.fixture.ts
  src/Resources/app/administration/src/app/store/swag-paypal-merchant-information.store.spec.ts
  src/Resources/app/administration/src/app/store/swag-paypal-settings.store.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/swag-paypal-method-domain-association.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/swag-paypal-method-merchant-information.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/swag-paypal-payment-method.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-locale-select/swag-paypal-settings-locale-select.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/swag-paypal-settings-general.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
Due: validate openapi typescript, eslint (administration)

chore: remove storefront plugin deprecations
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/checkout/swag-paypal.acdc-fields.js
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
  src/Resources/app/storefront/src/page/swag-paypal.installment-banner.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Resources/app/storefront/src/swag-paypal.script-loading.js
Due: validate openapi typescript, eslint (storefront)

fix: remove usage of deprecated error notification handler
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/mixin/swag-paypal-merchant-information.mixin.ts
  src/Resources/app/administration/src/mixin/swag-paypal-notification.mixin.ts
  src/Resources/app/administration/src/mixin/swag-paypal-pos-catch-error.mixin.ts
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-list/index.ts
Due: validate openapi typescript, eslint (administration)

fix: remove usage of deprecated error notification handler
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/global.types.ts
  src/Resources/app/administration/src/mixin/swag-paypal-merchant-information.mixin.ts
  src/Resources/app/administration/src/mixin/swag-paypal-notification.mixin.ts
  src/Resources/app/administration/src/mixin/swag-paypal-pos-catch-error.mixin.ts
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-disputes/page/swag-paypal-disputes-list/index.ts
Due: validate openapi typescript, eslint (administration)

fix: add missing return to spb
  src/Resources/app/storefront/src/checkout/swag-paypal.smart-payment-buttons.js
Due: validate openapi typescript, eslint (storefront)

chore: Adjust german snippets
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
Due: validate openapi typescript, eslint (administration)

fix: remove prefixes from openapi schemas
  src/Administration/PayPalPaymentMethodController.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/PUI/SalesChannel/PUIPaymentInstructionsRoute.php
  src/Checkout/SalesChannel/ClearVaultRoute.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Dispute/Administration/DisputeController.php
  src/OrdersApi/Administration/PayPalOrdersController.php
  src/PaymentsApi/Administration/PayPalPaymentController.php
  src/Pos/PosSyncController.php
  src/Pos/Setting/SettingsController.php
  src/Pos/Webhook/WebhookController.php
  src/Setting/SettingsController.php
  src/Webhook/WebhookController.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript

chore: sync openapi schemas
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

chore: Adjust german snippets
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/module/extension/sw-first-run-wizard/snippets/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
Due: validate openapi typescript, eslint (administration)

chore: update npm dependencies
  src/Resources/app/administration/package-lock.json
  src/Resources/app/storefront/package-lock.json
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: onboarding button wording with ppcp check
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
Due: validate openapi typescript, eslint (administration)

chore: replace webpack with vite
  src/Resources/app/administration/build/webpack.config.js
  src/Resources/app/administration/src/app/assets/icons/icons.js
  src/Resources/app/administration/src/init/svg-icons.init.ts
  src/Resources/app/administration/src/main.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/index.ts
  src/Resources/app/administration/src/vite.config.ts
Due: validate openapi typescript, eslint (administration)

fix: settings page process button
  src/Resources/app/administration/src/module/swag-paypal-settings/page/swag-paypal-settings/swag-paypal-settings.html.twig
Due: validate openapi typescript, eslint (administration)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
