Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: lint
  .github/workflows/acceptance.yml
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/store-release.yml
  .github/workflows/storefront.yml
  .github/workflows/weekly.yml
Due: none

fix: update
  .github/workflows/acceptance.yml
  .github/workflows/admin.yml
  .github/workflows/lint.yml
  .github/workflows/storefront.yml
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: express checkout shipping callback (#428)
  composer.json
  src/Checkout/CheckoutException.php
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/ExpressShippingCallbackException.php
  src/Checkout/ExpressCheckout/SalesChannel/AbstractExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/orders_api.xml
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressShippingCallbackRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTest.php
Due: validate openapi typescript, eslint (administration)

fix: autoloading
  .github/workflows/lint.yml
  .github/workflows/php.yml
  bin/phpstan-config-generator.php
  bin/static-analyze-autoloader.php
  composer.json
  phpstan.neon.dist
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
Due: none

fix: phpstan baseline
  bin/phpstan-config-generator.php
  phpstan-baseline.cms-extensions.neon
  phpstan-baseline.commercial.neon
  tests/PHPStanBootstrap.php
Due: none

fix: update phpstan
  .github/workflows/lint.yml
Due: none

fix: baseline rawMessage
  .github/workflows/lint.yml
  phpstan-baseline.cms-extensions.neon
  phpstan-baseline.commercial.neon
  phpstan.neon.dist
Due: none

fix: phpstan config for trunk
  bin/phpstan-config-generator.php
  phpstan-trunk.neon.dist
  phpstan.neon.dist
Due: none

fix: use right flow again
  .github/actions/setup-paypal/action.yml
Due: none

fix: artefact password
  .github/workflows/acceptance.yml
Due: none

fix: add lookup of existing webhook with same URL to show correct status
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/RestApi/V1/Api/CreateWebhooks.php
  src/RestApi/V1/Api/CreateWebhooks/CreateWebhooksCollection.php
  src/RestApi/V1/Api/CreateWebhooksList.php
  src/RestApi/V1/Resource/WebhookResource.php
  src/Webhook/WebhookService.php
  tests/Webhook/WebhookServiceTest.php
Due: validate openapi typescript

fix: webhook registration loop on invalid id
  src/Webhook/Registration/WebhookSystemConfigHelper.php
Due: validate openapi typescript

refactor: extract webhook url generation
  src/Webhook/WebhookService.php
Due: validate openapi typescript

fix: ecs
  src/RestApi/V1/Api/CreateWebhooks/CreateWebhooksCollection.php
  src/RestApi/V1/Resource/WebhookResource.php
  tests/Webhook/WebhookServiceTest.php
Due: validate openapi typescript

fix: package annotation
  src/RestApi/V1/Api/CreateWebhooks/CreateWebhooksCollection.php
  src/RestApi/V1/Api/CreateWebhooksList.php
Due: validate openapi typescript

fix: openapi
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/RestApi/V1/Api/CreateWebhooksList.php
Due: validate openapi typescript, eslint (administration)

fix: Webhook registration with invalid Webhook ID (#432)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/index.ts
  src/RestApi/V1/Resource/WebhookResource.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  src/Webhook/WebhookService.php
  tests/TestBootstrap.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
  tests/Webhook/WebhookServiceTest.php
Due: validate openapi typescript, eslint (administration)

[6.6.x] fix: Webhook registration with invalid Webhook ID (#439)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/RestApi/V1/Api/CreateWebhooks.php
  src/RestApi/V1/Api/CreateWebhooks/CreateWebhooksCollection.php
  src/RestApi/V1/Api/CreateWebhooksList.php
  src/RestApi/V1/Resource/WebhookResource.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  src/Webhook/WebhookService.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
  tests/Webhook/WebhookServiceTest.php
Due: validate openapi typescript, eslint (administration)

[6.5.x] fix: Webhook registration with invalid Webhook ID (#440)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  src/RestApi/V1/Api/CreateWebhooks.php
  src/RestApi/V1/Api/CreateWebhooks/CreateWebhooksCollection.php
  src/RestApi/V1/Api/CreateWebhooksList.php
  src/RestApi/V1/Resource/WebhookResource.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  src/Webhook/WebhookService.php
  tests/Webhook/WebhookServiceTest.php
Due: validate openapi typescript, eslint (administration)

fix: ecs
  tests/Storefront/Controller/PayPalControllerTest.php
Due: none

fix: ci
  tests/Storefront/Controller/PayPalControllerTest.php
Due: none

[6.5.x] fix: Paypal error showing on category page (#433)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/views/storefront/component/ecs-spb-checkout/ecs-spb-data.html.twig
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

[6.6.x] fix: Paypal error showing on category page (#434)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/views/storefront/component/ecs-spb-checkout/ecs-spb-data.html.twig
  src/Storefront/Controller/PayPalController.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

fix: update
  tests/PHPStanBootstrap.php
  tests/TestBootstrap.php
Due: none

fix: openapi
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

chore: bump version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: schema
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: cr
  tests/PHPStanBootstrap.php
Due: none

chore: bump version (#443)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

chore: bump version (#441)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: bump version (#442)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
