Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: fixed issue where paylater could incorrectly display
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: onboarding
  src/Setting/SettingsController.php
Due: validate openapi typescript

fix: revert changes to order route
  src/Checkout/SalesChannel/CreateOrderRoute.php
Due: validate openapi typescript

fix: log sensitive header
  src/RestApi/Client/Client.php
Due: validate openapi typescript

fix: merchant integration as first party
  src/RestApi/V1/Resource/MerchantIntegrationsResource.php
Due: validate openapi typescript

fix: onboarding with zoid
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.html.twig
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.scss
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.spec.ts
  src/Resources/app/administration/src/types/window-paypal.ts
Due: validate openapi typescript, eslint (administration)

fix: remove warnings
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
Due: validate openapi typescript, eslint (administration)

fix: review changes
  composer.json
  src/Resources/config/services.php
  src/Resources/config/services/paypal_sdk.xml
  src/RestApi/ApiContextFactory.php
  src/RestApi/Client/Client.php
  src/RestApi/V1/Resource/MerchantIntegrationsResource.php
  src/RestApi/V2/Resource/AuthorizationResource.php
  src/RestApi/V2/Resource/CaptureResource.php
  src/RestApi/V2/Resource/OrderResource.php
  src/Setting/Service/ApiCredentialService.php
  tests/Checkout/Method/AbstractTestSyncAPMHandler.php
  tests/Checkout/Payment/PayPalPaymentHandlerTest.php
  tests/Mock/PayPal/Client/_fixtures/V1/GetResourceMerchantIntegrations.php
  tests/Mock/PayPalSDK/ApiContextFactoryMock.php
  tests/RestApi/Client/ClientTest.php
  tests/RestApi/V1/Resource/WebhookResourceTest.php
  tests/Setting/Service/MerchantIntegrationsServiceTest.php
Due: validate openapi typescript

fix: schema
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: variable
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
Due: validate openapi typescript, eslint (administration)

fix: code review
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
Due: validate openapi typescript

fix: onboarding with zoid (#203)
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.html.twig
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.scss
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.spec.ts
  src/Resources/app/administration/src/types/window-paypal.ts
Due: validate openapi typescript, eslint (administration)

feat: phpunit slow detector
  phpunit.xml.dist
  tests/Checkout/Method/APMHandlerTest.php
Due: none

feat: phpunit slow detector (#204)
  phpunit.xml.dist
  tests/Checkout/Method/APMHandlerTest.php
Due: none

fix: code review
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: delay stamp ignored
  src/Pos/Sync/Inventory/StockSubscriber.php
Due: validate openapi typescript

fix: deprecations and interface removal
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Pos/Converter/ProductConverterTest.php
  tests/Pos/Sync/Inventory/InventorySyncerTest.php
Due: validate openapi typescript

fix: fixed issue where paylater could incorrectly display (#202)
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Pos/Sync/Inventory/StockSubscriber.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Pos/Converter/ProductConverterTest.php
  tests/Pos/Sync/Inventory/InventorySyncerTest.php
Due: validate openapi typescript

fix: display paylater button based on product (#191)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCheckoutDataServiceInterface.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Pos/Sync/Inventory/StockSubscriber.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

test: websdk v6
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/app/storefront/src/checkout/swag-paypal.abstract-standalone.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/app/storefront/src/scss/base.scss
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/installment.xml
  src/Resources/config/services/storefront.xml
  src/Resources/views/storefront/layout/meta.html.twig
  src/RestApi/V1/Resource/TokenResource.php
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
  src/Storefront/Data/Service/AbstractScriptDataService.php
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Util/LocaleCodeProvider.php
Due: validate openapi typescript, eslint (storefront)

fix: style issues
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/swag-paypal-settings-general.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/swag-paypal-settings-general.scss
Due: validate openapi typescript, eslint (administration)

fix: style issues
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.scss
Due: validate openapi typescript, eslint (administration)

fix: style issues (#208)
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.scss
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/swag-paypal-settings-sales-channel-switch.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/swag-paypal-settings-general.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/swag-paypal-settings-general.scss
Due: validate openapi typescript, eslint (administration)

fix: missing role snippets
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

fix: update version
  composer.json
Due: none

fix: vaulting enabled without userId token
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
Due: validate openapi typescript

fix: whitelist to allowlist
  src/RestApi/Client/Client.php
Due: validate openapi typescript

fix: missing role snippets (#209)
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

fix: page from footer
  src/Resources/views/storefront/layout/footer/footer.html.twig
Due: validate openapi typescript

fix: venmo button color
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

fix: never reload and log error
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

fix: add changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: venmo button color
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

fix: pipeline
  composer.json
  src/Resources/app/storefront/src/scss/components/pui.scss
Due: validate openapi typescript, eslint (storefront)

fix: pipeline (#219)
  composer.json
  src/Resources/app/storefront/src/scss/components/pui.scss
Due: validate openapi typescript, eslint (storefront)

fix: venmo button color (#213)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
