Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

ci: ignore 6.8 EntitySearchResult collection-method deprecations
  phpstan.neon.dist
Due: none

ci: ignore 6.8 EntitySearchResult collection-method deprecations (#758)
  phpstan.neon.dist
Due: none

fix(checkout): charge tax-provider-adjusted total instead of stale transaction amount (#748)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/Util/AmountProvider.php
  src/OrdersApi/Builder/Util/PurchaseUnitProvider.php
  src/OrdersApi/Patch/PurchaseUnitPatchBuilder.php
  tests/Helper/OrderTransactionTrait.php
  tests/OrdersApi/Builder/AbstractOrderBuilderTestCase.php
  tests/OrdersApi/Builder/Util/AmountProviderTest.php
Due: validate openapi typescript

fix: session handling
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
Due: validate openapi typescript

fix: block Express Checkout on empty cart (#736)
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Exception/EmptyCartException.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

fix: country not supported for smart payment buttons (#699)
  src/Checkout/Exception/MissingCountryIdException.php
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript, eslint (storefront)

fix: display Google Pay button in the store language (#726)
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
Due: validate openapi typescript, eslint (storefront)

feat: use SCA_WHEN_REQUIRED for ACDC when 3DS is not enforced (#717)
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
Due: validate openapi typescript

fix: accept card payments when 3D Secure data is absent (#715)
  src/Checkout/Card/AbstractCardValidator.php
  tests/Checkout/Card/AbstractCardValidatorTestCase.php
Due: validate openapi typescript

fix: remove route attributes from decorators (#684)
  phpstan.neon.dist
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
Due: validate openapi typescript

fix: some routes create sessions also for store-api requests (#746)
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Checkout/SalesChannel/MethodEligibilityStateService.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/storefront.xml
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  tests/Checkout/SalesChannel/MethodEligibilityStateServiceTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript

chore: prepare 9.13.0 release (10.8.0 backports)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: block Express Checkout on empty cart (#736)
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Exception/EmptyCartException.php
  src/Checkout/Exception/OrderZeroValueException.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

chore: prepare 8.12.0 release (10.8.0 backports)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

Backport 10.8.0 fixes to 6.6.x (9.13.0) (#755)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  phpstan.neon.dist
  src/Checkout/Card/AbstractCardValidator.php
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/Exception/EmptyCartException.php
  src/Checkout/Exception/MissingCountryIdException.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCategoryRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Checkout/SalesChannel/MethodEligibilityStateService.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/config/services/checkout.xml
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
  src/Storefront/Controller/PayPalController.php
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  tests/Checkout/Card/AbstractCardValidatorTestCase.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
  tests/Checkout/SalesChannel/MethodEligibilityStateServiceTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
  tests/Storefront/Data/FundingSubscriberTest.php
Due: validate openapi typescript, eslint (storefront)

Backport 10.8.0 fixes to 6.5.x (8.12.0) (#756)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/Card/AbstractCardValidator.php
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Exception/EmptyCartException.php
  src/Checkout/Exception/MissingCountryIdException.php
  src/Checkout/Exception/OrderZeroValueException.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/OrdersApi/Builder/ACDCOrderBuilder.php
  src/Resources/app/storefront/src/checkout/swag-paypal.google-pay.js
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/storefront.xml
  src/Resources/snippet/storefront/paypal.de-DE.json
  src/Resources/snippet/storefront/paypal.en-GB.json
  src/Storefront/Controller/PayPalController.php
  tests/Checkout/Card/AbstractCardValidatorTestCase.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
  tests/Helper/CheckoutRouteTrait.php
  tests/OrdersApi/Builder/ACDCOrderBuilderTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (storefront)

fix(checkout): preserve Store API eligibility state
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
Due: validate openapi typescript

test(checkout): assert payment error message key
  tests/Checkout/SalesChannel/MethodEligibilityRouteTest.php
Due: none

fix(administration): remove redundant xmlns:svg from PayPal icon [6.6.x]
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
Due: validate openapi typescript, eslint (administration)

fix(administration): remove redundant xmlns:svg from PayPal icon [6.5.x]
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
Due: validate openapi typescript, eslint (administration)

fix(administration): remove redundant xmlns:svg from PayPal icon [6.6.x] (#761)
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
Due: validate openapi typescript, eslint (administration)

fix(administration): remove redundant xmlns:svg from PayPal icon [6.5.x] (#762)
  src/Resources/app/administration/src/app/assets/icons/svg/icons-paypal-multicolor.svg
Due: validate openapi typescript, eslint (administration)

fix: openapi schema
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix(devops): key locale list by position instead of scraped priority
  src/DevOps/Command/LocaleScraperCommand.php
  tests/Util/SupportedLocalesTest.php
Due: validate openapi typescript

fix: upgrade paypal sdk min version
  composer.json
Due: none

fix: regenerate openapi schema files
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: forward-port agentic commerce fixes from 6.6.x backport
  src/AgenticCommerce/Subscriber/ProductFilterSubscriber.php
  src/AgenticCommerce/Tax/AgenticTaxDetector.php
  src/Resources/config/routes.yaml
  src/Resources/config/services/agentic_commerce.xml
Due: validate openapi typescript

fix(devops): key locale list by position instead of scraped priority (#760)
  src/DevOps/Command/LocaleScraperCommand.php
  tests/Util/SupportedLocalesTest.php
Due: validate openapi typescript

fix: forward-port agentic commerce fixes from 6.6.x backport (#763)
  src/AgenticCommerce/Subscriber/ProductFilterSubscriber.php
  src/AgenticCommerce/Tax/AgenticTaxDetector.php
  src/Resources/config/routes.yaml
  src/Resources/config/services/agentic_commerce.xml
Due: validate openapi typescript

fix(snippets): Fix translation and json errors
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
Due: validate openapi typescript, eslint (administration)

fix(snippets): Fix translation and json errors (#764)
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/extension/sw-sales-channel-detail-base/sw-sales-channel-detail-base.html.twig
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-agentic-commerce/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
Due: validate openapi typescript, eslint (administration)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
