Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix: remove isDownloadable method
  src/Util/Availability/AvailabilityContextBuilder.php
Due: validate openapi typescript

fix: moved static class to isAvailable method
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Installment/Banner/InstallmentBannerSubscriber.php
  src/Resources/config/services/express_checkout.xml
  src/Resources/config/services/installment.xml
  src/Util/Lifecycle/Method/PayLaterMethodData.php
  src/Util/PayLaterAvailabilityChecker.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Util/PayLaterAvailabilityCheckerTest.php
Due: validate openapi typescript

fix: hopefully last review change
  src/Util/Availability/AvailabilityContextBuilder.php
  src/Util/Availability/AvailabilityService.php
  tests/Util/Availability/AvailabilityContextBuilderTest.php
Due: validate openapi typescript

fix: hopefully last review change
  src/Storefront/Data/Service/VaultDataService.php
  src/Util/Availability/AvailabilityContextBuilder.php
  src/Util/Availability/AvailabilityService.php
  tests/Storefront/Data/Service/VaultDataServiceTest.php
Due: validate openapi typescript

fix: added changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: telgi review changes
  src/Util/Availability/AvailabilityContextBuilder.php
  src/Util/Lifecycle/Method/PayLaterMethodData.php
Due: validate openapi typescript

build: update jest test environment
  src/Resources/app/administration/jest.config.mjs
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
Due: validate openapi typescript, eslint (administration)

feat: add php-cs-fixer rules
  .gitignore
  .php-cs-fixer.dist.php
  phpstan.neon.dist
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Pos/Api/Common/PosStruct.php
  src/RestApi/PayPalApiStruct.php
  src/Util/IntrospectionProcessor.php
  src/Util/LocaleCodeProvider.php
  tests/OrdersApi/Builder/APMOrderBuilderTest.php
  tests/Pos/Run/PosSyncControllerTest.php
  tests/Pos/Sync/Inventory/RemoteUpdaterTest.php
  tests/Pos/Util/LogCleanerTest.php
  tests/RestApi/PayPalApiStructStructureTest.php
  tests/Storefront/Controller/ApplePayControllerTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
Due: validate openapi typescript

feat: add php-cs-fixer rules (#122)
  .gitignore
  .php-cs-fixer.dist.php
  phpstan.neon.dist
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/Payment/Service/OrderExecuteService.php
  src/Pos/Api/Common/PosStruct.php
  src/RestApi/PayPalApiStruct.php
  src/Util/IntrospectionProcessor.php
  src/Util/LocaleCodeProvider.php
  tests/OrdersApi/Builder/APMOrderBuilderTest.php
  tests/Pos/Run/PosSyncControllerTest.php
  tests/Pos/Sync/Inventory/RemoteUpdaterTest.php
  tests/Pos/Util/LogCleanerTest.php
  tests/RestApi/PayPalApiStructStructureTest.php
  tests/Storefront/Controller/ApplePayControllerTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
Due: validate openapi typescript

fix: nullable order tax status (#110)
  src/OrdersApi/Builder/AbstractOrderBuilder.php
  src/OrdersApi/Builder/Util/ItemListProvider.php
  src/OrdersApi/Patch/PurchaseUnitPatchBuilder.php
Due: validate openapi typescript

feat: add php-cs-fixer rules
  .gitignore
  .php-cs-fixer.dist.php
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Pos/Api/Common/PosStruct.php
  src/RestApi/PayPalApiStruct.php
  src/Util/IntrospectionProcessor.php
  src/Util/LocaleCodeProvider.php
  tests/OrdersApi/Builder/APMOrderBuilderTest.php
  tests/Pos/Run/PosSyncControllerTest.php
  tests/Pos/Sync/Inventory/RemoteUpdaterTest.php
  tests/Pos/Util/LogCleanerTest.php
  tests/RestApi/PayPalApiStructStructureTest.php
  tests/Storefront/Controller/ApplePayControllerTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
Due: validate openapi typescript

fix: openapi schema validation output
  .github/workflows/php.yml
Due: none

feat: add php-cs-fixer rules (#123)
  .github/workflows/php.yml
  .gitignore
  .php-cs-fixer.dist.php
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Pos/Api/Common/PosStruct.php
  src/RestApi/PayPalApiStruct.php
  src/Util/IntrospectionProcessor.php
  src/Util/LocaleCodeProvider.php
  tests/OrdersApi/Builder/APMOrderBuilderTest.php
  tests/Pos/Run/PosSyncControllerTest.php
  tests/Pos/Sync/Inventory/RemoteUpdaterTest.php
  tests/Pos/Util/LogCleanerTest.php
  tests/RestApi/PayPalApiStructStructureTest.php
  tests/Storefront/Controller/ApplePayControllerTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
Due: validate openapi typescript

PPI-1076 - Fix visibility of Express Checkout order ID
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutData.php
Due: validate openapi typescript

PPI-1076 - Fix visibility of Express Checkout order ID (#124)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutData.php
Due: validate openapi typescript

[6.5.x] PPI-1076 - Fix visibility of Express Checkout order ID (#125)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutData.php
Due: validate openapi typescript

[6.6.x] PPI-1076 - Fix visibility of Express Checkout order ID (#126)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/ExpressCheckoutData.php
Due: validate openapi typescript

chore(snippets): Add missing german snippets
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
Due: validate openapi typescript, eslint (administration)

chore(snippets): Add missing german snippets (#127)
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
Due: validate openapi typescript, eslint (administration)

fix: missing admin snippets
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v1/swag-paypal-payment-details-v1.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-payment-details-v2.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/extension/sw-order-detail/sw-order-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-pos/index.js
Due: validate openapi typescript, eslint (administration)

fix: missing admin snippets (#129)
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v1/swag-paypal-payment-details-v1.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/swag-paypal-payment-details-v2.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/extension/sw-order-detail/sw-order-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-payment/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-pos/index.js
Due: validate openapi typescript, eslint (administration)

fix: Fix faulty translation
  src/Resources/app/administration/src/app/snippet/de-DE.json
Due: validate openapi typescript, eslint (administration)

fix: Fix faulty translation (#130)
  src/Resources/app/administration/src/app/snippet/de-DE.json
Due: validate openapi typescript, eslint (administration)

chore!: remove deprecations
  src/Checkout/Card/Exception/CardValidationFailedException.php
  src/Checkout/ExpressCheckout/ExpressCheckoutButtonData.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Checkout/Order/Shipping/Service/ShippingService.php
  src/OrdersApi/Builder/Exception/OrderBuildException.php
  src/OrdersApi/Builder/Util/AddressProvider.php
  src/Pos/Api/Product/VariantOptionDefinitions/Definition.php
  src/Pos/Api/Service/ProductConverter.php
  src/Resources/config/services/resource_v1.xml
  src/Resources/config/services/setting.xml
  src/RestApi/Exception/PayPalApiException.php
  src/RestApi/V1/Resource/CredentialsResource.php
  src/RestApi/V1/Resource/MerchantIntegrationsResource.php
  src/RestApi/V1/Resource/ShippingResource.php
  src/RestApi/V2/Api/Order/PaymentSource.php
  src/RestApi/V2/Api/Order/PaymentSource/Giropay.php
  src/RestApi/V2/Api/Order/PaymentSource/Sofort.php
  src/Setting/Exception/PayPalInvalidApiCredentialsException.php
  src/Setting/Service/ApiCredentialService.php
  src/Setting/Service/ApiCredentialServiceInterface.php
  src/Setting/SettingsController.php
  src/Storefront/Controller/PayPalController.php
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
  src/Storefront/Data/Struct/ACDC/BillingAddress.php
  src/Storefront/Data/Struct/ACDC/CardholderData.php
  src/Storefront/Data/Struct/ACDCCheckoutData.php
  src/Storefront/Data/Struct/AbstractCheckoutData.php
  src/Webhook/Registration/WebhookSystemConfigController.php
  tests/Checkout/Order/Shipping/Service/ShippingServiceTest.php
  tests/PayPal/ApiV1/Resource/CredentialsResourceTest.php
  tests/Setting/Service/ApiCredentialServiceTest.php
Due: validate openapi typescript

chore!: remove feature flag
  src/Resources/config/packages/feature.yaml
  src/Webhook/Registration/WebhookSubscriber.php
  tests/Webhook/Registration/WebhookSystemConfigControllerTest.php
Due: validate openapi typescript

chore!: remove compat config
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
  src/Resources/app/administration/src/app/component/swag-paypal-setting/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-domain-association/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-method-merchant-information/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/component/swag-paypal-payment-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-locale-select/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-sales-channel-switch/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/page/swag-paypal-settings/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-general/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
Due: validate openapi typescript, eslint (administration)

chore!: remove entity definition from extensions
  src/DataAbstractionLayer/Extension/CustomerExtension.php
  src/DataAbstractionLayer/Extension/PaymentMethodExtension.php
  src/Pos/DataAbstractionLayer/Extension/ProductExtension.php
  src/Pos/DataAbstractionLayer/Extension/ProductStreamExtension.php
  src/Pos/DataAbstractionLayer/Extension/SalesChannelExtension.php
Due: validate openapi typescript

fix: phpstan errors
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Resources/config/services/setting.xml
  src/Setting/SettingsController.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/OpenAPISchemaTest.php
  tests/Setting/Exception/PayPalInvalidApiCredentialsExceptionTest.php
  tests/Setting/SettingsControllerTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: validate openapi typescript

fix: deprecations and tests
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Resources/config/services/webhook.xml
  src/Storefront/Data/Struct/AbstractCheckoutData.php
  src/Webhook/Registration/WebhookSubscriber.php
  tests/OpenAPISchemaTest.php
  tests/Pos/Converter/OptionGroupConverterTest.php
  tests/Setting/Service/ApiCredentialServiceTest.php
  tests/Setting/SettingsControllerTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
Due: validate openapi typescript

fix: styling
  src/RestApi/V1/Resource/MerchantIntegrationsResource.php
Due: validate openapi typescript
