Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

chore: bump version
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

feat: convert cart errors (#349)
  src/AgentCommerce/Util/PayPalCartTransformer.php
  src/AgentCommerce/Validation/ValidationIssues.php
Due: validate openapi typescript

fix: prevent extensive invalid order transaction id error messages
  src/Webhook/Exception/WebhookOrderTransactionInvalidIdException.php
  src/Webhook/Handler/AbstractWebhookHandler.php
  src/Webhook/WebhookController.php
Due: validate openapi typescript

chore: bump version (#353)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: bump version (#352)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

chore: bump version (#351)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

fix: prevent extensive invalid order transaction id error messages (#354)
  src/Webhook/Exception/WebhookOrderTransactionInvalidIdException.php
  src/Webhook/Handler/AbstractWebhookHandler.php
  src/Webhook/WebhookController.php
Due: validate openapi typescript

fix: globals dep
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
Due: validate openapi typescript, eslint (administration)

fix: update dep
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: none

fix: JWT token handling according to PayPal
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: playwright version
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
Due: none

fix: ci
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: not blank external_id constraint
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: remove strict count constraints
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

fix: JWT token handling according to PayPal (#359)
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  tests/AgentCommerce/Routing/AgentRequestContextResolverTest.php
Due: validate openapi typescript

feat: Webhook onboarding
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

ecs
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
Due: validate openapi typescript

Cr
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  src/AgentCommerce/Webhook.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

change notification service to repository call
  src/AgentCommerce/Webhook.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

rename new service
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  src/AgentCommerce/WebhookService.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

fix type
  src/AgentCommerce/WebhookService.php
Due: validate openapi typescript

log result
  src/AgentCommerce/WebhookService.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

check empty array
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
Due: validate openapi typescript

chor: fix PHPStan
  phpstan-baseline.neon
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Pos/Api/Common/PosStruct.php
  src/SwagPayPal.php
  src/Util/IntrospectionProcessor.php
  src/Webhook/Registration/WebhookSubscriber.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Helper/ServicesTrait.php
  tests/OrdersApi/Builder/APMOrderBuilderTest.php
  tests/Pos/Run/PosSyncControllerTest.php
  tests/Pos/Sync/CompleteProductTest.php
  tests/Pos/Sync/Inventory/UpdaterTrait.php
  tests/Pos/Webhook/InventoryChangedTest.php
  tests/Pos/Webhook/WebhookControllerTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix stan
  src/Checkout/Cart/Service/ExcludedProductValidator.php
  src/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandler.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Pos/MessageQueue/Handler/Sync/ProductCleanupSyncHandler.php
  src/Pos/Setting/Service/ProductVisibilityCloneService.php
  src/SwagPayPal.php
  src/Util/Lifecycle/State/PaymentMethodStateService.php
Due: validate openapi typescript

baseline 6.7
  phpstan-6.7.0.0.neon.dist
Due: none

Update phpstan-6.7.0.0.neon.dist
  phpstan-6.7.0.0.neon.dist
Due: none

chore: fix PHPStan (#365)
  phpstan-6.7.0.0.neon.dist
  phpstan-baseline.neon
  src/Checkout/Cart/Service/ExcludedProductValidator.php
  src/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandler.php
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Pos/Api/Common/PosStruct.php
  src/Pos/MessageQueue/Handler/Sync/ProductCleanupSyncHandler.php
  src/Pos/Setting/Service/ProductVisibilityCloneService.php
  src/SwagPayPal.php
  src/Util/IntrospectionProcessor.php
  src/Util/Lifecycle/State/PaymentMethodStateService.php
  src/Webhook/Registration/WebhookSubscriber.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
  tests/Helper/ServicesTrait.php
  tests/OrdersApi/Builder/APMOrderBuilderTest.php
  tests/Pos/Run/PosSyncControllerTest.php
  tests/Pos/Sync/CompleteProductTest.php
  tests/Pos/Sync/Inventory/UpdaterTrait.php
  tests/Pos/Webhook/InventoryChangedTest.php
  tests/Pos/Webhook/WebhookControllerTest.php
  tests/Storefront/Data/CheckoutSubscriberTest.php
  tests/Util/Lifecycle/UpdateTest.php
Due: validate openapi typescript

fix phpstan
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
Due: validate openapi typescript

feat: webhook for Agentic Commerce (#362)
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/Subscriber/WebhookSubscriber.php
  src/AgentCommerce/WebhookService.php
  src/Resources/config/services/agent_commerce.xml
Due: validate openapi typescript

fix: JWT algo
  src/AgentCommerce/Routing/AgentRequestContextResolver.php
  src/AgentCommerce/SalesChannel/CreateCartRoute.php
Due: validate openapi typescript

feat: added tests+
  src/AgentCommerce/Validation/ValidationIssues.php
  tests/AgentCommerce/Validation/CartTokenValidatorTest.php
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: validate openapi typescript

feat: added tests+ (#368)
  src/AgentCommerce/Validation/ValidationIssues.php
  tests/AgentCommerce/Validation/CartTokenValidatorTest.php
  tests/AgentCommerce/Validation/ValidationIssuesTest.php
Due: validate openapi typescript

fix(deps): correct labels
  .github/dependabot.yaml
Due: none
