Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: get taxed cart (#601)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: validate openapi typescript

fix: visual POS issues
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-boolean-radio/swag-paypal-pos-boolean-radio.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/swag-paypal-pos-wizard-connection-disconnect.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-customization/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-customization/swag-paypal-pos-wizard-customization.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-product-selection/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-product-selection/swag-paypal-pos-wizard-product-selection.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-sync-library/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-sync-prices/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/swag-paypal-pos-wizard.html.twig
Due: validate openapi typescript, eslint (administration)

Use taxed cart for PayPal order creation and express checkout flows
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: validate openapi typescript

Update CHANGELOG.md version
  CHANGELOG.md
Due: none

Update CHANGELOG_de-DE.md version
  CHANGELOG_de-DE.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update CHANGELOG_de-DE.md
  CHANGELOG_de-DE.md
Due: none

Adjust 6.5.x changelog version
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

Adjust 6.6.x changelog version
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: zero value cart rouding
  CHANGELOG.md
  CHANGELOG_de-DE.md
  phpstan.neon.dist
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Resources/config/services/checkout.xml
  src/Util/PriceFormatter.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: ecs
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
Due: validate openapi typescript

fix: missing order transaction ids in PayPal webhooks (#602)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/AbstractWebhookHandler.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

Fix PayPal API imports in taxed cart tests
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
Due: none

Fix 6.6.x taxed cart test compatibility
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: none

fix: visual POS issues (#608)
  src/Resources/app/administration/src/module/swag-paypal-pos/component/swag-paypal-pos-boolean-radio/swag-paypal-pos-boolean-radio.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-disconnect/swag-paypal-pos-wizard-connection-disconnect.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-customization/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-customization/swag-paypal-pos-wizard-customization.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-product-selection/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-product-selection/swag-paypal-pos-wizard-product-selection.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-sync-library/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-sync-prices/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/index.js
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/swag-paypal-pos-wizard.html.twig
Due: validate openapi typescript, eslint (administration)

Fix 6.5.x taxed cart test compatibility
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: none

fix: ci
  phpstan.neon.dist
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
Due: none

Fix missing RequestDataBag import in 6.5.x test
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
Due: none

[6.5.x] fix: missing order transaction ids in PayPal webhooks (#603)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/AbstractWebhookHandler.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

[6.6.x] fix: missing order transaction ids in PayPal webhooks (#605)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Webhook/Handler/AbstractWebhookHandler.php
  tests/Webhook/Handler/AbstractWebhookHandlerTestCase.php
  tests/Webhook/Handler/CaptureCompletedTest.php
Due: validate openapi typescript

[6.6.x] fix: get taxed cart (#609)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: validate openapi typescript

[6.5.x] fix: get taxed cart (#610)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Checkout/SalesChannel/CreateOrderRoute.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressShippingCallbackServiceTaxedCartTest.php
  tests/Checkout/SalesChannel/CreateOrderRouteTaxedCartTest.php
Due: validate openapi typescript

fix: OpenAPI schema generation
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
Due: none

[6.6.x] feat: shipping express toggle (#599)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/mixin/swag-paypal-settings.mixin.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-webhook/swag-paypal-settings-webhook.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en-GB.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/swag-paypal-webhook.html.twig
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/storefront.xml
  src/Setting/Settings.php
  src/Storefront/Controller/PayPalController.php
  src/Util/Lifecycle/Update.php
  src/Webhook/WebhookService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Mock/PayPal/Client/GuzzleClientMock.php
  tests/OpenAPISchemaTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (administration)

[6.5.x] feat: shipping express toggle (#607)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Checkout/ExpressCheckout/ExpressCheckoutSubscriber.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/swag-paypal-webhook.html.twig
  src/Resources/app/administration/src/module/swag-paypal/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/storefront.xml
  src/Setting/Settings.php
  src/Storefront/Controller/PayPalController.php
  src/Util/Lifecycle/Update.php
  src/Webhook/WebhookService.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Mock/PayPal/Client/GuzzleClientMock.php
  tests/OpenAPISchemaTest.php
  tests/Storefront/Controller/PayPalControllerTest.php
Due: validate openapi typescript, eslint (administration)

fix: zero value cart rouding (#598)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  phpstan.neon.dist
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Resources/config/services/checkout.xml
  src/Util/PriceFormatter.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

chore: update openapi
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
Due: validate openapi typescript

fix: ci
  phpstan.neon.dist
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
Due: none

[6.6.x] fix: zero value cart rouding (#611)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  phpstan.neon.dist
  src/Checkout/Cart/Service/CartPriceService.php
  src/Checkout/Cart/Validation/CartValidator.php
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataService.php
  src/Checkout/SalesChannel/FilteredPaymentMethodRoute.php
  src/Resources/config/services/checkout.xml
  src/Util/PriceFormatter.php
  tests/Checkout/Cart/Service/CartPriceServiceTest.php
  tests/Checkout/ExpressCheckout/ExpressCheckoutSubscriberTest.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
  tests/Checkout/ExpressCheckout/Service/PayPalExpressCheckoutDataServiceTest.php
Due: validate openapi typescript

fix: test
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
Due: none

chore: generate TypeScript schema
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: OpenAPI schema generation (#612)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/Schema/StoreApi/openapi.json
  src/Resources/app/administration/src/types/openapi.d.ts
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTaxedCartTest.php
Due: validate openapi typescript, eslint (administration)

test: implement journey test
  tests/acceptance/page-objects/Storefront/Checkout/PayPalLogin.ts
  tests/acceptance/tests/Checkout/PayWithPayPal.spec.ts
Due: none

fix: correctly serialize expireDateTime in POS token cache (#600)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Pos/Resource/TokenResource.php
  tests/Pos/Resource/TokenResourceTest.php
Due: validate openapi typescript

fix: store release
  .github/workflows/store-release.yml
Due: none

[6.5.x] fix: store release (#613)
  .github/workflows/store-release.yml
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
