Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

PPI-1017 - Fixed storefront error object logging
  src/Resources/app/storefront/src/swag-paypal.abstract-buttons.js
Due: validate openapi typescript, eslint (storefront)

PPI-1016 - Fixed max name length of tracker item
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/RestApi/V2/Api/Order/PurchaseUnit/Shipping/Tracker/Item.php
Due: validate openapi typescript

PPI-1014 - Fix URL decoding for zettle image sync
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Pos/Sync/ImageSyncer.php
  tests/Pos/Sync/ImageSyncerTest.php
Due: validate openapi typescript

PPI-1013 - Improve Zettle product variant behavior
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Pos/Api/Exception/PosConversionException.php
  src/Pos/Api/Product/VariantOptionDefinitions/Definition.php
  src/Pos/Api/Service/ProductConverter.php
  src/Resources/config/services/pos/api.xml
  tests/Pos/Converter/ProductConverterTest.php
  tests/Pos/Mock/Repositories/SalesChannelProductRepoMock.php
  tests/Pos/Sync/CompleteProductTest.php
  tests/Pos/Sync/Product/ProductSyncerTest.php
Due: validate openapi typescript

PPI-1021 - Fixed subdirectory asset loading
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/index.html
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
  src/Resources/app/administration/src/main.ts
Due: validate openapi typescript, eslint (administration)

NTR - Fixed pipeline
  phpstan.neon.dist
Due: none

PPI-1022 - Fix: make Webhook resource-type subscription compatible fixes #46
  src/RestApi/V1/Api/Webhook.php
Due: validate openapi typescript

PPI-1022 - Fixed openapi schema
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

PPI-1023 - Removed "this" from vue template
  src/Resources/app/administration/src/module/extension/sw-extension-card-base/sw-extension-card-base.html.twig
Due: validate openapi typescript, eslint (administration)

PPI-1024 - Fixed authentication result validation for cards
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/Card/ACDCValidator.php
  tests/Checkout/Card/ACDCValidatorTest.php
Due: validate openapi typescript

PPI-930 - Fixed inheritance of settings
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-acdc/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-acdc/swag-paypal-acdc.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-behavior/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-behavior/swag-paypal-behavior.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.spec.js
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-credentials/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-credentials/swag-paypal-credentials.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-cross-border/swag-paypal-cross-border.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-express/swag-paypal-express.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-inherit-wrapper/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-inherit-wrapper/swag-paypal-inherit-wrapper.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-installment/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-installment/swag-paypal-installment.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-plus/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-plus/swag-paypal-plus.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-pui/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-pui/swag-paypal-pui.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-spb/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-spb/swag-paypal-spb.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-vaulting/index.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-vaulting/swag-paypal-vaulting.html.twig
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-vaulting/swag-paypal-vaulting.spec.js
  src/Resources/app/administration/src/module/swag-paypal/index.ts
  src/Resources/app/administration/src/types/system-config.ts
Due: validate openapi typescript, eslint (administration)

NTR - Prepared release
  composer.json
Due: none

NEXT-39783 - Adjust snippets according to crowdin
  src/Resources/app/administration/src/module/swag-paypal/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

PO-489 - Add Github actions
  .github/actions/setup-paypal/action.yml
  .github/workflows/admin.yml
  .github/workflows/intergration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
Due: none

TEMP Test all jobs
  .github/workflows/admin.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
Due: none

PO-489 - Add Github actions
  .github/actions/setup-paypal/action.yml
  .github/workflows/admin.yml
  .github/workflows/intergration.yml
  .github/workflows/php.yml
  .github/workflows/storefront.yml
  composer.json
Due: none

NTR - Fix EntityExtension deprecation
  src/DataAbstractionLayer/Extension/CustomerExtension.php
  src/DataAbstractionLayer/Extension/PaymentMethodExtension.php
  src/Pos/DataAbstractionLayer/Extension/ProductExtension.php
  src/Pos/DataAbstractionLayer/Extension/ProductStreamExtension.php
  src/Pos/DataAbstractionLayer/Extension/SalesChannelExtension.php
Due: validate openapi typescript

PPI-1025 - Prevented duplicate script loading for installment banner
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/app/storefront/src/swag-paypal.script-base.js
  src/Resources/config/services/installment.xml
  tests/Installment/Banner/InstallmentBannerSubscriberTest.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
Due: validate openapi typescript, eslint (storefront)

NEXT-39412 - Adjust PHPStan config, so it is not dependent on the location of PHPStan itself
  phpstan-baseline.neon
  phpstan.neon.dist
  src/DevOps/Command/GenerateOpenApi.php
Due: validate openapi typescript

NTR - Added issue hint
  README.md
Due: none

PPI-1030 - Fixed settings types
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/RestApi/V1/Api/MerchantIntegrations/OauthIntegration.php
  src/RestApi/V1/Api/MerchantIntegrations/OauthIntegration/OauthThirdParty.php
  src/RestApi/V1/Api/MerchantIntegrations/Product.php
Due: validate openapi typescript, eslint (administration)

PPI-1041 - Moved tests to typescript
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/swag-paypal-checkout-method.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout/swag-paypal-checkout.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-cross-border/swag-paypal-cross-border.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-vaulting/swag-paypal-vaulting.spec.ts
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-webhook/swag-paypal-webhook.spec.ts
Due: validate openapi typescript, eslint (administration)

PPI-1041 - Updated lint and test suite
  .github/actions/setup-paypal/action.yml
  .github/workflows/admin.yml
  src/Resources/app/administration/.eslintignore
  src/Resources/app/administration/.eslintrc.js
  src/Resources/app/administration/babel.config.json
  src/Resources/app/administration/eslint.config.mjs
  src/Resources/app/administration/jest.config.mjs
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
  src/Resources/app/administration/tsconfig.json
Due: validate openapi typescript, eslint (administration)

PPI-1043 - Fixed duplicate payment method toggle
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal/components/swag-paypal-checkout-method/index.ts
Due: validate openapi typescript, eslint (administration)

PPI-1045 - Relaxed strict null checks
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-actions/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v1/index.js
  src/Resources/app/administration/src/module/swag-paypal-payment/component/swag-paypal-payment-details-v2/index.js
Due: validate openapi typescript, eslint (administration)

NTR - Fixed pipeline
  src/Resources/app/administration/.eslintrc.js
Due: validate openapi typescript, eslint (administration)

PPI-1031 - Added feature flag
  src/Resources/app/administration/src/main.ts
  src/Resources/config/packages/feature.yaml
Due: validate openapi typescript, eslint (administration)

PPI-1032 - Added settings save route
  src/Resources/config/services/setting.xml
  src/Resources/config/services/webhook.xml
  src/Setting/Service/SettingsSaver.php
  src/Setting/Service/SettingsSaverInterface.php
  src/Setting/Settings.php
  src/Setting/SettingsController.php
  src/Setting/Struct/SettingsInformationStruct.php
  src/Webhook/Registration/WebhookSubscriber.php
  src/Webhook/Registration/WebhookSystemConfigController.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Setting/Service/SettingsSaverTest.php
  tests/Setting/SettingsControllerTest.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
  tests/Webhook/Registration/WebhookSystemConfigControllerTest.php
Due: validate openapi typescript

PPI-1037 - Added swag-paypal-onboarding-button component
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/index.ts
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.html.twig
  src/Resources/app/administration/src/app/component/swag-paypal-onboarding-button/swag-paypal-onboarding-button.scss
  src/Resources/app/administration/src/app/index.ts
  src/Resources/app/administration/src/app/snippet/de-DE.json
  src/Resources/app/administration/src/app/snippet/en-GB.json
  src/Resources/app/administration/src/mixin/swag-paypal-credentials-loader.mixin.ts
  src/Resources/app/administration/src/types/window-paypal.ts
Due: validate openapi typescript, eslint (administration)

PPI-1033 - Added credentials test route
  src/Setting/Service/ApiCredentialService.php
  src/Setting/SettingsController.php
  src/Setting/Struct/MerchantInformationStruct.php
  tests/OpenAPISchemaTest.php
Due: validate openapi typescript
