Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: apple pay in other browsers
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Resources/views/storefront/layout/meta.html.twig
Due: validate openapi typescript

fix: bc
  .bc-exclude.php
Due: none

feat: update apple pay js
  src/Resources/app/storefront/src/helper/paypal-loader.helper.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/types/global.types.ts
  src/Resources/views/storefront/paypal/meta-tags.html.twig
Due: validate openapi typescript, eslint (storefront)

Update PayPalCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: none

[6.6.x] fix: filter cookie provider by active sales channel payment method (#473)
  .github/actions/setup-paypal/action.yml
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/config/services/storefront.xml
  src/Storefront/Framework/Cookie/GooglePayCookieProvider.php
  src/Storefront/Framework/Cookie/PayPalCookieProvider.php
  tests/Storefront/Framework/Cookie/GooglePayCookieProviderTest.php
  tests/Storefront/Framework/Cookie/PayPalCookieProviderTest.php
Due: validate openapi typescript

fix: use sales channel repos
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript

fix: ci
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: none

fix: apple pay
  src/Checkout/SalesChannel/MethodEligibilityRoute.php
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/types/paypal-core-js.ts
  src/Resources/views/storefront/paypal/meta-tags.html.twig
Due: validate openapi typescript, eslint (storefront)

chore: deprecate TokenResourceInterface
  src/Checkout/SalesChannel/ClientTokenRoute.php
  src/Checkout/SalesChannel/CustomerVaultTokenRoute.php
  src/RestApi/V1/Resource/TokenResource.php
  src/RestApi/V1/Resource/TokenResourceInterface.php
  src/Setting/Service/MerchantIntegrationsService.php
  src/Storefront/Data/Service/AbstractCheckoutDataService.php
  src/Storefront/Data/Service/SPBCheckoutDataService.php
  src/Storefront/Data/Service/VenmoCheckoutDataService.php
  tests/Checkout/SalesChannel/CustomerVaultTokenRouteTest.php
Due: validate openapi typescript

fix: test
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
Due: none

fix: change requests
  .bc-exclude.php
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: phpstan
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
Due: none

chore: update logos
  src/Resources/app/administration/src/module/swag-paypal-settings/components/swag-paypal-settings-icon/swag-paypal-settings-icon.html.twig
  src/Resources/config/plugin.png
  src/Resources/config/plugin.svg
Due: validate openapi typescript, eslint (administration)

ci: fix lint script
  .github/workflows/lint.yml
Due: none

fix: avatar
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
Due: validate openapi typescript, eslint (administration)

fix: ci
  .github/workflows/lint.yml
Due: none

fix: pipeline (#487)
  .github/workflows/lint.yml
Due: none

Revert "fix: change requests"
  .bc-exclude.php
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/administration/src/types/openapi.d.ts
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: pipeline
  .bc-exclude.php
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Resources/app/storefront/src/page/swag-paypal.funding-eligibility.js
Due: validate openapi typescript, eslint (storefront)

feat: rename paypal callback to local environment
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Setting/Settings.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript, eslint (administration)

fix: cr
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
Due: validate openapi typescript, eslint (administration)

fix: ci
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: test
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: button size
  src/Resources/app/storefront/src/scss/core-js.scss
Due: validate openapi typescript, eslint (storefront)

fix: naming
  src/Resources/app/storefront/src/base/swag-paypal.base.ts
  src/Resources/app/storefront/src/base/swag-paypal.checkout.ts
  src/Resources/app/storefront/src/base/swag-paypal.express.ts
  src/Resources/app/storefront/src/base/swag-paypal.payment.ts
  src/Resources/app/storefront/src/helper/dependency.helper.ts
  src/Resources/app/storefront/src/helper/element.helper.ts
  src/Resources/app/storefront/src/page/swag-paypal.eligibility.ts
  src/Resources/app/storefront/src/page/swag-paypal.messages.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.apple-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.card-fields.ts
  src/Resources/app/storefront/src/payment/swag-paypal.checkout.google-pay.ts
  src/Resources/app/storefront/src/payment/swag-paypal.express.venmo.ts
Due: validate openapi typescript, eslint (storefront)

fix: icon optimize
  src/Resources/app/administration/static/img/paypal-logo-avatar.svg
  src/Resources/app/administration/static/img/plugin.svg
  src/Resources/config/plugin.svg
  src/Resources/icons/apm_bancontact.svg
  src/Resources/icons/apm_blik.svg
  src/Resources/icons/apm_boletobancario.svg
  src/Resources/icons/apm_eps.svg
  src/Resources/icons/apm_giropay.svg
  src/Resources/icons/apm_ideal.svg
  src/Resources/icons/apm_multibanco.svg
  src/Resources/icons/apm_mybank.svg
  src/Resources/icons/apm_oxxo.svg
  src/Resources/icons/apm_p24.svg
  src/Resources/icons/apm_sofort.svg
  src/Resources/icons/apm_trustly.svg
  src/Resources/icons/apple_pay.svg
  src/Resources/icons/card.svg
  src/Resources/icons/google_pay.svg
  src/Resources/icons/paypal.svg
  src/Resources/icons/pui.svg
  src/Resources/icons/sepa.svg
  src/Resources/icons/venmo.svg
Due: validate openapi typescript, eslint (administration)

feat: update media
  src/Util/Lifecycle/Installer/PaymentMethodInstaller.php
  src/Util/Lifecycle/Update.php
Due: validate openapi typescript

feat: add local environment toggle (#463)
  .bc-exclude.php
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-advanced/swag-paypal-settings-advanced.spec.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/config/services/express_checkout.xml
  src/Setting/Settings.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRouteTest.php
  tests/Webhook/Registration/WebhookSystemConfigHelperTest.php
Due: validate openapi typescript, eslint (administration)

refactor: change changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

feat: add changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

fix: express checkout sales channel country (#484)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Checkout/ExpressCheckout/Service/ExpressShippingCallbackService.php
  src/Resources/config/services/express_checkout.xml
  tests/Checkout/ExpressCheckout/SalesChannel/ExpressPrepareCheckoutRouteTest.php
  tests/Checkout/ExpressCheckout/Service/ExpressCustomerServiceTest.php
Due: validate openapi typescript

fix: add test
  tests/Util/Lifecycle/UpdateTest.php
Due: none

fix: executable rights
  src/Resources/icons/apple_pay.svg
Due: validate openapi typescript

fix: order
  tests/Util/Lifecycle/UpdateTest.php
Due: none

fix: ecs
  src/RestApi/V1/Api/OAuthCredentials.php
Due: validate openapi typescript

fix: add enviroment toggle
  CHANGELOG.md
  CHANGELOG_de-DE.md
  src/Checkout/ExpressCheckout/SalesChannel/ExpressCreateOrderRoute.php
  src/Webhook/Registration/WebhookSystemConfigHelper.php
Due: validate openapi typescript

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
