Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*

fix: express shipping cost discrepancies
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
Due: validate openapi typescript

fix: currency code
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
Due: validate openapi typescript

feat: Un/Install logic [6.6.x] (#675)
  src/Migration/Migration1752337399AddAgenticCommerceSalesChannelType.php
  src/Resources/config/services/util.xml
  src/SwagPayPal.php
  src/Util/Lifecycle/ActivateDeactivate.php
  src/Util/Lifecycle/InstallUninstall.php
  src/Util/Lifecycle/State/AgenticCommerceService.php
  src/Util/Lifecycle/State/PosStateService.php
  tests/Migration/Migration1752337399AddAgenticCommerceSalesChannelTypeTest.php
  tests/Util/Lifecycle/ActivateDeactivateTest.php
  tests/Util/Lifecycle/InstallUninstallTest.php
  tests/Util/Lifecycle/State/AgenticCommerceServiceTest.php
  tests/Util/Lifecycle/State/PosStateServiceTest.php
Due: validate openapi typescript

fix: express shipping cost discrepancies (#685)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
Due: validate openapi typescript

[6.6.x] fix: express shipping cost discrepancies (#686)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
Due: validate openapi typescript

[6.5.x] fix: express shipping cost discrepancies (#687)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
Due: validate openapi typescript

fix: express shipping net prices
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  tests/OrdersApi/Builder/Util/ShippingOptionsProviderTest.php
Due: validate openapi typescript

fix: ci
  tests/OrdersApi/Builder/Util/ShippingOptionsProviderTest.php
Due: none

fix: covers class
  tests/OrdersApi/Builder/Util/ShippingOptionsProviderTest.php
Due: none

fix: express shipping net prices (#690)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  tests/OrdersApi/Builder/Util/ShippingOptionsProviderTest.php
Due: validate openapi typescript

[6.6.x] fix: express shipping net prices (#691)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  tests/OrdersApi/Builder/Util/ShippingOptionsProviderTest.php
Due: validate openapi typescript

[6.5.x] fix: express shipping net prices (#692)
  CHANGELOG.md
  CHANGELOG_de-DE.md
  composer.json
  src/OrdersApi/Builder/Util/ShippingOptionsProvider.php
  tests/OrdersApi/Builder/Util/ShippingOptionsProviderTest.php
Due: validate openapi typescript

feat: Filter agentic sales channel type [6.6.x] (#676)
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/index.ts
  src/Resources/app/administration/src/module/extension/sw-sales-channel-modal-grid/sw-sales-channel-modal-grid.spec.ts
Due: validate openapi typescript, eslint (administration)

fix: country not supported for smart payment buttons
  src/Checkout/Exception/MissingCountryIdException.php
  src/Checkout/ExpressCheckout/Service/ExpressCustomerService.php
  src/Resources/snippet/paypal.de.json
  src/Resources/snippet/paypal.en.json
  src/Storefront/Controller/PayPalController.php
Due: validate openapi typescript

fix: skip eslint and typescript major upgrades
  src/Resources/app/administration/package-lock.json
  src/Resources/app/administration/package.json
Due: validate openapi typescript, eslint (administration)

fix: satisfy trunk phpstan rules
  src/Storefront/Data/Service/FundingEligibilityDataService.php
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
Due: validate openapi typescript

fix: apply php cs fixer
  tests/Checkout/PUI/ScheduledTask/PUIInstructionsFetchTaskHandlerTest.php
Due: none

refactor: extract installment banner template
  src/Resources/views/storefront/component/buy-widget/buy-widget.html.twig
  src/Resources/views/storefront/component/checkout/offcanvas-cart.html.twig
  src/Resources/views/storefront/layout/footer/footer.html.twig
  src/Resources/views/storefront/page/checkout/address/index.html.twig
  src/Resources/views/storefront/page/checkout/cart/index.html.twig
  src/Resources/views/storefront/page/product-detail/buy-widget.html.twig
  src/Resources/views/storefront/paypal/installment-banner.html.twig
Due: validate openapi typescript

refactor: throw custom exception and handle error in js
  src/Checkout/Exception/MissingCountryIdException.php
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
  src/Storefront/Controller/PayPalController.php
Due: validate openapi typescript, eslint (storefront)

refactor: catch PayPalApiException as well
  src/Storefront/Controller/PayPalController.php
Due: validate openapi typescript

fix: change request
  src/Resources/app/storefront/src/page/swag-paypal.express-checkout.js
Due: validate openapi typescript, eslint (storefront)

feat: add installment banner appearance settings with admin preview
  src/Installment/Banner/BannerData.php
  src/Installment/Banner/Service/BannerDataService.php
  src/Resources/app/administration/src/app/snippet/de.json
  src/Resources/app/administration/src/app/snippet/en.json
  src/Resources/app/administration/src/app/store/settings.fixture.ts
  src/Resources/app/administration/src/constant/swag-paypal-settings.constant.ts
  src/Resources/app/administration/src/mixin/swag-paypal-settings.mixin.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/de.json
  src/Resources/app/administration/src/module/swag-paypal-settings/snippet/en.json
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/index.spec.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/index.ts
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/swag-paypal-settings-banner-preview.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-banner-preview/swag-paypal-settings-banner-preview.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.html.twig
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.scss
  src/Resources/app/administration/src/module/swag-paypal-settings/view/swag-paypal-settings-storefront/swag-paypal-settings-storefront.spec.ts
  src/Resources/app/administration/src/types/system-config.ts
  src/Resources/app/storefront/src/page/swag-paypal.installment-banner.js
  src/Setting/Settings.php
  tests/Installment/Banner/Service/BannerDataServiceTest.php
Due: validate openapi typescript, eslint (administration), eslint (storefront)

fix: align phpstan assertion checks
  tests/Pos/Sync/CompleteProductTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
  tests/Webhook/WebhookControllerTest.php
Due: none

fix: align phpstan assertion checks (#708)
  tests/Pos/Sync/CompleteProductTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
  tests/Webhook/Registration/WebhookSubscriberTest.php
  tests/Webhook/WebhookControllerTest.php
Due: none
