Repository shopware/SwagPayPal: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate openapi typescript, eslint (administration), eslint (storefront)

validate openapi typescript:
  stage: build
  needs: []
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - composer init:admin
  - composer openapi:generate
  - git update-index --refresh || printf ''
  ...

eslint (administration):
  stage: test
  needs: []
  variables:
    ADMIN_PATH: $CI_PROJECT_DIR/src/Administration/Resources/app/administration
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Administration/Resources/app/administration --no-audit --prefer-offline
  ...

eslint (storefront):
  stage: test
  needs: []
  variables:
    STOREFRONT_PATH: $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront
  script:
  - $CI_PROJECT_DIR/bin/console bundle:dump
  - npm ci --prefix $CI_PROJECT_DIR/src/Storefront/Resources/app/storefront --no-audit --prefer-offline
  - composer init:storefront
  ...

fix: openapi schema with openapi-ts v7
  src/DevOps/Command/GenerateOpenApi.php
  src/DevOps/Command/Polyfill/Error.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/app/administration/.gitignore
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

fix: lint
  src/DevOps/Command/Polyfill/Error.php
Due: validate openapi typescript

fix: openapi schema with openapi-ts v7 (#237)
  src/DevOps/Command/GenerateOpenApi.php
  src/DevOps/Command/Polyfill/Error.php
  src/Resources/Schema/AdminApi/openapi.json
  src/Resources/app/administration/.gitignore
  src/Resources/app/administration/src/types/openapi.d.ts
Due: validate openapi typescript, eslint (administration)

refactor: simplify workflow naming
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/store-release.yml
  .github/workflows/storefront.yml
  .github/workflows/weekly.yml
Due: none

fix: add names
  .github/workflows/admin.yml
  .github/workflows/integration.yml
  .github/workflows/php.yml
  .github/workflows/store-release.yml
  .github/workflows/storefront.yml
  .github/workflows/weekly.yml
Due: none

PHPStan + ignore .tmp
  src/Pos/MessageQueue/Handler/InventoryUpdateHandler.php
  src/Resources/app/administration/.gitignore
Due: validate openapi typescript, eslint (administration)

feat: add acceptance tests
  .github/actions/setup-paypal/action.yml
  .github/dependabot.yaml
  .github/workflows/acceptance.yml
  .github/workflows/integration.yml
  src/Resources/app/administration/src/app/component/swag-paypal-setting/swag-paypal-setting.html.twig
  src/Resources/app/administration/src/types/system-config.ts
  tests/acceptance/.gitignore
  tests/acceptance/README.md
  tests/acceptance/data-fixtures/DataFixtures.ts
  tests/acceptance/eslint.config.ts
  tests/acceptance/fixtures/AcceptanceTest.ts
  tests/acceptance/global.types.ts
  tests/acceptance/nixos-playwright.sh
  tests/acceptance/package-lock.json
  tests/acceptance/package.json
  tests/acceptance/page-objects/Administration/Order/OrderDetail.ts
  tests/acceptance/page-objects/Administration/PayPalDisputes/PayPalDisputesDetail.ts
  tests/acceptance/page-objects/Administration/PayPalDisputes/PayPalDisputesListing.ts
  tests/acceptance/page-objects/Administration/PayPalSettings/PayPalSettings.ts
  tests/acceptance/page-objects/Administration/Payment/PaymentListing.ts
  tests/acceptance/page-objects/Administration/Shipping/ShippingDetail.ts
  tests/acceptance/page-objects/AdministrationPages.ts
  tests/acceptance/page-objects/Storefront/Checkout/CheckoutConfirm.ts
  tests/acceptance/page-objects/StorefrontPages.ts
  tests/acceptance/playwright.config.ts
  tests/acceptance/tasks/ShopAdmin/PayPalSettings/.gitkeep
  tests/acceptance/tasks/ShopAdmin/Payment/.gitkeep
  tests/acceptance/tasks/ShopAdmin/Shipping/SetStandardCarrier.ts
  tests/acceptance/tasks/ShopAdminTasks.ts
  tests/acceptance/tasks/ShopCustomer/Checkout/FillPaymentACDC.ts
  tests/acceptance/tasks/ShopCustomer/Checkout/SelectPaymentOption.ts
  tests/acceptance/tasks/ShopCustomerTasks.ts
  tests/acceptance/tests/Checkout/.gitkeep
  tests/acceptance/tests/Disputes/.gitkeep
  tests/acceptance/tests/Onboarding/.gitkeep
  tests/acceptance/tests/Payment/.gitkeep
  tests/acceptance/tests/Settings/ShippingCarrier.spec.ts
  tests/acceptance/tests/Vaulting/.gitkeep
  tests/acceptance/tests/paypal-account.setup.ts
  tests/acceptance/tsconfig.json
Due: validate openapi typescript, eslint (administration)

feat: advanced caching
  .github/actions/setup-acceptance/action.yml
  .github/workflows/acceptance.yml
  tests/acceptance/README.md
  tests/acceptance/playwright.config.ts
Due: none

fix: switch steps
  .github/actions/setup-acceptance/action.yml
Due: none

fix: eslint and reset hook
  tests/acceptance/nix-playwright.sh
  tests/acceptance/package.json
  tests/acceptance/tests/before-each.spec.ts
Due: none

feat: add bc-checker
  .bc-exclude.php
  .github/actions/setup-paypal/action.yml
  .github/workflows/php.yml
  composer.json
  src/DevOps/Rector/ClassCheckoutPackageRector.php
Due: validate openapi typescript

fix: remove rector from phpstan
  phpstan.neon.dist
Due: none

feat: fallback to install zip
  .github/workflows/acceptance.yml
Due: none

fix: formatting
  composer.json
Due: none

feat: remove delay message stamp (#236)
  src/Pos/DataAbstractionLayer/Entity/PosSalesChannelInventoryEntity.php
  src/Pos/DataAbstractionLayer/Entity/PosSalesChannelProductEntity.php
  src/Pos/MessageQueue/Handler/InventoryUpdateHandler.php
  src/Pos/MessageQueue/Manager/InventorySyncManager.php
  src/Pos/MessageQueue/Message/InventoryUpdateMessage.php
  src/Pos/Sync/Inventory/StockSubscriber.php
  src/Resources/config/services/pos/sync.xml
  tests/Pos/MessageQueue/Handler/InventoryUpdateHandlerTest.php
  tests/Pos/Sync/Inventory/StockSubscriberTest.php
Due: validate openapi typescript

fix: chevron icon size fixes shopware/shopware#9740
  src/Resources/app/administration/src/module/swag-paypal-settings/page/swag-paypal-settings/swag-paypal-settings.html.twig
Due: validate openapi typescript, eslint (administration)

fix: chevron icon size (#241)
  src/Resources/app/administration/src/module/swag-paypal-settings/page/swag-paypal-settings/swag-paypal-settings.html.twig
Due: validate openapi typescript, eslint (administration)

feat: add bc-checker (#238)
  .bc-exclude.php
  .github/actions/setup-paypal/action.yml
  .github/workflows/php.yml
  composer.json
  phpstan.neon.dist
  src/DevOps/Rector/ClassCheckoutPackageRector.php
Due: validate openapi typescript

feat: add bc-checker
  .bc-exclude.php
  .github/actions/setup-paypal/action.yml
  .github/workflows/php.yml
  composer.json
  phpstan.neon.dist
  src/DevOps/Rector/ClassCheckoutPackageRector.php
Due: validate openapi typescript

feat: add secret management
  .github/workflows/acceptance.yml
  tests/acceptance/README.md
  tests/acceptance/fixtures/AcceptanceTest.ts
  tests/acceptance/global.types.ts
  tests/acceptance/package.json
  tests/acceptance/services/PayPalDataProvider.ts
  tests/acceptance/services/Services.ts
  tests/acceptance/tests/paypal-account.setup.ts
  tests/acceptance/tsconfig.json
Due: none

feat: add bc-checker
  .bc-exclude.php
  .github/workflows/php.yml
  composer.json
  phpstan.neon.dist
  src/DevOps/Rector/ClassCheckoutPackageRector.php
Due: validate openapi typescript

feat: add bc-checker (#242)
  .bc-exclude.php
  .github/actions/setup-paypal/action.yml
  .github/workflows/php.yml
  composer.json
  phpstan.neon.dist
  src/DevOps/Rector/ClassCheckoutPackageRector.php
Due: validate openapi typescript

fix: secrets to env
  .github/workflows/acceptance.yml
Due: none

fix: env errors
  tests/acceptance/playwright.config.ts
  tests/acceptance/services/PayPalDataProvider.ts
Due: none

fix: remove kebab conversion
  tests/acceptance/README.md
  tests/acceptance/services/PayPalDataProvider.ts
  tests/acceptance/tests/paypal-account.setup.ts
Due: none

fix: typo
  tests/acceptance/tasks/ShopCustomer/Checkout/FillPaymentACDC.ts
Due: none

fix: payment method detail extensions fixes shopware/shopware#10068
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-plugin-box/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-plugin-box/sw-plugin-box.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

fix: skeleton bar margin override
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
Due: validate openapi typescript, eslint (administration)

fix: payment method detail extensions (#248)
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-plugin-box/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-plugin-box/sw-plugin-box.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.html.twig
  src/Resources/app/administration/src/module/swag-paypal-method/extension/sw-settings-payment/sw-settings-payment-detail/sw-settings-payment-detail.scss
  src/Resources/app/administration/src/module/swag-paypal-method/index.ts
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/de-DE.json
  src/Resources/app/administration/src/module/swag-paypal-method/snippet/en-GB.json
Due: validate openapi typescript, eslint (administration)

fix: skeleton bar margin override (#249)
  src/Resources/app/administration/src/module/swag-paypal-method/view/swag-paypal-method-card/swag-paypal-method-card.scss
Due: validate openapi typescript, eslint (administration)

fix: zettle setup modal styling fixes #246
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-settings/swag-paypal-pos-detail-settings.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/swag-paypal-pos-wizard-connection-success.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/swag-paypal-pos-wizard-connection-success.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/swag-paypal-pos-wizard.scss
Due: validate openapi typescript, eslint (administration)

fix: zettle setup modal styling (#250)
  src/Resources/app/administration/src/module/swag-paypal-pos/page/swag-paypal-pos-detail-settings/swag-paypal-pos-detail-settings.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/swag-paypal-pos-wizard-connection-success.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection-success/swag-paypal-pos-wizard-connection-success.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.html.twig
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard-connection/swag-paypal-pos-wizard-connection.scss
  src/Resources/app/administration/src/module/swag-paypal-pos/page/wizard/swag-paypal-pos-wizard/swag-paypal-pos-wizard.scss
Due: validate openapi typescript, eslint (administration)

chore: bump version
  composer.json
Due: none

chore: bump version (#251)
  composer.json
Due: none

chore: bump changelog
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

chore: bump changelog (#252)
  CHANGELOG.md
  CHANGELOG_de-DE.md
Due: none

chore: bump version (#253)
  composer.json
Due: none

Path conditions:
  validate openapi typescript: any of: src/**/*
  eslint (administration): any of: src/Resources/app/administration/**/*
  eslint (storefront): any of: src/Resources/app/storefront/**/*
